<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">timeStamps</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Rl1iPyUu_0w">jarSigning</a></li>
    <li><a href="https://www.digistamp.com/">digiStamp</a></li>
    <li><a href="https://www.digistamp.com/technical/software-alternatives/using-openssl-to-request-timestamps">openSsl</a></li>
    <li><a href="https://letsencrypt.org/">letsEncrypt</a></li>
    <li><a href="http://letsencrypt.readthedocs.org/en/latest/index.html">docs</a></li>
    <li><a href="https://www.digitalocean.com/community/tutorials/how-to-secure-apache-with-let-s-encrypt-on-ubuntu-14-04">apache</a></li>
    <li><a href="http://clearleft.com/thinks/357">letsEncrypt</a></li>
    <li><a href="https://www.youtube.com/watch?v=MXcwB0yM0Bk">tstamp</a></li>
  </ul>
 </li>
  <li><a href="#">validators</a>
   <ul class="sites">
    <li><a href="https://www.w3.org/">w3</a></li>  
    <li><a href="https://dev.w3.org/html5/html-author/charref">entityRef</a></li>  
    <li><a href="https://www.w3.org/WAI/test-evaluate/preliminary/">w3WaiTest</a></li>
    <li><a href="https://www.w3.org/WAI/tips/">w3WaiTips</a></li>
    <li><a href="https://validator.w3.org/i18n-checker/">i18n-checker</a></li>
    <li><a href="https://validator.w3.org/checklink">checkLinkValidator</a></li>
    <li><a href="https://validator.w3.org/unicorn/">unicornValidator</a></li>
    <li><a href="https://validator.w3.org/">w3Validator</a></li>
  </ul>
 </li>
  <li><a href="html5.html">html5</a>
   <ul class="sites">
    <li><a href="html5.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="javaScript.html">javaScript</a>
   <ul class="sites">
    <li><a href="javaScript.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">css3</a>
   <ul class="sites">
    <li><a href="http://www.w3.org/Style/CSS/specs.en.html#background">specs</a></li>
    <li><a href="http://www.script-tutorials.com/css3-vertical-multicolor-3d-menu/">tutorials</a></li>
    <li><a href="http://tutorialzine.com/2010/06/css3-minimalistic-navigation-menu/">menu</a></li>
    <li><a href="http://w3schools.invisionzone.com/index.php?showtopic=50618">3rdTier</a></li>
    <li><a href="http://www.bypeople.com/menu-css/">81menus</a></li>
    <li><a href="https://www.youtube.com/watch?v=yfoY53QXEnI">crashC</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GbWeRARcVBM">oneMnth</a></li>  
    <li><a href="https://www.youtube.com/watch?v=pmKyG3NBY_k">oneMnth-1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yfoY53QXEnI&t=39s">cssBeg</a></li>  
    <li><a href="https://www.youtube.com/watch?v=k32voqQhODc">cssFlexbx</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0GcTUor2ANw">cssReset</a></li>
    <li><a href="https://jigsaw.w3.org/css-validator/">cssValidator</a></li>
    <li><a href="https://google.github.io/styleguide/htmlcssguide.html">styleGuide</a></li>
  </ul>
 </li>
  <li><a href="python.html">python</a>
   <ul class="sites">
    <li><a href="python.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="java.html">java</a>
   <ul class="sites">
    <li><a href="java.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="cEtc.html">cEtc</a>
   <ul class="sites">
    <li><a href="cEtc.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">mchLng</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=5u4G23_OohI">mlang2</a></li>              
    <li><a href="https://www.youtube.com/watch?v=GtP6CUEHDhY">mlang3</a></li>            
    <li><a href="https://www.youtube.com/watch?v=nLKOQfKLUks">mlang4</a></li>            
    <li><a href="https://www.youtube.com/watch?v=ViNnfoE56V8">assmbly</a></li>             
    <li><a href="http://www.nasm.us/doc/">manual</a></li>
    <li><a href="https://www.youtube.com/watch?v=_JG4b7E_6-E">video</a></li>
    <li><a href="https://www.youtube.com/watch?v=ViNnfoE56V8">assbly&RPI</a></li>  
  </ul>
 </li>
  <li><a href="work.html">work</a>
   <ul class="sites">
    <li><a href="work.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="more.html">more</a>
   <ul class="sites">
    <li><a href="more.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="default.shtml">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>
 