<ul id="bookmarks">
  <li><a href="#">batteries</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=3K8JIC-ov_Y">superCap</a></li>  
    <li><a href="https://www.youtube.com/watch?v=L-Z9tcoq2nQ">batteries</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tbEfhPbqTDE">deadBatt</a></li>   
    <li><a href="https://www.youtube.com/watch?v=9CCQicHwfDI">pcieSata</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ibo6XvuEM54">andBatt</a></li>
    <li><a href="https://www.youtube.com/watch?v=Nzi3iszxJ9E">aaCharge</a></li>
    <li><a href="https://www.youtube.com/watch?v=MUfxuOv0ZKg">niCads</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Yz8VcDWgpIM">noCharge50d</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aWoBSthN3FM">fixBattLeak</a></li>  
    <li><a href="https://www.youtube.com/watch?v=HCIlaXaVeF0">lithiumLie</a></li>  
  </ul>
 </li>
  <li><a href="#">moreBatts</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=lZEzFP0RwOE">carBattery</a></li>
    <li><a href="https://www.youtube.com/watch?v=MdhyOFeOqyE&t=106s">lithium</a></li> 
    <li><a href="https://www.youtube.com/watch?v=BtzrO9oOHuI">inverter</a></li>    
    <li><a href="https://www.youtube.com/watch?v=NeFSqjIrlbo">chrgLthium</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WHMEC4KrIy8">charger</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1GEPL5xa3IU">btryLter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ryJmtItfaXQ">eStorage</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Mzq_qWIhamQ">crstlCells</a></li>  
  </ul>
 </li>
 <li><a href="../electronics/index.html">&#160;&#160;&#60;--</a></li>
</ul>

