<ul id="bookmarks">
  <li><a href="#">salvage</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=yQ1Rb71VM5s">cdPlyerUses</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tK_PPoFnCsU">salvageLsr</a></li>
    <li><a href="https://www.youtube.com/watch?v=WhXRlrfhuOg">radioRepair</a></li>
    <li><a href="https://www.youtube.com/watch?v=GoScdgkOA8E">recovery</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Lzsr6uuXuRM">NtDstroy</a></li>
    <li><a href="https://www.youtube.com/watch?v=tK_PPoFnCsU">salvPrinters</a></li>
    <li><a href="https://www.youtube.com/watch?v=N7rqewjD2Ek">transformer</a></li>
    <li><a href="https://www.youtube.com/watch?v=BNsog7yEaCM">fixTheTv</a></li>
    <li><a href="https://www.youtube.com/watch?v=XDY2MYzvDIM">tvSalvage</a></li>
    <li><a href="https://www.youtube.com/watch?v=tK_PPoFnCsU&t=2s">moreParts</a></li>
    <li><a href="https://www.youtube.com/watch?v=AwcQsbgy7AY">laser</a></li>  
  </ul>
 </li>
  <li><a href="#">tools1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=cL8FHz-TOzQ">tools</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9xk76e7nzcw">makeFlux</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5h2NPkdzRyY">hisFlux</a></li>  
    <li><a href="https://www.youtube.com/watch?v=se2BTK-TaPs">solderStation</a></li>
    <li><a href="https://www.youtube.com/watch?v=9Tb6gAqj5vo">resistorIron</a></li>
    <li><a href="https://www.youtube.com/watch?v=fb40EvbuHP4">inductionHtr</a></li>
    <li><a href="https://www.youtube.com/watch?v=IXmw7lxE0lA">instantIron</a></li>  
    <li><a href="https://www.youtube.com/watch?v=dlJLF_MAg30">solderingPot</a></li>
    <li><a href="https://www.youtube.com/watch?v=qJ8kTnOok7s">desoldPump</a></li>
    <li><a href="https://www.youtube.com/watch?v=Nb78wF1Tkwc">desoldering</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tPuKu5J-_64">microWveWelder</a></li> 
    <li><a href="https://www.youtube.com/watch?v=4UgBG0oFAwU">spotWelder</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cfnkspmKXHU">drillRest</a></li>   
  </ul>
 </li>
  <li><a href="#">tools2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=vgYLR1Rp5tI">indSolding</a></li>
    <li><a href="https://www.youtube.com/watch?v=cPnL0OvNMnY">spotWelder</a></li>
    <li><a href="https://www.youtube.com/watch?v=i5MNLTc7YhY">hotAirRework</a></li>  
    <li><a href="https://www.youtube.com/watch?v=uVkJqqZroN0">probe</a></li>  
    <li><a href="https://www.youtube.com/watch?v=iYKCqYJyrkQ">makeSIron</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ZypXa9BDXHw">hotAirSldr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=8qKws4rM4i4">makeIron</a></li>  
    <li><a href="https://www.youtube.com/watch?v=lxxS6rvrk3o">oScope</a></li> 
    <li><a href="https://www.youtube.com/watch?v=aEn3Wb_zrts">sandSolder</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OJh_Tb2V7TM">wldingMach</a></li>  
    <li><a href="https://www.youtube.com/watch?v=F6GbesTHZLc">boltHeater</a></li> 
  </ul>
 </li>
  <li><a href="#">bench1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=LColZ8MOtd0">tubeAmp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=J31nVC0ms0w">tubeRadio</a></li> 
    <li><a href="https://www.youtube.com/watch?v=iFO3EiQbNJ8">vdeoPrts</a></li>
    <li><a href="https://www.youtube.com/watch?v=FREKQ0_kyn4">noPower</a></li>  
    <li><a href="https://www.youtube.com/watch?v=w37QV0EZXQI">graphicsChip</a></li>
    <li><a href="https://www.youtube.com/watch?v=DwbLFvMItkU">screenReplace</a></li>  
    <li><a href="https://www.youtube.com/watch?v=piwGOaVPavU">hdmiRepair</a></li>
    <li><a href="https://www.youtube.com/watch?v=g7jFGOn6xfU">varFreq</a></li> 
    <li><a href="https://www.youtube.com/watch?v=P1D2_6gCysM">troubleShoot</a></li> 
    <li><a href="https://www.youtube.com/watch?v=qsrMkde23s0">cncPower</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZlSciHdvH8w">probeCircuit</a></li>  
  </ul>
 </li>
  <li><a href="#">bench2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=LbpqkiaO7q4">buildPC</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hqgQs6NcD6A">buildStereo</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2RUe5m8Z0MY">monitorFix</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YNxtXoY2FH4">hardUpJob</a></li>  
    <li><a href="https://www.youtube.com/watch?v=KvsGCTE7kn4">Workflow</a></li>  
    <li><a href="https://www.youtube.com/watch?v=VZPILZz_RR0">boardDiagram</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kND-Za4rh8U">onThenoff</a></li>  
    <li><a href="https://www.youtube.com/watch?v=6rn3p4YlNB4">yamaha</a></li>  
    <li><a href="https://www.youtube.com/watch?v=T507jHLQFnQ">carAmp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Pjb0ZcHe03o">carAmp2</a></li> 
  </ul>
 </li>
  <li><a href="#">bench3</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=78VXLVZckIQ">hmRadio</a></li>  
    <li><a href="https://www.youtube.com/watch?v=jey8NmffhTo">modBoards</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2_lswM1S264">testing</a></li>
    <li><a href="https://www.youtube.com/watch?v=RHv7EPef2E4">vedolyzer</a></li>
    <li><a href="https://www.youtube.com/watch?v=xJUOb1fFPsI">vga-av</a></li>
    <li><a href="https://www.youtube.com/watch?v=ydR61OiECWg">fixingE</a></li>  
    <li><a href="https://www.youtube.com/watch?v=JPm5eQdJm38">ampFix</a></li>  
    <li><a href="https://www.youtube.com/watch?v=fAewkVXWTwk">buildAmp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OWXbdCz-AiY">belmnt</a></li>  
  </ul>
 </li>
  <li><a href="#">bench4</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=EFKDID3Ehhc">preAmp</a></li>
    <li><a href="https://www.youtube.com/watch?v=-kIZJUWT3cs">tubeGain</a></li>
    <li><a href="https://www.youtube.com/watch?v=_6QIutZfsFs">solarTracket</a></li>  
    <li><a href="https://www.youtube.com/watch?v=wL9PcGu_xrA">""fromNasa</a></li>  
    <li><a href="https://www.youtube.com/watch?v=P3Wh41Mbf9A">oldRadio</a></li>  
    <li><a href="https://www.youtube.com/watch?v=z3Mdc5qQx8k">testIbgt</a></li>   
    <li><a href="https://www.youtube.com/watch?v=aAwSnsjIBdU">transceiver</a></li> 
    <li><a href="https://www.youtube.com/watch?v=LC7OjuYAOQE">electDiagnosis</a></li>  
  </ul>
 </li>
  <li><a href="#">bench5</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=y7biXzEz4lQ">IceTeardown</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9QzklSyKqQM">sdrReceiver</a></li>    
    <li><a href="https://www.youtube.com/watch?v=AlfJ1dxTuWI">sony</a></li>  
    <li><a href="https://www.youtube.com/watch?v=6P4C9at5rV8">bench</a></li>  
    <li><a href="https://www.youtube.com/watch?v=gnLX2qD6g3w">switching</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9gYaB1AGmT8">inCircuitE</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Omo3XvhsKd0">yaesu</a></li>   
  </ul>
 </li>
  <li><a href="../moreBench/index.html">more</a>
   <ul class="sites">
    <li><a href="../moreBench/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../moreElectronics/index.html">&#160;&#160;&#60;--</a></li>
</ul>

