<ul id="bookmarks">
  <li><a href="#">calculus</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=TzDhdvVg9_c">calc5thGrd</a></li>  
    <li><a href="https://www.youtube.com/watch?v=CfW845LNObM">calculus</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Q1575oHNYRo">problem</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GtP6CUEHDhY">calc</a></li>  
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-01sc-single-variable-calculus-fall-2010/1.-differentiation/part-a-definition-and-basic-rules/session-1-introduction-to-derivatives/">introCalc</a></li>
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-01-single-variable-calculus-fall-2006/video-lectures/">video</a></li>
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-02sc-multivariable-calculus-fall-2010/1.-vectors-and-matrices/part-a-vectors-determinants-and-planes/session-1-vectors/">vectors</a></li>
    <li><a href="https://www.youtube.com/watch?v=xGhdatEGsZw">calcProb</a></li>  
    <li><a href="https://www.youtube.com/watch?v=CfW845LNObM">calcQ</a></li>  
    <li><a href="https://www.youtube.com/watch?v=E6Pz2X0XORw">calcSubstn</a></li>
    <li><a href="https://www.youtube.com/watch?v=E_ecLWj_rcM">notByParts</a></li>  
    <li><a href="https://www.youtube.com/watch?v=jSRKQ19d-nc">polyIntgl</a></li>   
    <li><a href="https://www.youtube.com/watch?v=2EAWpaZmH7k">soalIngral</a></li>  
  </ul>
 </li>
  <li><a href="#">crossProduct</a>
   <ul class="sites">
    <li><a href="https://www.google.com/search?client=ubuntu&espv=2&btnG=Search&q=vector+cross+product&oq=&gs_l=">google</a></li>
    <li><a href="https://www.mathsisfun.com/algebra/vectors-cross-product.html">primer</a></li>
    <li><a href="https://youtu.be/qsgK1d-_8ik?t=14">class</a></li>
    <li><a href="https://www.youtube.com/watch?v=HtSuA80QTyo">intro</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rB83DpBJQsE">div&curl</a></li>  
  </ul>
 </li>
  <li><a href="#">spanish</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=hFGRELe3hrw">calcSpan</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hFGRELe3hrw">calcSpa</a></li>
  </ul>
 </li>
  <li><a href="#">diffEq</a>
   <ul class="sites">
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-303-linear-partial-differential-equations-fall-2006/">diffEq</a></li>
    <li><a href="https://www.youtube.com/watch?v=XDhJ8lVGbl8">diffEq</a></li>    
    <li><a href="https://ocw.mit.edu/courses/mathematics/18-03-differential-equations-spring-2010/">diffEq</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ToIXSwZ1pJU">solve diff heat eq</a></li> 
    <li><a href="https://www.youtube.com/watch?v=p_di4Zn4wz4">diffEq</a></li>  
 
  </ul>
 </li>
 <li><a href="../math/index.html">&#160;&#160;&#60;--</a></li>
</ul>
