<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">calendarProgs</a>
   <ul class="sites">
    <li><a href="https://answers.yahoo.com/question/index?qid=20130215062017AAWVMOP">calculator</a></li>
    <li><a href="http://www.java2s.com/Code/JavaScript/GUI-Components/DynamicHTMLCalendar.htm">dynamic</a></li>
    <li><a href="http://www.date4j.net/javadoc/hirondelle/date4j/DateTime.html">doc</a></li>
    <li><a href="http://www.htmlbestcodes.com/Calendar.htm">basicCode</a></li>
    <li><a href="http://www.plus2net.com/html_tutorial/html_calendar.php">generator</a></li>
  </ul>
 </li>
  <li><a href="#">papers</a>
   <ul class="sites">
    <li><a href="https://geraldinepatrick.wordpress.com/2011/07/27/a-final-solution-to-the-correlation-problem/">solution</a></li>
    <li><a href="http://www.staff.science.uu.nl/~gent0113/babylon/babycal.htm">babylonian</a></li>
    <li><a href="http://www.academia.edu/511856/The_Babylonian_lunar_three_in_calendrical_scrolls_from_Qumran">lunarThree</a></li>
    <li><a href="http://www.hermetic.ch/cal_stud/maya/chap2.htm">correlation</a></li>
    <li><a href="http://www.webexhibits.org/calendars/calendar-ancient.html">other</a></li>
  </ul>
 </li>
  <li><a href="#">converters</a>
   <ul class="sites">
    <li><a href="http://www.codeproject.com/Articles/215694/Maya-Calender-Calculator">calculator</a></li>
    <li><a href="http://astropixels.com/ephemeris/calendarconverter.html">codeProject</a></li>
    <li><a href="http://www.onlineconversion.com/julian_date.htm">julianDate</a></li>
    <li><a href="http://keisan.casio.com/exec/system/1344494270">gregorian</a></li>
    <li><a href="http://maya.nmai.si.edu/calendar/maya-calendar-converter">longCount</a></li>
    <li><a href="http://www.pauahtun.org/Calendar/tools.html">tools</a></li>
    <li><a href="http://www.math.harvard.edu/computing/javascript/Calendar/">download</a></li>
  </ul>
 </li>
  <li><a href="#">data</a>
   <ul class="sites">
    <li><a href="http://www.gautschy.ch/~rita/archast/sirius/Illahunsirius2-7.txt">Babyl-1a</a></li>
    <li><a href="http://www.gautschy.ch/~rita/archast/sirius/Babylonsirius3-5.txt">Babyl-1b</a></li>
    <li><a href="http://www.gautschy.ch/~rita/archast/sirius/Babylonzyklen2-7.txt">Babyl-1c</a></li>
  </ul>
 </li>
 <li><a href="u3/index.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>



