<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">circuits1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=IDf2vEcyDfs">gates</a></li>
    <li><a href="https://www.youtube.com/watch?v=wpAA3qeOYiI">hallEffect</a></li>
    <li><a href="https://www.youtube.com/watch?v=8DMZSxS-xVc">transistor</a></li>
    <li><a href="https://www.youtube.com/watch?v=lI59y1h3MxU">whyNotGrnd</a></li>
    <li><a href="https://www.youtube.com/watch?v=OT1PAsV0HUs">volts</a></li>    
    <li><a href="https://www.youtube.com/watch?v=4RmDy1zPJnM">remSwitch</a></li>
    <li><a href="https://www.youtube.com/watch?v=wU5BWgouuYg">hdGnrtr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mm6rk6a0L9o">wTransf</a></li>  
    <li><a href="https://www.youtube.com/watch?v=SodmPbachm8">4coil</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Ik5QXGqzg5M">simpleInv</a></li> 
    <li><a href="https://www.youtube.com/watch?v=3xp6C67hwsE">chinaWats</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mEFdADrU9MA">tubeOpAmp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=STViideZsFw">spyGadgets</a></li>  
    <li><a href="https://www.youtube.com/watch?v=uFZsH62ewYo">piezoMotor</a></li>  
    <li><a href="https://www.youtube.com/watch?v=vAjp7UNzngk">inverter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_2By2ane2I4">howQwatch</a></li>
  </ul>
 </li>
  <li><a href="#">circuits2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=-l-tF_4wu3o">iGenerator</a></li>  
    <li><a href="https://youtu.be/kXtCJ91RHG8">fm</a></li> 
    <li><a href="https://youtu.be/giGRrODKJSE">buck</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OitTu5ciDnY">pwerInvter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-l-tF_4wu3o">iGenerator</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Hf19hc9PtcE">bodyDtectr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ZgxpdcIeNFk">transmitter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oJ00uHXsUWc">hmeInvtions</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PUjaSYpyF6k">miniInverter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=zJJcdptSH80">converter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ob-nkNTrvcc">preAmpRsyt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=nKrWZKh-i08">twinVgate</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PUjaSYpyF6k">dcToAc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Td6Hrl0Y2zM">pAmpFix</a></li>  
    <li><a href="https://www.youtube.com/watch?v=P3i5peQNT-U">voltageDbler</a></li>  
    <li><a href="https://www.youtube.com/watch?v=qlma8T5_FZ0">buckBoost</a></li> 
  </ul>
 </li>
  <li><a href="#">components1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=pVyUBZ_rZeQ">sensors</a></li>
    <li><a href="https://www.youtube.com/watch?v=6Maq5IyHSuc">compnts</a></li>
    <li><a href="https://www.youtube.com/watch?v=oHjZs0bNwEs">tubeWorks</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ukBFPrXiKWA">inductors</a></li>
    <li><a href="https://www.youtube.com/watch?v=_vpZSZpx86k">cd4017</a></li>
    <li><a href="https://www.youtube.com/watch?v=IV0nCL2RTz4">classD</a></li>
    <li><a href="https://www.youtube.com/watch?v=3dQjIeYoIdM">dAmp</a></li> 
    <li><a href="https://www.peconnectors.com/sockets-wire-wrap/hws1462/?gclid=Cj0KCQiApILhBRD1ARIsAOXWTzvlfKiECtQUzy0rhZ1TzXAIbc06lrWmm9GqV1wKKWpYIrbnFtoWgk0aAqzZEALw_wcB">wireDips</a></li> 
  </ul>
 </li>  
  <li><a href="#">components2</a>
   <ul class="sites">
    <li><a href="https://www.nteinc.com/specs/hardware/hardware_accsy.pdf">nteinc</a></li>
    <li><a href="https://www.youtube.com/watch?v=2v8zBj7_sxg">capTypes</a></li>  
    <li><a href="https://www.youtube.com/watch?v=S3vuNgus4uM">relays</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DlG6LY84MUU">sensors</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oHjZs0bNwEs">tubes</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GAMRHcbE3g0">makeTriode</a></li>  
    <li><a href="https://www.youtube.com/watch?v=VlMdSCI29A0">mosfetComps</a></li>  
  </ul>
 </li>  
  <li><a href="#">eproms</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=K88pgWhEb1M&t=35s">ardEprom</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BA12Z7gQ4P0">eproms</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLqFzqzGMquZwJ-WwiEfWvj8CQXRevAb2d">fpgaPrj</a></li>
    <li><a href="https://www.youtube.com/watch?v=v5WDDZqhn2s">ramUpgrd</a></li>
    <li><a href="https://www.youtube.com/watch?v=rHP-OPXK2ig">ramUp1</a></li>    
    <li><a href="https://help.ubuntu.com/community/XilinxISE">xilinx</a></li>
    <li><a href="https://www.youtube.com/watch?v=SrsCEbi5N7Y">dkdkgo</a></li>  
    <li><a href="https://red-pitaya-fpga-examples.readthedocs.io/en/latest/_downloads/StartprogrammingFPGAusingRedPitayaboard.pdf">fpga</a></li>
    <li><a href="https://www.youtube.com/watch?v=meO-b6Ib17Y">xilinx</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BA12Z7gQ4P0">eePromUse</a></li>  
    <li><a href="https://www.engineersgarage.com/arm-projects/uart-programming-for-lpc2148?fbclid=IwAR0fY5BtTjpkBP7pKw5lb3Ina2tQl3ukV3lJVUVJWCJ2hSg8T6p-0CuUvfE">rs232</a></li>  
  </ul>
 </li>
  <li><a href="#">smt</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=ebIRA0WWfMA">debgSmt</a></li>    
    <li><a href="https://www.youtube.com/watch?v=qqoHTKhIBRo">howToSmt</a></li>
    <li><a href="https://www.youtube.com/watch?v=PaoeKX1DHa4">surfaceMount</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XKmbZdWZsXk">mountSsys</a></li>  
  </ul>
 </li>
  <li><a href="#">audio</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=EQ6RM3XMfKg">bose</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QovaMj9bkc0">microMags</a></li>  
    <li><a href="https://www.youtube.com/watch?v=01EFDUSovPI">bulb</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cz3DEP2LC_w">trsfSpk</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MckWgUEwUrw">audioAmp</a></li>
    <li><a href="https://www.youtube.com/watch?v=G-sLC7Lb9LY">hdphnes</a></li>
    <li><a href="https://www.youtube.com/watch?v=e7JM0D9Ohac">electr</a></li>
    <li><a href="https://www.youtube.com/watch?v=O_iu48VTRDE">elecMic</a></li>
  </ul>
 </li>
  <li><a href="#">radio</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_AI2Jixj5Bs">quickRadio</a></li>  
    <li><a href="https://www.youtube.com/watch?v=h_F3J4vyzNk">crudeFm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=onPW2OkN0Yo">useTvRemote</a></li> 
    <li><a href="https://www.youtube.com/watch?v=8XR9Uzy2RPM">crystalRdio</a></li>
    <li><a href="https://www.youtube.com/watch?v=0-PParSmwtE">crstalRadio</a></li>
    <li><a href="https://www.youtube.com/watch?v=ISbidethQyc">chrsdeRdio</a></li>  
  </ul>
 </li>
 <li><a href="electronics/index.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>
 