<ul id="bookmarks">
  <li><a href="#">cloud1</a>
   <ul class="sites">
    <li><a href="https://guardianproject.info/apps/orbot/">cloudAcct</a></li> 
    <li><a href="https://azure.microsoft.com/en-us/?allocadia_id=2336720&fbclid=IwAR2Q2VVqCPucM9miS4DmmSZmW_0UJLoCFNTe4IytVBfbRi3YzY29XKWjeiQ">azure</a></li>  
    <li><a href="https://www.google.com/search?q=cloud+computing&oq=cloud+computing&aqs=chrome..69i57j69i65j0l4.2985j0j4&sourceid=chrome&ie=UTF-8">cloud</a></li>
    <li><a href="https://www.google.com/search?q=mine+aion&oq=mine+aion&aqs=chrome..69i57j0l5.2974j0j4&sourceid=chrome&ie=UTF-8">mineAion</a></li>  
    <li><a href="https://info.cloudbees.com/devops/?utm_source=facebook&utm_medium=social&utm_campaign=DevOps-Prospecting&utm_content=DevOpsProspectingv2&fbclid=IwAR361iTTi8xMOdBdd9QmLZbnaYYFYahDKv8Sj1rjgZWqC0bKnH1I7d-cu28">contDelivery</a></li>  
  </ul>
 </li>
  <li><a href="#">cloud2</a>
   <ul class="sites">
    <li><a href="https://vedmant.com/setup-node-js-production-application-apache-multiple-virtual-host-server/">nodeJsSver</a></li>
    <li><a href="https://www.youtube.com/watch?v=ecBvl9JQKzg">azure</a></li>  
    <li><a href="https://cloud.google.com/free/?_ga=2.264308879.-1689031429.1569620547&_gac=1.263191166.1569620574.Cj0KCQjw5rbsBRCFARIsAGEYRwedaQCpeA02oPt2b4hL3xvTWtAuj9sG7wDPk-_VJvhK7TN7LqXyP9UaAs-OEALw_wcB">googleCloud</a></li>
    <li><a href="https://azure.microsoft.com/en-us/free/virtual-machines/search/?&OCID=AID2000128_SEM_1UrwtSsg&MarinID=1UrwtSsg_282896900857_%2Bvirtual%20%2Bhosting_b_c__53264608264_kwd-298058092036&lnkd=Google_Azure_Nonbrand&gclid=Cj0KCQjwkK_qBRD8ARIsAOteukDHqGCxG8kJkqNQWEcmcJXunyBcLiVkUVgI6C_chzSUiijNKtrbCIYaAubaEALw_wcB">azureFreeAcct</a></li>
    <li><a href="https://try.digitalocean.com/open-source/?utm_source=devto&utm_medium=display&utm_campaign=DO_Dev_Signup_Cold_Devto_2019">cloud</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ecBvl9JQKzg">azureUbuntu</a></li>  
  </ul>
 </li>
  <li><a href="#">cloud3</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=36zducUX16w">cloudMods</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Po80IwmY_30">cloudAScam</a></li>  
    <li><a href="https://www.youtube.com/watch?v=vIJdypOqlL4">WebCloud</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MmsoIcYrXJU">awsTutorial</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tDuruX7XSac">azureFullCrse</a></li> 
    <li><a href="https://try.digitalocean.com/open-source/?utm_source=devto&utm_medium=display&utm_campaign=DO_Dev_Signup_Cold_Devto_2019">cloudHosing</a></li>  
    <li><a href="https://www.youtube.com/watch?v=6MYF6Zo6i6A">googleItClass</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kQnNd-DyrpA">cloudBegs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=RWgW-CgdIk0">cloudBegs1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ecBvl9JQKzg">ubuntuAzure</a></li>  
  </ul>
 </li>
 <li><a href="../networks/index.html">&#160;&#160;&#60;--</a></li>
</ul>

