<ul id="bookmarks">
  <li><a href="#">cr1</a>
   <ul class="sites">
    <li><a href="https://youtu.be/-Cbn9Kde6sI?t=112">particles</a></li>
    <li><a href="https://lpsc.in2p3.fr/cosmic-rays-db/">db</a></li>
    <li><a href="https://galprop.stanford.edu/elibrary/icrc/2009/preliminary/pdf/icrc0254.pdf">pdf</a></li>
 </ul>
 </li>
  <li><a href="#">cr2</a>
   <ul class="sites">
    <li><a href="http://cr0.izmiran.ru/common/links.htm">crStations</a></li>     
    <li><a href="http://www.sws.bom.gov.au/Geophysical/1/4">crRealTime</a></li>  
    <li><a href="https://lpsc.in2p3.fr/cosmic-rays-db/">crDatabase</a></li>  
  </ul>
 </li>
<li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>
