<ul id="bookmarks">
  <li><a href="../graphene/index.html">graphene</a>
   <ul class="sites">
    <li><a href="../graphene/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">airCond</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=FS2YaJkkHQY">portable</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XePPZ1h5Jic">miniSplit</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oY4q5uxtiYI">usePeltier</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OR1kH6EO3P0">mini</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5NuvzWaBulw">fromFan</a></li>  
    <li><a href="https://www.youtube.com/watch?v=leTRMii0IUc">withoutIce</a></li>  
    <li><a href="https://www.youtube.com/watch?v=z9SSAhtgtzAtaiChi">airCond</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rT9-HUzUqhQ">eCooler</a></li>  
    <li><a href="https://www.youtube.com/watch?v=v2ZisExtbhM">portableAir</a></li>  
    <li><a href="https://www.youtube.com/watch?v=m5wv4HcRNKw">slrPwrSystm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YWUhwmmZa7A">refrigerator</a></li>  
  </ul>
 </li>
  <li><a href="#">heat</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=nC_Ql5qVs4Q">coHeat</a></li>
    <li><a href="https://www.youtube.com/watch?v=SCxIQbn0Q4Q">roomHeater</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Z38ndzSPJxQ">tinCanStove</a></li>
    <li><a href="https://www.youtube.com/watch?v=Ua6brgZha-4">boilWMag</a></li>  
    <li><a href="http://solarcooking.org/plans/plans.pdf">solarOven</a></li>
    <li><a href="https://www.youtube.com/watch?v=goqtMqqjlQU">stveFlter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Sc78nueDQ64">solrHeater</a></li> 
    <li><a href="https://www.youtube.com/watch?v=TFcv0xg3A-Y">indHeating</a></li> 
    <li><a href="https://www.youtube.com/watch?v=nlZl8YcKnLY">indcnHtr</a></li>
    <li><a href="https://www.youtube.com/watch?v=0v9OlmwJM7s">indctnFrnce</a></li>    
    <li><a href="https://www.youtube.com/watch?v=EaBdsks41A4">waterHeater</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2Sfo-hjDb0o">freeHvac</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Sc78nueDQ64">coilWtrHtr</a></li>  
  </ul>
 </li>
  <li><a href="#">foundry</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=VTzKIs19eZE">arcFurnace</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hHD10DjxM1g">metalFoundry</a></li>  
    <li><a href="https://www.youtube.com/watch?v=AZD5iFT93b8">hhoForTorch</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BsqOLCXYznE">mltStnes</a></li>  
    <li><a href="https://www.youtube.com/watch?v=onMbSLuC7Oc">brickStove</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cr72-t7Tgk4">brickStove</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4u6A40QTWVI">liqdMetal</a></li>  
    <li><a href="https://www.youtube.com/watch?v=b8zOQ4hyQzc">prpnFrge</a></li>   
    <li><a href="https://www.youtube.com/watch?v=e8Nvol8VQCg">metalCast</a></li>   
  </ul>
 </li>
  <li><a href="#">epoxy</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=GxmkYJFP1zA">epoxyLed</a></li>  
    <li><a href="https://www.youtube.com/watch?v=pbDi2wAaPuA">epoxyPin</a></li>  
    <li><a href="https://www.youtube.com/watch?v=RHL4e2Pu9yo">copperTable</a></li>
    <li><a href="https://www.youtube.com/watch?v=Hb3bsS-4kCw">epoxy</a></li>
    <li><a href="https://www.youtube.com/watch?v=SdQVT-QadWo">epoxy</a></li>  
  </ul>
 </li>
  <li><a href="#">glass</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=1D0XLXVkJKE">cutGlass</a></li>
    <li><a href="https://www.youtube.com/watch?v=U_NtTBTGp20">drlGlas</a></li>
    <li><a href="https://www.youtube.com/watch?v=PeMGRMwarKI">glssSclpt</a></li>
    <li><a href="https://www.youtube.com/watch?v=1cXy7gxUtbU&t=21s">glsMrbls</a></li>
    <li><a href="https://www.youtube.com/watch?v=216unFt66z4">cutter</a></li>
    <li><a href="https://www.youtube.com/watch?v=pkB1Nahi-X0">smrtGlas</a></li>
    <li><a href="https://www.youtube.com/watch?v=216unFt66z4">bottleCutter</a></li>
  </ul>
 </li>
  <li><a href="#">artAndMdium</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=fMieStMT9Sg">phtoGlss</a></li>  
    <li><a href="https://www.youtube.com/watch?v=fMieStMT9Sg">phtoWood </a></li>
    <li><a href="https://www.youtube.com/watch?v=H3bYhJWCZaA">imgToCnvs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2wltLvLz8gI">paintng</a></li>  
    <li><a href="https://www.youtube.com/watch?v=wXe2N-v-0Sg">holeArt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OiSzGBguPm0">mandala</a></li>  
  </ul>
 </li>
  <li><a href="../moreStuff/index.html">moreStuff</a>
   <ul class="sites">
    <li><a href="../moreStuff/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>


