<ul id="bookmarks">
  <li><a href="#">silver&Gold</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=335sFSIVbPQ">silver1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WGWu0kcD_XU">silver2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5Cc1whuJV2o">silver3</a></li> 
    <li><a href="https://www.youtube.com/watch?v=3gRNQHLb6ck">silverNot</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Vx-6QnsouG0">silverCan</a></li>   
    <li><a href="https://www.youtube.com/watch?v=PHURY80MxU4">cpuGold</a></li>  
    <li><a href="https://www.youtube.com/watch?v=8l-XystIQr0">icGold</a></li>  
    <li><a href="https://www.youtube.com/watch?v=37Kn-kIsVu8">jwlryToBars</a></li>  
    <li><a href="https://www.youtube.com/watch?v=AGR_NQbaaPI">scrapGold</a></li> 
    <li><a href="https://www.youtube.com/watch?v=5MYomuvrry4">goldRecycle</a></li>  
  </ul>
 </li>
  <li><a href="#">more</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=fTisMpzeXP4">sellSilver</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1xuOGYF1yGQ">buySilver</a></li>  
    <li><a href="https://www.youtube.com/watch?v=uN1VFE2yeRg">bigMove</a></li>  
    <li><a href="https://www.youtube.com/watch?v=RAsen6b1aPo">tripleDigits</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BnTHFGS58iE">goldExplosive</a></li>  
    <li><a href="https://www.youtube.com/watch?v=31f_dbBufYU">doubtersWrong</a></li>  
    <li><a href="https://www.youtube.com/watch?v=52y9Ji547hY">silver50Times</a></li>  
  </ul>
 </li>
  <li><a href="../crypto/index.html">crypto</a>
   <ul class="sites">
    <li><a href="../crypto/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../misc/index.html">&#160;&#160;&#60;--</a></li>
</ul>
