<ul id="bookmarks">
  <li><a href="#">schumann</a>
   <ul class="sites"> 
    <li><a href="https://geocenter.info/en/monitoring/schumann">schumann</a></li>
    <li><a href="https://www.youtube.com/watch?v=BJ9pkEiI4OQ">schumann</a></li>
    <li><a href="https://www.youtube.com/watch?v=DO9gHsEwctc">Schumann</a></li>
    <li><a href="https://www.youtube.com/watch?v=-j03LO5iSJo">schumann</a></li>
  </ul>
 </li>
  <li><a href="#">harp</a>
   <ul class="sites">
    <li><a href="http://ies2015.bc.edu/wp-content/uploads/2015/05/063-McCoy-Paper.pdf">harp</a></li>  
    <li><a href="https://www.gi.alaska.edu/facilities/haarp">harp</a></li>  
    <li><a href="https://www.bibliotecapleyades.net/haarp/esp_HAARP_16.htm">harp</a></li>
    <li><a href="https://www.youtube.com/watch?v=SToVBicIrJU">harp</a></li>
    <li><a href="https://www.atlasobscura.com/places/haarp">article</a></li>  
    <li><a href="https://johnkettler.com/haarp-shut-down-dismantlement-under-way/">closed</a></li>
    <li><a href="https://io9.gizmodo.com/the-military-is-shutting-down-its-weather-controlling-1580112806">closed</a></li>
    <li><a href="https://fas.org/irp/program/collect/haarp.htm">comm</a></li>  
  </ul>
 </li>
  <li><a href="#">squid</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=0kl3ucjh2Uw">squid</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Z4XEQVnIFmQ">levitation</a></li>  
    <li><a href="https://www.youtube.com/watch?v=fuloQcljFOs">supCond</a></li>  
    <li><a href="https://www.youtube.com/watch?v=M6mCsQSohac">josephson</a></li>  
  </ul>
 </li>
  <li><a href="#">bioffects</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=9l6VPpDublg">persinger</a></li>  
    <li><a href="https://www.scribd.com/document/116989519/Persinger-ELF-and-VLF-Electromagnetic-Field-Effects">persinger</a></li>
    <li><a href="https://www.youtube.com/watch?v=4whimjhJpcI">cyclotronFreq</a></li>
  </ul>
 </li>
  <li><a href="#">eeg</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=wTnUMm7AXog">eegPart2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7wMUcAUQm10">eegCharts</a></li>    
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>

