<ul id="bookmarks">
    <li><a href="../ulf/index.html">ULF</a></li>
    <li><a href="../elf/index.html">ELF</a></li>
    <li><a href="../vlf/index.html">VLF</a></li>
    <li><a href="../radio/index.html">midRadio</a></li>
    <li><a href="../microWave/index.html">microWave</a></li>
    <li><a href="../ir/index.html">infraRed</a></li>
    <li><a href="../visible/index.html">visible</a></li>
    <li><a href="../uv/index.html">ultraViolet</a></li>
    <li><a href="../x-ray/index.html">x-ray</a></li>
    <li><a href="../gamma/index.html">gamma</a></li>
    <li><a href="../cosmic/index.html">cosmic</a></li>
    <li><a href="../index.html">&#160;&#160;&#60;--</a></li>

