
<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="electronics/index.html">electronics</a>
   <ul class="sites">
    <li><a href="electronics/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="serial/index.html">serialControl</a>
   <ul class="sites">
    <li><a href="serial/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="materials/index.html">materials</a>
   <ul class="sites">
    <li><a href="materials/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="#">school</a>
   <ul class="sites">
     <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-002-circuits-and-electronics-spring-2007/">circuits</a></li>
     <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-302-feedback-systems-spring-2007/">feedback'07</a></li>
     <li><a href="http://ocw.mit.edu/resources/res-6-010-electronic-feedback-systems-spring-2013/">feedback'13</a></li>
     <li><a href="http://ocw.mit.edu/resources/res-6-010-electronic-feedback-systems-spring-2013/course-videos/">videos</a></li>
     <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-241j-dynamic-systems-and-control-spring-2011/">controls'11</a></li>
     <li><a href="http://ocw.mit.edu/courses/mechanical-engineering/2-04a-systems-and-controls-spring-2013/lecture-notes-labs/">controls'13</a></li>
     <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-02-introduction-to-eecs-ii-digital-communication-systems-fall-2012/">digitalComm</a></li>
     <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-003-signals-and-systems-fall-2011/">signals</a></li>
     <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-011-introduction-to-communication-control-and-signal-processing-spring-2010/">commContrl</a></li>
     <li><a href="https://www.elearners.com/l/top-online-certifications-now?trackid=a7c821b6-8934-4d78-b653-a4cdd7b0fe68&key=go_free+college+courses&v=google&a=major+terms+2&c=el+general&cat=free+college+courses&mt=search&ad=320688751826&est=free%20college%20courses&emt=b&device=c&dev=&target=kwd-4077794131&gclid=Cj0KCQjw1pblBRDSARIsACfUG11TQIGPB-D0I1d6ybEl9kKQMLOhtnL7seilaj2RT7IombaWxpA66ygaAgoVEALw_wcB#_ThankYou">eLearners</a></li>  
     <li><a href="https://www.youtube.com/watch?v=qn7z9T-dezw">mitBee</a></li>  
     <li><a href="https://online.coloradotech.edu/ctu/online-education/home-nboe2a-des2-exp-dp?code=6222&siteid=CTU_LinkedIn_SponsoredAds_PRO_General_INT_Static_BTSManTanBackpack&dclid=CIi9kNDL4eECFW8MrQYdRsMH6g">ctuOnline</a></li>  
     <li><a href="https://www.elearners.com/">eLearners</a></li>
   </ul>
  </li>
   <li><a href="#">patents</a>
   <ul class="sites">
    <li><a href="https://www.epo.org/index.html">european</a></li>
    <li><a href="http://www.ic.gc.ca/opic-cipo/cpd/eng/introduction.html">canadian</a></li>
    <li><a href="http://patft.uspto.gov/">unitedStates</a></li>
<li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-912-introduction-to-copyright-law-january-iap-2006/">copyright</a></li>
  </ul>
 </li>
 <li><a href="#">books</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=JesYd5Rk-_0">engBooks</a></li>  
    <li><a href="http://www.coe.ufrj.br/~julio/Fundamentals%20Of%20Electric%20Circuits.pdf">elecCircuits</a></li>
    <li><a href="http://circuitsx.blogspot.com/2015/04/free-download-fundamentals-of-electric.html">elecCircuits</a></li>
    <li><a href="http://www.summarydownload.xyz/finder/douglas-c-giancoli-physics-for-scientists-engineers-with-modern-phy">physics</a></li>
    <li><a href="http://faculties.sbu.ac.ir/~sadough/pdf/Advanced%20Engineering%20Mathematics%2010th%20Edition.pdf">engineering</a></li>
    <li><a href="https://archive.org/details/SolutionManualOfAdvancedEngineeringMathematicsByErwinKreyszig9thEdition">solutions</a></li>
    <li><a href="http://www.talkingelectronics.com/Download/Malvino_Electronic-Principles.pdf">solidState</a></li>
    <li><a href="http://www.analog.com/library/analogDialogue/archives/39-06/Chapter%206%20Interfacing%20to%20Data%20Converters%20F.pdf">circuits</a></li>
    <li><a href="http://www.clir.org/pubs/resources/ad-converters-pohlmann.pdf">paper</a></li>
  </ul>
 </li>
  <li><a href="processes/index.html">processes</a>
   <ul class="sites">
    <li><a href="processes/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">alternatives</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=HEOTxVY8esE">engine</a></li>  
    <li><a href="https://www.youtube.com/watch?v=U9cazC7DBFk">goCart</a></li>  
    <li><a href="https://www.youtube.com/watch?v=IKqy3rRWJQE">carAlt</a></li>
    <li><a href="https://www.youtube.com/watch?v=02xtdkBR4ho">carChrgr</a></li>
    <li><a href="https://www.youtube.com/watch?v=9AFw3Agg7SM">woodCar</a></li>
    <li><a href="https://www.youtube.com/watch?v=sILjbp3mu8o">OilToDiesel</a></li>  
    <li><a href="http://www.steam-engine.org/wirewiz.html">engine</a></li>
    <li><a href="https://www.youtube.com/watch?v=cQdGTritwwc">freeDiesel</a></li>  
  </ul>
 </li>
   <li><a href="#">eEngine</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=2wfo2QqkXMU">solenoid engine</a></li>  
    <li><a href="https://www.youtube.com/watch?v=E3acflHdBGs">oscEng</a></li>  
    <li><a href="https://www.youtube.com/watch?v=J4JAil3R72k">thAcEngine</a></li>  
  </ul>
 </li>
   <li><a href="#">hydroEngine</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=pa2sjMN8sMc">electrolyzers</a></li>
    <li><a href="https://www.youtube.com/watch?v=YsCFDBJLd2M">hydrogenGen</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tRYj23Ond3g">hydroFuelRide</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Zxhve2OmrYc">hydroFuelCell</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cqjn3mup1So">waterToFuel</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5_uYGNoN0mw">royMcallister</a></li>
    <li><a href="http://fuelcellstore.com/fuel-cell-facts</li>">fuelCells</a>
   </ul>
  </li>
   <li><a href="#">3dPrinter</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=cMNPOgRJxV4">3dPrinter1</a></li>
    <li><a href="https://www.youtube.com/watch?v=govCOa52SsA">3dPrinter2</a></li>
    <li><a href="https://www.youtube.com/watch?v=AcCnXQK75Jk">3dPrinter3</a></li>
    <li><a href="https://www.youtube.com/watch?v=x5X6Gp-XMEs">3dPrinter</a></li>      
    <li><a href="https://www.youtube.com/watch?v=HOryknQnOd4">cheapCntlr</a></li>
  </ul>
 </li>
   <li><a href="#">cnc</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=pPdk2-neduU">cnc1</a></li>
    <li><a href="https://www.youtube.com/watch?v=leTRMii0IUc">cnc2</a></li>
    <li><a href="https://www.youtube.com/watch?v=C_32Z52SxEg">cncLaser</a></li>  
    <li><a href="https://www.youtube.com/watch?v=jjdXpp77MdU">cncRouter</a></li> 
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=4oRT7PoXSS0">how3phase</a></li>  
    <li><a href="https://www.youtube.com/watch?v=FUjZwMMoltQ">test3phase</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PSAtLNn8NwE">hydraulics</a></li>  
   <li><a href="https://www.youtube.com/watch?v=Ia1BQFTaG7c">bellSyphon</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DCUeo1WFAGA">diaphram</a></li>  
 </ul>
 </li>
 <li><a href="index.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>

 