<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
 <ul id="bookmarks"> 
  <li><a href="#">freeEnergy1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=IceYPhXj0cY">freeEnergy</a></li>
    <li><a href="https://www.youtube.com/watch?v=QAxkh05fC2M">freeE</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QJtOrJzl7aI">freeEdc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=d9Y9v6txZ9k">phChrge</a></li>  
    <li><a href="https://www.youtube.com/watch?v=sREfk0D38Tk">spkEngy</a></li> 
    <li><a href="https://www.youtube.com/watch?v=2CIizY5nb9I">freeElec</a></li>
    <li><a href="https://www.youtube.com/watch?v=_q8y3RTD6co">freeNgy</a></li>
    <li><a href="https://www.youtube.com/watch?v=0lqfiXnkZKk">fridgeGen</a></li>
  </ul>
 </li>
  <li><a href="#">freeEnergy2</a>
   <ul class="sites">  
    <li><a href="https://www.youtube.com/watch?v=PAE60s6GSXw">flyWheel</a></li>  
    <li><a href="https://www.researchgate.net/figure/Schematic-diagram-of-the-Magnetic-Resonance-Amplifier_fig6_266478207">mra1</a></li>  
    <li><a href="http://www.panaceatech.org/Magnetic%20Resonant%20Amplifier.pdf">mra2</a>
    <li><a href="https://www.youtube.com/watch?v=Mg7FI8cAuQs">torusGen</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cqjn3mup1So">hhoGen</a></li>
    <li><a href="https://www.youtube.com/watch?v=KZ4cylB114E">genrtor</a></li>
    <li><a href="https://www.youtube.com/watch?v=0IdL8xiz14I">neodynium</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kxIOeyman2w">renewable</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2RKq4-GivBs">magnet</a></li>  
  </ul>
 </li>
  <li><a href="#">generators1</a>
   <ul class="sites">  
    <li><a href="https://www.youtube.com/watch?v=AckRAYQ8N48">windTurb</a></li>
     <li><a href="https://www.youtube.com/watch?v=u9HZHi02h5c">genHookup</a></li>
    <li><a href="https://www.youtube.com/watch?v=k20XVrF_CAU">wshMach</a></li>  
    <li><a href="https://www.youtube.com/watch?v=pjXpHAGCMC0">washMachGen</a></li> 
    <li><a href="https://www.youtube.com/watch?v=wU5BWgouuYg">hdGnrtr</a></li>
    <li><a href="http://www.aliexpress.com/item/NEW-8-8-15V-DC-Hydroelectric-power-Micro-hydro-generator-Portable-water-charger/32257961345.html">hydroPower</a></li>
    <li><a href="http://www.micro-hydro-power.com/Pico-Hydro-Generator-System-brand-new.htm">microHydro</a></li>
    <li><a href="https://www.youtube.com/watch?v=y34pgsX3Fg8">microHydro5</a></li>  
    <li><a href="https://www.youtube.com/watch?v=le8zg3T_2_k">microHydro17</a></li>  
    <li><a href="http://ocw.mit.edu/courses/edgerton-center/ec-711-d-lab-energy-spring-2011/">class</a></li>
  </ul>
 </li>
  <li><a href="#">generators2</a>
   <ul class="sites">  
    <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-334-power-electronics-spring-2007/">powerClass</a></li>
    <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-007-electromagnetic-energy-from-motors-to-lasers-spring-2011/">emClass</a></li>
    <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-007-electromagnetic-energy-from-motors-to-lasers-spring-2011/lab-videos/">videos</a></li>
    <li><a href="http://ocw.mit.edu/resources/res-6-003-electromechanical-dynamics-spring-2009/">emDynamics</a></li>
    <li><a href="https://www.youtube.com/watch?v=t9TrUPoevXI">windEngy</a></li>
    <li><a href="https://www.youtube.com/watch?v=_z4K7w3tM3E">windTurbine</a></li>   
    <li><a href="https://www.youtube.com/watch?v=t9TrUPoevXI">woodGen</a></li>  
  </ul>
 </li>
  <li><a href="#">magGen</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=UdrcQ3_3f_8">magnets</a></li> 
    <li><a href="http://www.free-energy-info.com/BuieMorin.pdf">freeE</a></li>
    <li><a href="https://www.youtube.com/watch?v=CDEhclk9gDk">freeE</a></li>  
    <li><a href="https://www.youtube.com/watch?v=waQUEly4kPw">moreFreeEngy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Cuobx2uPgY0">eMagnet</a></li>  
    <li><a href="https://www.youtube.com/watch?v=nYXIBTB4fao">freeGen</a></li>    
    <li><a href="https://www.youtube.com/watch?v=ZDSOIN0egMo">kodiacGen</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hxOq6lycoVg">magGen</a></li>
    <li><a href="https://www.youtube.com/watch?v=v24mx38hw1w">magGen</a></li>
  </ul>
 </li>
    <li><a href="magnetics/index.html">&#160;&#160;&#60;--</a></li>
 </ul>
</div>
</body>
</html>

