<ul id="bookmarks">
  <li><a href="#">gradSchool</a>
   <ul class="sites">
    <li><a href="https://www.edureka.co/">edurika</a></li>
    <li><a href="https://www.youtube.com/watch?v=fqNswT0jNDE">freeDegs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=32thlMnUqaQ">freeClass</a></li>
    <li><a href="https://www.youtube.com/watch?v=k6U-i4gXkLM">intro</a></li>  
    <li><a href="https://www.youtube.com/watch?v=h0e2HAPTGF4">introData</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0JUN9aDxVmI">advAlgs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kGYGEcdPE2U">appArch</a></li>  
    <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-851-advanced-data-structures-spring-2012/">dataStructs</a></li>
    <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-851-advanced-data-structures-spring-2012/lecture-videos/">videos</a></li>
    <li><a href="http://ocw.mit.edu/courses/sloan-school-of-management/15-084j-nonlinear-programming-spring-2004/">nonlinearProg</a></li>
    <li><a href="http://ocw.mit.edu/courses/sloan-school-of-management/15-084j-nonlinear-programming-spring-2004/video-lectures/">videos</a></li>
    <li><a href="https://www.youtube.com/watch?v=lYrZBK4NVZw&list=PL632BB8C3F7E776BA">introProg</a></li>  
   </ul>
  </li>
  <li><a href="#">moreSchool</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=fqNswT0jNDE">freeCSDegree</a></li> 
    <li><a href="https://www.youtube.com/watch?v=26QPDBe-NB8">crashCourse</a></li> 
    <li><a href="https://www.youtube.com/watch?v=k6U-i4gXkLM">mitIntro</a></li>  
    <li><a href="https://coursetro.com/courses  courseTro">coursetro</a></li>
    <li><a href="https://frontendmasters.com/books/front-end-handbook/2019/">frontEnd</a></li>
    <li><a href="https://developers.google.com/certification/mobile-web-specialist">googleCert</a></li>  
    <li><a href="https://www.youtube.com/watch?v=z9JCpMCQ5qM">khanAcademy</a></li> 
    <li><a href="https://www.youtube.com/watch?v=awLnur5Yt9o">googleItClass</a></li>  
    <li><a href="https://www.youtube.com/watch?v=meRc5MSrOO0">itCerts</a></li>  
   </ul>
  </li>
 <li><a href="../more/index.html">&#160;&#160;&#60;--</a></li>
</ul>
