<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">graphene1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Ar3C5JgzhgE">diyGphe</a></li>  
    <li><a href="https://www.youtube.com/watch?v=JMHw6YNEb5w">kit</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1Ce2au3PWnI">stpBstp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=jSr00fKduN8">testing</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PLQ8_cwjOCc">graphite</a></li>  
    <li><a href="https://www.youtube.com/watch?v=gzaLF5tFf88">suprCaps</a></li>
    <li><a href="https://www.youtube.com/watch?v=hpP2qOw_Baw">graphne</a></li>
    <li><a href="https://www.youtube.com/watch?v=hI4t61yvdLE">grapheneAge</a></li>  
    <li><a href="https://www.youtube.com/watch?v=fs1-9xRsGCQ">grapheneUses</a></li> 
    <li><a href="https://www.youtube.com/watch?v=hRFyc45t1-c">waterCrisis</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QlnQN_NpJBY&t=149s">grapheneCap</a></li>  
    <li><a href="https://www.youtube.com/watch?v=s51l6KySFU8">bulkGraphene</a></li>
  </ul>
 </li>
  <li><a href="#">graphene2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Zc-0dfALvZo">solarpanel</a></li>
    <li><a href="https://www.youtube.com/watch?v=30h6hrxACdA">graphitePower</a></li>
    <li><a href="https://www.youtube.com/watch?v=s51l6KySFU8">easyGraphene</a></li>
    <li><a href="https://www.youtube.com/watch?v=YMKojcYP7QQ">capSolarGen</a></li>
    <li><a href="https://www.youtube.com/watch?v=Q8sMA9O4_QY">battsObsolete</a></li>  
    <li><a href="https://www.youtube.com/watch?v=qDviZVbf7AA">grapheneSolar</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BKomGuejwRA">solar</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ar3C5JgzhgE">easyGraphene</a></li>  
    <li><a href="https://www.youtube.com/watch?v=RG8M4EVuLxg">100AmpCaps</a></li>
    <li><a href="https://www.youtube.com/watch?v=8c2FMJtIW7E">7000FCap</a></li>  
  </ul>
 </li>
  <li><a href="#">graphene3</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=um1Lk2UmKj8">climate</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hgyoK2g-vnQ">onPlastic</a></li>  
    <li><a href="https://www.youtube.com/watch?v=fUFREMdukaI">solarCaps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_uItJj8PeU0">gphteBatry</a></li>  
    <li><a href="https://www.youtube.com/watch?v=r7M6Pb2roLs">superCaps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=TBsaiqKv2xc">temps812</a></li>  
    <li><a href="https://www.youtube.com/watch?v=B_aIo02d-xM">superCapPwr</a></li>  
  </ul>
 </li>
 <li><a href="crafts.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>


