<ul id="bookmarks">
  <li><a href="#">code</a>
   <ul class="sites">
    <li><a href="http://www.smashingmagazine.com/2012/10/19/design-your-own-mobile-game/">mobileGame</a></li>
    <li><a href="http://www.slideshare.net/jassics/html5-8900891?qid=67167ebd-5d53-46b2-acf5-2316e4dce0f4&v=qf1&b=&from_search=89">htmlThesis</a></li>
    <li><a href="https://www.youtube.com/watch?v=E-_Lc6FrDRw">youTube</a></li>
    <li><a href="http://www.robotstxt.org/">searchWords</a></li>     
    <li><a href="https://www.youtube.com/watch?v=EO6OkltgudE">aaa</a></li>
    <li><a href="https://www.youtube.com/watch?v=v1PeTDrw6OY">search</a></li>  
    <li><a href="https://www.youtube.com/watch?v=jgjfVFYKfZI">menu</a></li>   
    <li><a href="https://www.youtube.com/watch?v=pQN-pnXPaVg">2hrs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9gTw2EDkaD">html5prt1</a></li>
    <li><a href="https://www.youtube.com/watch?v=kR0nSTi4wlI">svgFilters</a></li>
    <li><a href="https://www.youtube.com/watch?v=Q33KBiDriJY">web10hrs</a></li>    
  </ul>
 </li>
  <li><a href="#">studySites</a>
   <ul class="sites">   
    <li><a href="https://www.youtube.com/watch?v=D6esTdOLXh4">django</a></li>  
    <li><a href="https://www.youtube.com/watch?v=bjVUqvcCnxM">netlify</a></li> 
    <li><a href="http://philip.greenspun.com/seia/html">htmlBasics</a></li>
    <li><a href="http://html5doctor.com/html5-forms-input-types/">html5basics</a></li>
    <li><a href="http://www.html-5.com/tags/div-tag/">divTags</a></li>    
    <li><a href="http://www.w3schools.com/html/html_examples.asp">w3schools</a></li>
    <li><a href="http://www.quackit.com/html/codes/html_text_input.cfm">reference</a></li>
    <li><a href="https://www.youtube.com/watch?v=66n1DFrmc0Q&t=2720s">design</a></li>
    <li><a href="https://www.youtube.com/watch?v=3LWgbjVWLug">wAssbly</a></li>
    <li><a href="https://www.youtube.com/watch?v=66n1DFrmc0Q">wordPress</a></li>
  </ul>
 </li>
  <li><a href="#">iframes</a>
   <ul class="sites">
    <li><a href="http://stackoverflow.com/questions/251420/invoking-javascript-code-in-an-iframe-from-the-parent-page">callingCode</a></li>
    <li><a href="http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/">sandBox</a></li>
    <li><a href="http://stackoverflow.com/questions/15587823/iframe-positioning">position</a></li>
    <li><a href="http://www.roseindia.net/java/pass-value-example/pass-value-from-iframe-parent.shtml">passValue</a></li>
    <li><a href="http://www.slideshare.net/mitchbox/ltiframe-communication-in-javascript?related=2">javaScript</a></li>
  </ul>
 </li>
  <li><a href="#">pages1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=eB9Fq9I5ocs">nodeRest</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4yqu8YF29cU">mongo</a></li>  
    <li><a href="http://www.register.com/">a</a></li>
    <li><a href="http://www.thefreesite.com/free_web_space/">theFreeSite</a></li>
    <li><a href="http://www.thesitewizard.com/">theSiteWizard</a></li>
    <li><a href="https://www.wix.com/signin?postLogin=http%3A%2F%2Fwww.wix.com%2Fmy-account%2Fsites&originUrl=http%3A%2F%2Fwww.wix.com%2Fmy-account%2Fsites&overrideLocale=en#/3e27fde8-6813-4322-bcf1-f311c066470a">wix</a></li>
    <li><a href="http://www.weebly.com/?session-expired=1&redirect=main.php#login">weebly</a></li>
    <li><a href="https://www.awardspace.com/">awardSpace</a></li>
    <li><a href="http://freeservers.com/">freeServers</a></li>
    <li><a href="http://orgfree.freewebhostingarea.com/">orgFree</a></li>
    <li><a href="https://www.youtube.com/watch?v=ysFJHpS-O08">webAssbEx</a></li>
  </ul>
 </li>
  <li><a href="#">pages2</a>
   <ul class="sites">    
    <li><a href="https://www.youtube.com/watch?v=TlB_eWDSMt4&t=37s">node</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mxK8b99iJTg">rHooks</a></li>  
    <li><a href="https://www.youtube.com/watch?v=93p3LxR9xfM">redux</a></li>
    <li><a href="https://www.youtube.com/watch?v=WGsk13xh-Fk">webIcons</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rVIMMhcyTMo">metaTags</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mrsUjpX5S48">metaTags</a></li>  
    <li><a href="https://www.youtube.com/watch?v=gqfhjGgkjDQ">oracleSql</a></li>
    <li><a href="https://www.youtube.com/watch?v=UnTQVlqmDQ0">web2019</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4myJUbmMC4M">dreamweaver</a></li>
    <li><a href="https://www.youtube.com/watch?v=U-JhRjRaD4A">webPageIn13hrs</a></li>
    <li><a href="https://www.youtube.com/watch?v=WGsk13xh-Fk">webIcons</a></li>    
  </ul>
 </li>
  <li><a href="#">sql</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=HXV3zeQKqGY">sql</a></li>
    <li><a href="https://www.youtube.com/watch?v=HXV3zeQKqGY&t=24s">camp</a></li>
    <li><a href="https://www.youtube.com/watch?v=ztHopE5Wnpc">sql</a></li>
    <li><a href="https://www.youtube.com/watch?v=QHYuuXPdQNM">oracle</a></li>
    <li><a href="https://www.youtube.com/watch?v=GekQqFZm7mA">graphDb</a></li>
    <li><a href="https://www.youtube.com/watch?v=HXV3zeQKqGY">sql</a></li>  
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>


    <li><a href="https://www.netlify.com/">netlify</a></li>
    <li><a href="https://www.namecheap.com/domains/registration/results.aspx?domain=celestial-analysis">namecheap</a></li>
    <li><a href="https://www.youtube.com/watch?v=FK4YusHIIj0">figma</a></li>    //webDev

    <li><a href="https://www.youtube.com/watch?v=v_jZP4WvZ-w">freeDomain</a></li>  

    <li><a href="https://www.youtube.com/watch?v=mU6anWqZJcc">htmlAndCss</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xu87YWbr4X0">cssVanillaClock</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mU6anWqZJcc">htmlCss</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7kVeCqQCxlk">cssGrid</a></li> 
    <li><a href="https://www.youtube.com/watch?v=PKVKwluRTfo">cssMagic</a></li>  

    <li><a href="https://www.youtube.com/watch?v=Wm6CUkswsNw">respHtml</a></li> 
    <li><a href="https://www.youtube.com/watch?v=mrsUjpX5S48">metaTags</a></li>  
    <li><a href="https://www.youtube.com/watch?v=iYM2zFP3Zn0">http</a></li>    
    <li><a href="https://www.youtube.com/watch?v=2cbvZf1jIJM">wordPress</a></li>  
    <li><a href="https://www.memsql.com/comparisons/memsql-vs-oracle/?utm_source=facebook&utm_medium=psm&utm_campaign=19_03_26-Webinar-Oracle-Oracle%2BVisit%2BLookalikes&utm_content=6109135085079_Oracle+Visitor+Lookalikes&campaignid=6109135085279&fbclid=IwAR0gw69vnRaVDjoa-80dHa-wQ68RHO7th-OrJBK2F2eiawDjkyUdbwDwLHk">database</a></li>  

    <li><a href="https://www.webhostface.com/kb/knowledgebase/transfer-domain-away-from-bluehost/">transfer-domain</a></li>
    <li><a href="https://my.bluehost.com/hosting/help/transferaway">transferaway</a></li>

css
    <li><a href="https://bootswatch.com/">cssDwnlds</a></li>
pages
    <li><a href="https://www.squarespace.com/?channel=display_programmatic&subchannel=gdn&campaign=nadine_1x1&subcampaign=responsive-cta1&source=US_custom-affinity-product&utm_source=gdn&utm_medium=display_programmatic&utm_campaign=2019_US_eng_custom_affinity">squareSpace</a></li>
