<ul id="bookmarks">
  <li><a href="#">staticPages</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=2jqok-WgelI">nodeJwt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=LB-Qu8sWpD0">docker</a></li>  
    <li><a href="https://linuxize.com/post/how-to-install-gradle-on-ubuntu-18-04/"></a></li>
    <li><a href="https://www.youtube.com/watch?v=gqOEoUR5RHg">bootstrap</a></li>  
    <li><a href="https://www.youtube.com/watch?v=m_u6P5k0vP0">reactAndFirebase</a></li>  
    <li><a href="https://scotch.io/starters/react?utm_content=in-content">reactStarters</a></li>  
    <li><a href="https://www.youtube.com/watch?v=883iX2E57kc">contWElvty</a></li>  
  </ul>
 </li>
  <li><a href="#">nanogen</a>
   <ul class="sites">
  </ul>
 </li>
  <li><a href="#">vue</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=E43SqPADf3k">vue3.0</a></li>  
    <li><a href="https://developer.okta.com/blog/2018/10/23/build-a-single-page-app-with-go-and-vue"></a></li>
    <li><a href="https://www.youtube.com/watch?v=Gcj520qu2xI">jupCollided</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DJ6PD_jBtU0">fullStackVue</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5LYrN_cAJoA">vueTut1</a></li>  
    <li><a href="https://www.staticgen.com/">staticSites</a></li>  
  </ul>
 </li>
  <li><a href="#">moreVue</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/channel/UCtb40EQj2inp8zuaQlLx3iQ">vueWithAndre</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5lVQgZzLMHc">vuexCourse</a></li>  
    <li><a href="https://medium.com/@saidhayani/understand-routing-in-vue-js-with-examples-6da96979c8e3">routing</a></li>
    <li><a href="https://dev.to/t/vue">vueStuff</a></li>  
    <li><a href="https://www.vuemastery.com/courses/">vueMastery</a></li>  
    <li><a href="https://vuejobs.com/remote-vuejs-jobs">vueJobs</a></li>  
  </ul>
 </li>
 <li><a href="../code/index.html">&#160;&#160;&#60;--</a></li>
</ul>
