<ul id="bookmarks">
  <li><a href="#">javaScript1</a>
   <ul class="sites">
    <li><a href="https://www3.ntu.edu.sg/home/ehchua/programming/webprogramming/JavaScript_Examples.html">examples</a></li>
    <li><a href="http://www.tizag.com/javascriptT/javascript-innerHTML.php">inner1</a></li>
    <li><a href="http://www.quackit.com/javascript/tutorial/innerhtml_in_javascript.cfm">inner2</a></li>
    <li><a href="http://101.lv/learn/JSweek/ch5.htm">events1</a></li>
    <li><a href="https://www.w3schools.com/js/js_events_examples.asp">events2</a></li>
    <li><a href="http://www.js-examples.com/page/javascripts__example.html?view=1063">topScripts</a></li>
    <li><a href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">patterns</a></li>
    <li><a href="http://www.kevs3d.co.uk/dev/scratchpad/">translator</a></li>
    <li><a href="http://jsfiddle.net/NUzXc/">jsFiddle</a></li>
    <li><a href="https://youtu.be/rRgD1yVwIvE?t=16">higher</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PwsigsH4oXw">beg</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Bv_5Zv5c-Ts">more</a></li>  
    <li><a href="https://jwt.io/">jsonTokens</a></li>  
  </ul>
 </li>
  <li><a href="#">javaScript2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=8LCx9Dir8BU">asJS</a></li>  
    <li><a href="https://www.youtube.com/watch?v=seaq4UxKNHU">jsSpa</a></li>
    <li><a href="https://www.youtube.com/watch?v=3EMxBkqC4z0">jsGames</a></li>
    <li><a href="https://www.youtube.com/watch?v=wlhZZ-kbjNA">jsMatices</a></li>    
    <li><a href="https://www.youtube.com/watch?v=v2ifWcnQs6M">jsByDoug</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-zI8RgGW8uw">jsApis</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2TdySRdQHOo">nodeJs</a></li>  
    <li><a href="https://taylorhakes.com/posts/creating-a-clock-with-setinterval/">clock</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tcoiPHktCwQ">cardio</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PwsigsH4oXw">js</a></li>
    <li><a href="https://www.youtube.com/watch?v=Z-tc91hArlM">discordBot</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Kp3HGwlXwCk">basicJsProjs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rRgD1yVwIvE">jsFncyFnctns</a></li>  
  </ul>
 </li>
  <li><a href="#">packages1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=0ik6X4DJKCc">jsDom</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rJesac0_Ftw">jsn&Ajx</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ke90Tje7VS0">react1</a></li> 
    <li><a href="https://www.youtube.com/watch?v=ErSworvlctA">react2</a></li> 
    <li><a href="https://www.youtube.com/watch?v=2OHbjep_WjQ">angular</a></li>  
    <li><a href="https://www.kaggle.com/">dtaStPrjs</a></li>
    <li><a href="https://www.youtube.com/watch?v=mxK8b99iJTg">rHooks</a></li>  
    <li><a href="https://www.youtube.com/watch?v=93p3LxR9xfM">redux</a></li>  
  </ul>
 </li>
  <li><a href="#">packages2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=nxakp15CACY">wbScks1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mmIza3L64Ic">wbScks2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=z-CYO1ABCp4">wbScks3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oCAC2yow8xk">wbScks4</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9FqjRN4VYUU">wbScks5</a></li>  
    <li><a href="https://www.youtube.com/watch?v=FmaBZcQzL-Y">wbScks6</a></li>  
  </ul>
 </li>
  <li><a href="#">search</a>
   <ul class="sites">
    <li><a href="http://www.javascripter.net/faq/searchin.htm">search1</a></li>
    <li><a href="http://www.codestore.net/store.nsf/unid/DOMM-4X9LG3/">search2</a></li>
    <li><a href="https://www.sitepoint.com/community/t/searching-for-multiple-words-within-a-string-or-array/6706">search3</a></li>
    <li><a href="http://www.w3schools.com/jsref/jsref_match.asp">search4</a></li>
  </ul>
 </li>
  <li><a href="#">emulators</a>
   <ul class="sites">
    <li><a href="">asm</a></li>
    <li><a href="http://kripken.github.io/mloc_emscripten_talk/#/">webApp</a></li>
  </ul>
 </li>
  <li><a href="#">sound</a>
   <ul class="sites">
    <li><a href="https://thiscouldbebetter.wordpress.com/2012/12/20/rendering-a-wav-file-using-html5-and-javascript/">makWav</a></li>
    <li><a href="https://www.cssscript.com/cool-audio-player-pure-javascript/">cssAudio</a></li>
    <li><a href="https://gordonlesti.com/a-audio-noise-filter-in-javascriptspeech-non-speech-classifcation/">filter</a></li>
    <li><a href="http://christine-coenen.de/blog/2013/11/11/transmit-data-via-sound-in-javascript/">data</a></li>
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Z-tc91hArlM">dscrdBots</a></li>  
    <li><a href="https://www.youtube.com/watch?v=8o25pRbXdFw">chatBot</a></li>
    <li><a href="https://getbootstrap.com/docs/4.0/getting-started/download/">bootstrap</a></li>
    <li><a href="https://contribute.jquery.org/style-guide/html/">jquery</a></li>
    <li><a href="https://www.youtube.com/watch?v=Kp3HGwlXwCk">basicProj</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Sh6lK57Cuk4">jsHisory</a></li>  
    <li><a href="https://jwt.io/">jsonTokens</a></li>  
  </ul>
 </li>
  <li><a href="../moreJs/index.html">more</a>
   <ul class="sites">
    <li><a href="../moreJs/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../code/index.html">&#160;&#160;&#60;--</a></li>
</ul>
