<ul id="bookmarks">
  <li><a href="#">java</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=j9nj5dTo54Q">java8</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WqQsuIW2CFE">java</a></li>  
    <li><a href="https://www.youtube.com/watch?v=grEKMHGYyns">java</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3u1fu6f8Hto">javaTut</a></li>
    <li><a href="https://www.youtube.com/watch?v=OxaSi3nSl3I">swing</a></li>  
    <li><a href="https://www.youtube.com/watch?v=auK3PSZoidc">sudoku</a></li>
    <li><a href="https://www.youtube.com/watch?v=OxaSi3nSl3I">javaSwing</a></li>  
    <li><a href="https://websiteforstudents.com/how-to-install-netbeans-on-ubuntu-16-04-17-10-18-04/">netbeans</a></li>
    <li><a href="https://www.youtube.com/watch?v=P8m65p0OrUM">java9</a></li>
  </ul>
 </li>
  <li><a href="#">lotsHours</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=WqQsuIW2CFE">java11h</a></li>  
    <li><a href="https://www.youtube.com/watch?v=grEKMHGYyns">java10h</a></li>   
    <li><a href="https://www.youtube.com/watch?v=grEKMHGYyns">java9hr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WqQsuIW2CFE">java10hrs</a></li>
    <li><a href="https://www.youtube.com/watch?v=hBh_CC5y8-s">edurikaJava</a></li>  
    <li><a href="https://www.youtube.com/watch?v=vtTUKLE_SWE">nbeans2hrs</a></li>  
  </ul>
 </li>
  <li><a href="#">netbeans</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=vtTUKLE_SWE">netBns</a></li>
    <li><a href="https://websiteforstudents.com/how-to-install-netbeans-on-ubuntu-16-04-17-10-18-04/">netbeans</a></li> 
    <li><a href="https://opensourceforu.com/2016/06/developing-web-applications-using-netbeans/?fbclid=IwAR0cHi29lOc0mDnCF43x0tpZncd85NDrYz6svnQn2ZzXboC3B4MRcQjGXU0">ntbnsWb</a></li>
  </ul>
 </li>
  <li><a href="#">misc</a>
   <ul class="sites">
   <li><a href="http://www.codebind.com/linux-tutorials/install-scala-sbt-java-ubuntu-18-04-lts-linux/">scala</a></li>  
   <li><a href="https://www.youtube.com/watch?v=WqQsuIW2CFE">eclipse</a></li> 
   <li><a href="https://www.compilejava.net/">compileJava</a></li> 
   <li><a href="http://www.smartjava.org/content/exploring-html5-web-audio-visualizing-sound">smrtJva</a></li>  
   <li><a href="https://land.overops.com/automated-root-cause-analysis-ebook-2/?utm_source=facebook&utm_medium=ebook&utm_campaign=automation-ebook&utm_content=rtr&fbclid=IwAR2yG2Uo2cCQ_KezzRUtfrSLGbJvwiifzAFuO57gJrXRFkMOAlSD5GeUPoI">rootCause</a></li>
   <li><a href="https://www.youtube.com/watch?v=n-xAqcBCws4">moreJava</a></li>      
   <li><a href="https://www.youtube.com/watch?v=_ZW4ktG1DEE">javaCalctor</a></li>  
   <li><a href="https://www.youtube.com/watch?v=8cm1x4bC610">javaTutrial</a></li>  
   <li><a href="https://www.youtube.com/watch?v=3vauM7axnRs">javaLogIn</a></li>  
   <li><a href="https://www.youtube.com/watch?v=IHQ-UUj0bxs">learningStrategies</a></li>  
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>

 
