<ul id="bookmarks">
  <li><a href="#">linearAlg1</a>
   <ul class="sites">
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-06-linear-algebra-spring-2010/">linAlg'10</a></li>
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-06sc-linear-algebra-fall-2011/">linAlg'11</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZK3O402wf1c">linAlg</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZK3O402wf1c">mit</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Mad4kQ5835Y">graphs2o</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7R6w55-oqgo">advMath</a></li>  
    <li><a href="https://www.youtube.com/watch?v=TfAKsZOWBVg">boole</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yCwnifwVjIg">setTheory</a></li>  
    <li><a href="https://youtu.be/I_Df_mx8Hxo?t=19">books</a></li>
    <li><a href="https://www.youtube.com/watch?v=rwDgfxTulpI">russiaProb</a></li>  
  </ul>
 </li>
  <li><a href="#">linearAlg2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=IP7nW_hKB7I">abstractAlgebra</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ozwodzD5bJM">vectorSpace</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ip3X9LOh2dk">determinants</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rowWM-MijXU">matrices</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kZwSqZuBMGg">linearAlgForML</a></li>  
    <li><a href="https://www.youtube.com/watch?v=J7DzL2_Na80">linEqGeometry</a></li>  
  </ul>
 </li>
 <li><a href="../math/index.html">&#160;&#160;&#60;--</a></li>
</ul>
