<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="generators/index.html">generators</a>
   <ul class="sites">
    <li><a href="generators/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">motors</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=fpTvZlnrsP0">oldMtrs</a></li>
    <li><a href="https://www.youtube.com/watch?v=gPJrlFsRXGk">pulseMotr</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZKodxGcRSnw">lrgeMotrs</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZKodxGcRSnw">motors</a></li>     
    <li><a href="https://www.youtube.com/watch?v=LJOtjsx8_JU">coilWind</a></li>
    <li><a href="https://www.youtube.com/watch?v=05jpsSEF_Qs">audoWind</a></li>
    <li><a href="https://www.youtube.com/watch?v=IkaJJRhnJEg">weedEtr</a></li>
    <li><a href="https://www.youtube.com/watch?v=onjFFoOC_yk">motors1</a></li> 
    <li><a href="https://www.youtube.com/watch?v=uf2mI9pYcPg">motors2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=TumJjfcVVuo">motors3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2XYdTogWcIA">motors4</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ZKodxGcRSnw">wireMotors</a></li>
    <li><a href="https://www.youtube.com/watch?v=5XkBpn1GaJw">motorToDc</a></li>  
  </ul>
 </li>  
  <li><a href="#">washMach</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=k20XVrF_CAU">wshMach</a></li>
    <li><a href="https://www.youtube.com/watch?v=T3dOpzU_p1E">wMachSalv</a></li>
    <li><a href="https://www.youtube.com/watch?v=FgkcC7BnVCQ">wMachCar</a></li>  
    <li><a href="https://www.youtube.com/watch?v=L_jd5325VHU">wMachWrng</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0ieFZI4-6K8">wMachPwer</a></li> 
  </ul>
 </li>
  <li><a href="#">magnetics</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=O5uUiDuathg">lvitation</a></li>  
    <li><a href="https://www.youtube.com/watch?v=LaGv2FHS5zg">magLevt1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=TFWeEL63Hzs">magLevt2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=12yZ4oeOFWk">ardLevt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BgIjlvlwwzY">howLevt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=F9bdU_uw2Dc">justALink</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1UcSDKPx_To">scam</a></li>  
    <li><a href="https://www.youtube.com/watch?v=IkaJJRhnJEg">weedEtr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mm6rk6a0L9o">wTransf</a></li>  
    <li><a href="https://www.youtube.com/watch?v=SodmPbachm8">4coil</a></li> 
    <li><a href="https://www.youtube.com/watch?v=spwyGQuIXwc">transf</a></li>   
  </ul>
 </li>
  <li><a href="#">compressors</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=BIydaQMQ5Uc">airCompssor</a></li>  
    <li><a href="https://www.youtube.com/watch?v=uCWS7ahmRAc">compressor</a></li>
    <li><a href="https://www.youtube.com/watch?v=bxf75yJ1WjY">vacuum</a></li>
  </ul>
 </li>
  <li><a href="#">3-phase</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=4oRT7PoXSS0">3Phase</a></li>  
    <li><a href="https://www.youtube.com/watch?v=quABfe4Ev3s">threePhase</a></li>  
  </ul>
 </li>
  <li><a href="#">plasma</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=DYcuBvUZgB4">motorGenrtor</a></li>  
  </ul>
 </li>
  <li><a href="#">rodin</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_ntN1JdIF9U">rodinCo</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MG_2lRAHeh0">rodnMath</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_ntN1JdIF9U">rodinCo</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MG_2lRAHeh0">rodnMath</a></li>  
  </ul>
 </li>
  <li><a href="#">levitation</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=O5uUiDuathg">lvitation</a></li>  
    <li><a href="https://www.youtube.com/watch?v=LaGv2FHS5zg">magLevt1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=TFWeEL63Hzs">magLevt2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BgIjlvlwwzY">howLevt</a></li>  
  </ul>
 </li>
  <li><a href="#">rare earth</a>
   <ul class="sites">
    <li><a href="https://youtu.be/jETq9jf54ys?t=2">video</a></li>
    <li><a href="http://www.metatech.org/implants_physical_destroy.html">article</a></li>
    <li><a href="https://www.youtube.com/watch?v=W7nt5FynDw8">rfid</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ra7bT74EGUs">grainOfRice</a></li>  
  </ul>
 </li>
 <li><a href="electronics/index.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>

mag
    <li><a href="https://www.youtube.com/watch?v=UdrcQ3_3f_8">magnets</a></li> 
    <li><a href="http://www.free-energy-info.com/BuieMorin.pdf">freeE</a></li>
    <li><a href="https://www.youtube.com/watch?v=CDEhclk9gDk">freeE</a></li>  
    <li><a href="https://www.youtube.com/watch?v=waQUEly4kPw">moreFreeEngy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ua6brgZha-4">boilWMag</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Cuobx2uPgY0">eMagnet</a></li>  
    <li><a href="https://www.youtube.com/watch?v=nYXIBTB4fao">freeGen</a></li>    

    <li><a href="https://www.youtube.com/watch?v=T52cEofR8WI">spkerMag</a></li>  
    <li><a href="https://www.youtube.com/watch?v=a4xTw21XoSQ">spkrElectrs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=K5plAcBKGFA">trnsfrmer</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2CIizY5nb9I">freePwer</a></li>  
 
    <li><a href="https://www.youtube.com/watch?v=3zjnX41K1pE">miniTsla</a></li>   
    <li><a href="http://aircorecoil.sell.everychina.com/p-99743455/showimage.html">cheapCoils</a></li>
    <li><a href="https://www.youtube.com/watch?v=mPywk_ZTIng">teslaCoil</a></li>
    <li><a href="https://www.youtube.com/watch?v=2RKq4-GivBs">magnet</a></li>  
 

 
