<ul id="bookmarks">
  <li><a href="#">basics1</a>
   <ul class="sites">
    <li><a href="https://youtu.be/I_Df_mx8Hxo?t=19">books</a></li>
    <li><a href="https://www.youtube.com/watch?v=l_ffdarcJiQ">problem</a></li>
    <li><a href="https://www.youtube.com/watch?v=wzchhbrqIBI">precdnce</a></li>
    <li><a href="https://www.youtube.com/watch?v=yk6wbvNPZW0">irrtnal</a></li>
    <li><a href="https://www.youtube.com/watch?v=cvG77iyFvlU">rightA</a></li>
    <li><a href="https://www.youtube.com/results?search_query=unit+conversions+made+easy">conv</a></li>
    <li><a href="https://www.youtube.com/watch?v=CHn_lLbnm8c">tConv</a></li>  
    <li><a href="https://www.youtube.com/watch?v=J5Ug3Cr8RUE">obMath</a></li>  
    <li><a href="https://www.youtube.com/watch?v=i0dZukEw1JY">radPzzle</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WKYIoUnMAnI">quadratcs</a></li>   
    <li><a href="https://www.youtube.com/watch?v=tdvII0x0Y58">mthPrbs</a></li> 
    <li><a href="https://www.youtube.com/watch?v=QJYmyhnaaek">ptha3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=n_6p-1J551Y">cube</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ds8ijPsg26g">cube roots</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rBnQiLa2TYo">logarthms</a></li> 
  </ul>
 </li> 
  <li><a href="#">basics2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=lZ3bPUKo5zc">superposition</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1JORwOdrwZA">interest</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Y8sUJsMmkPo">moreMath</a></li>
    <li><a href="https://www.youtube.com/watch?v=TFhKK6bWcYE">circle</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GNcFjFmqEc8">sphereArea</a></li>
    <li><a href="https://www.youtube.com/watch?v=VcMReS8kLM8">multiplication</a></li>
    <li><a href="https://www.youtube.com/watch?v=i4VqXRRXi68">square</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_4k9GwA5LwM">parabola</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rwDgfxTulpI">russiaProb</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Y6caQ_8_frU">csat</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xnE_sO7PbBs">findArea</a></li> 
    <li><a href="https://www.youtube.com/watch?v=nXwQgJX-4uY">interest</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tFs0ZUKGeR0">summtion</a></li>  
    <li><a href="https://www.youtube.com/watch?v=qn7z9T-dezw">summtion1</a></li>  
  </ul>
 </li>
  <li><a href="#">basics3</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=krlNeGKJJV0">summtion2</a></li>
    <li><a href="https://www.youtube.com/watch?v=i0dZukEw1JY">radiusPuzzle</a></li> 
    <li><a href="https://www.youtube.com/watch?v=T647CGsuOVU">imNums1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=W_SMypXo7tc">unitConv</a></li> 
    <li><a href="https://www.youtube.com/watch?v=xVL9qbnHYrc">puzzle</a></li> 
    <li><a href="https://www.youtube.com/watch?v=ye6Bz8EPZK0">sqrRtTrk </a></li>
    <li><a href="https://www.youtube.com/watch?v=GZnbclRf4wo">mathQstn</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ABj3IC9pYlQ">wrdProb</a></li> 
    <li><a href="https://www.youtube.com/watch?v=7hkmJ73YNt8">sqroot</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZMkIiFs35HQ">squarePrime</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0WHThuWxwx0">taylorSeries</a></li>
    <li><a href="http://www.welchlabs.com/">welchlabs</a></li> 
    <li><a href="https://www.youtube.com/watch?v=nUyLnjgGumg">squareRoot</a></li>  

  </ul>
 </li> 
  <li><a href="#">basics4</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=T7D1W1oD8wo">hexagon</a></li>    
    <li><a href="https://www.youtube.com/watch?v=k6KhHKYu4UY">vedicMth</a></li>
    <li><a href="https://www.youtube.com/watch?v=DOISjFviqkM">mathPuzzle</a></li>  
    <li><a href="https://www.youtube.com/watch?v=pOz6e5rmnjQ">pthNtgrl</a></li>
    <li><a href="https://www.youtube.com/watch?v=DqDJAPpAlTg">archimds</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7R6w55-oqgo">jeeMath</a></li> 
  </ul>
 </li>  
  <li><a href="../trig/index.html">trig</a>
   <ul class="sites">
    <li><a href="../trig/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../algebra/index.html">algebra</a>
   <ul class="sites">
    <li><a href="../algebra/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../preCalc/index.html">preCalc</a>
   <ul class="sites">
    <li><a href="../preCalc/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../calculus/index.html">calculus</a>
   <ul class="sites">
    <li><a href="../calculus/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">linearAlg</a>
   <ul class="sites">
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-06-linear-algebra-spring-2010/">linAlg'10</a></li>
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-06sc-linear-algebra-fall-2011/">linAlg'11</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZK3O402wf1c">linAlg</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZK3O402wf1c">mit</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Mad4kQ5835Y">graphs2o</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7R6w55-oqgo">advMath</a></li>  
    <li><a href="https://www.youtube.com/watch?v=TfAKsZOWBVg">boole</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yCwnifwVjIg">setTheory</a></li>  
  </ul>
 </li>
  <li><a href="#">aptitude</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Rt6beTKDtqY">mlMath</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Et3eIO41veU">cat2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=W_tFtGOeHQM">cAptude1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Et3eIO41veU">cAptude2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=idBbsanc8BQ">aaa</a></li>
    <li><a href="https://www.youtube.com/watch?v=RrtnEJg9A84">catLrdiRev</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-WZnH-IQwEo">quants</a></li>   
    <li><a href="https://www.youtube.com/watch?v=z6lbrzaCbdk">greMath</a></li>   
  </ul>
 </li>
  <li><a href="../moreMath/index.html">moreMath</a>
   <ul class="sites">
    <li><a href="../moreMath/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>

    <li><a href="https://www.youtube.com/watch?v=cPNdvdYn05c">shadedArea</a></li>  
    <li><a href="https://www.mathjax.org/#demo">mathJax</a></li>  
    <li><a href="https://www.youtube.com/watch?v=KTUVdXI2vng">mathCrisis</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1r6893ga_So">btyCalcs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Rh0pYtQG5wIleImg">lorentz</a></li>  
    <li><a href="https://www.youtube.com/watch?v=v6oJ5rw9mys">magic7math</a></li>  
    <li><a href="https://www.youtube.com/watch?v=g4WK8gVR6sY">funnyNumbers</a></li>  
    <li><a href="https://www.youtube.com/watch?v=NsZG9DCi-ZA">wldgFrmMcro</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1EkoaQJyrfki">radius</a></li> 
    <li><a href="https://www.youtube.com/watch?v=T_ekAD7U-wU">matLab</a></li>  
    <li><a href="https://www.youtube.com/watch?v=A7EOSApApw4">fastMuliply</a></li>  

