<ul id="bookmarks">
  <li><a href="#">astronomy</a>
   <ul class="sites">
    <li><a href="http://planck.caltech.edu/">planck</a></li>  
    <li><a href="https://www.mmarray.org/">carma</a></li>  
  </ul>
 </li>  
 <li><a href="https://www.youtube.com/watch?v=5DpYlnHT-0s">magneton</a></li>  
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>


    <li><a href="https://www.youtube.com/watch?v=lu9G7ef9uBg">5gMyths</a></li>  
    <li><a href="http://www.bigislandvideonews.com/2019/05/05/video-5g-health-concerns-raised/">concerns</a></li>
    <li><a href="https://www.youtube.com/watch?v=tufq7KrL-TA">5Gprotction</a></li>   
    <li><a href="https://www.youtube.com/watch?v=lu9G7ef9uBg">5GDebunked</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Tz6egGGmg5Q">no5gBrussels</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ErWfimjM-fM">protectFrom5g</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xrhIAf5Pdfc">5gMeltHeart</a></li>  
    <li><a href="https://www.youtube.com/watch?v=K3JhuWdV2Kk">ickeOn5G</a></li>  
    <li><a href="https://www.youtube.com/watch?v=VcaiFGpGURc">block5G</a></li>  
    <li><a href="https://www.youtube.com/watch?v=znAsz2i5Zow">5GTrainStation</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kF5GXb3O2Vw">blcked5g</a></li>  

    <li><a href="https://www.youtube.com/watch?v=a0359OG6CyY">privacy</a></li>  

    <li><a href="https://www.youtube.com/watch?v=bVquLXTq4bQ">vanDeGraf</a></li>  
