<ul id="bookmarks">
  <li><a href="#">rasberryPi</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=D8nmsWLsXrU">makRasp</a></li>       
    <li><a href="https://www.youtube.com/watch?v=vzojwG7OB7c">server</a></li>
    <li><a href="https://www.youtube.com/watch?v=juHoJYX86Dg">rasbPi</a></li>
    <li><a href="https://www.youtube.com/watch?v=H2rTecSO0gk">fourNode</a></li>
    <li><a href="https://www.youtube.com/watch?v=5ExWmpFnAnE">kali</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ki4ggZU5sb8">phonePc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=vzojwG7OB7c">server</a></li> 
    <li><a href="https://www.engineersgarage.com/embedded/raspberry-pi/web-controlled-home-automation?fbclid=IwAR3tb_plbFbdST9q_r-ARWMl4bT8RIzRvU3jad12yoxavNESO9Ecvxaharc">automation</a></li>  
  </ul>
 </li>
  <li><a href="../arduino/index.html">arduino</a>
   <ul class="sites">
    <li><a href=",,/arduino/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">classes</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=sqxzQkAdJm0">circuits1</a></li>
    <li><a href="https://www.youtube.com/watch?v=sqxzQkAdJm0&t=20s">circuits</a></li>
    <li><a href="https://www.youtube.com/watch?v=89NJj1F_qmQ">eCurriculum</a></li>
    <li><a href="https://www.youtube.com/watch?v=sqxzQkAdJm0&t=79s">circuitAnalysis</a></li>
  </ul>
 </li>
  <li><a href="devices.html">devices</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=MckWgUEwUrw">blueTooth</a></li>
    <li><a href="https://www.youtube.com/watch?v=5b_-3nhPJok">blueTooth1</a></li>
    <li><a href="https://www.youtube.com/watch?v=qRCz6n_cqHM">nightVision</a></li>
    <li><a href="https://www.youtube.com/watch?v=G32NYQpvy8Q">smrtMter</a></li>
    <li><a href="https://www.youtube.com/watch?v=IHyM7o-OVqA">rfId</a></li>
    <li><a href="https://www.youtube.com/watch?v=fAEQees-SwA">empJammer</a></li> 
  </ul>
 </li>
  <li><a href="../handheld/index.html">handheld</a>
   <ul class="sites">
    <li><a href="../handheld/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../circuits/index.html">circuits</a>
   <ul class="sites">
    <li><a href="../circuits/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../bench/index.html">bench</a>
   <ul class="sites">
    <li><a href="../bench/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../magnetics/index.html">magnetics</a>
   <ul class="sites">
    <li><a href="../magnetics/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../radionics/index.html">radionics</a>
   <ul class="sites">
    <li><a href="../radionics/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../electronics/index.html">&#160;&#160;&#60;--</a></li>
</ul>

