<ul id="bookmarks">
  <li><a href="#">alternatives</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=HEOTxVY8esE">engine</a></li>  
    <li><a href="https://www.youtube.com/watch?v=U9cazC7DBFk">goCart</a></li>  
    <li><a href="https://www.youtube.com/watch?v=IKqy3rRWJQE">carAlt</a></li>
    <li><a href="https://www.youtube.com/watch?v=02xtdkBR4ho">carChrgr</a></li>
    <li><a href="https://www.youtube.com/watch?v=9AFw3Agg7SM">woodCar</a></li>
    <li><a href="https://www.youtube.com/watch?v=sILjbp3mu8o">OilToDiesel</a></li>  
    <li><a href="http://www.steam-engine.org/wirewiz.html">engine</a></li>
    <li><a href="https://www.youtube.com/watch?v=cQdGTritwwc">freeDiesel</a></li>  
  </ul>
 </li>
   <li><a href="#">eEngine</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=2wfo2QqkXMU">solenoidEng</a></li>  
    <li><a href="https://www.youtube.com/watch?v=E3acflHdBGs">oscEng</a></li>  
    <li><a href="https://www.youtube.com/watch?v=J4JAil3R72k">thAcEngine</a></li>  
  </ul>
 </li>
   <li><a href="#">hydroEngine</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=pa2sjMN8sMc">electrolyzers</a></li>
    <li><a href="https://www.youtube.com/watch?v=YsCFDBJLd2M">hydrogenGen</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tRYj23Ond3g">hydroFuelRide</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Zxhve2OmrYc">hydroFuelCell</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cqjn3mup1So">waterToFuel</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5_uYGNoN0mw">royMcallister</a></li>
    <li><a href="http://fuelcellstore.com/fuel-cell-facts</li>">fuelCells</a>
   </ul>
  </li>
   <li><a href="#">heating</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=nC_Ql5qVs4Q">coHeat</a></li>
    <li><a href="https://www.youtube.com/watch?v=SCxIQbn0Q4Q">roomHeater</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Z38ndzSPJxQ">tinCanStove</a></li>
    <li><a href="https://www.youtube.com/watch?v=Ua6brgZha-4">boilWMag</a></li>  
    <li><a href="http://solarcooking.org/plans/plans.pdf">solarOven</a></li>
    <li><a href="https://www.youtube.com/watch?v=goqtMqqjlQU">stveFlter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Sc78nueDQ64">solrHeater</a></li> 
    <li><a href="https://www.youtube.com/watch?v=TFcv0xg3A-Y">indHeating</a></li> 
   </ul>
  </li>
   <li><a href="#">moreHeating</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=nlZl8YcKnLY">indcnHtr</a></li>
    <li><a href="https://www.youtube.com/watch?v=0v9OlmwJM7s">indctnFrnce</a></li>    
    <li><a href="https://www.youtube.com/watch?v=EaBdsks41A4">waterHeater</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2Sfo-hjDb0o">freeHvac</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Sc78nueDQ64">coilWtrHtr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=l0-aq7PhUNQ">dieselHeater</a></li>
    <li><a href="https://www.youtube.com/watch?v=PzXfXTeYdV4">cheapSlrFrnce</a></li> 
    <li><a href="https://www.youtube.com/watch?v=OOxR4YuXMmQ">refgCmprssr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=HyLP9AlYJ9I">inductionHeating</a></li>  
   </ul>
  </li>
   <li><a href="#">cooling</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=FS2YaJkkHQY">portable</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XePPZ1h5Jic">miniSplit</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oY4q5uxtiYI">usePeltier</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OR1kH6EO3P0">mini</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5NuvzWaBulw">fromFan</a></li>  
    <li><a href="https://www.youtube.com/watch?v=leTRMii0IUc">withoutIce</a></li>  
   </ul>
  </li>
   <li><a href="#">moreCooling</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=z9SSAhtgtzAtaiChi">airCond</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rT9-HUzUqhQ">eCooler</a></li>  
    <li><a href="https://www.youtube.com/watch?v=v2ZisExtbhM">portableAir</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YWUhwmmZa7A">refrigerator</a></li> 
    <li><a href="https://www.youtube.com/watch?v=ABK-BndqGz8">fridgeRepair</a></li>    
   </ul>
  </li>
  <li><a href="../mreEng/index.html">other</a>
   <ul class="sites">
    <li><a href="../mreEng/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../engineering/index.html">&#160;&#160;&#60;--</a></li>
</ul>

