<ul id="bookmarks">
  <li><a href="#">magnetics</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Scaggwv8Cms">freeE220V</a></li>  
    <li><a href="https://www.youtube.com/watch?v=bsS_7EEYx1Y">motorRewind</a></li>  
    <li><a href="https://www.youtube.com/watch?v=waQUEly4kPw">mgnet&DcMtor</a></li>  
    <li><a href="https://www.youtube.com/watch?v=z81ZS1-6QWU">milesAntenaa</a></li>  
    <li><a href="https://www.youtube.com/watch?v=bwreHReBH2A">emWaves</a></li> 
    <li><a href="https://www.youtube.com/watch?v=t9TrUPoevXI">windTurbine</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oq40SqxnDvM">magWave</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ozeYaikI11g">transmLines</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Scaggwv8Cms">free200V</a></li> 
    <li><a href="https://www.youtube.com/watch?v=XjEgFlngZ04">smallWGen</a></li>  
  </ul>
 </li> 
  <li><a href="#">moreMags</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=5B58pEh8F3E">spiralEng</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MG_2lRAHeh0">rodinCoil</a></li>  
    <li><a href="https://www.youtube.com/watch?v=bHD0Pq0TJLI">warpDrvCoil</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hyau3BOd0yU">freeEgen</a></li>  
    <li><a href="https://www.youtube.com/watch?v=py7nqX3_srw">freeEmGen</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3691MFFhzzw">freeE</a></li>  
    <li><a href="https://www.youtube.com/watch?v=o82mwcMgQPo">bifilarCoil</a></li>
    <li><a href="https://www.youtube.com/watch?v=y3Bh_N1dRjg">solenoidEngine</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1Flj1i0zQ-8">hairpin</a></li>  
  </ul>
 </li>
  <li><a href="../generators/index.html">&#160;&#160;&#60;--</a></li>
</ul>
