<ul id="bookmarks">
  <li><a href="#">marketing</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=dU4rWLHAcoo">digProd</a></li> 
    <li><a href="https://www.youtube.com/watch?v=illAMNRHHSU">jobsLive</a></li>  
    <li><a href="https://www.youtube.com/watch?v=J4YzaxIa4d0">freelance</a></li>  
    <li><a href="https://www.youtube.com/watch?v=b1yTkY6ZNcw">classifieds</a></li>  
    <li><a href="https://blockonomi.com/merkle-tree/">merkle</a></li>  
    <li><a href="https://www.youtube.com/watch?v=HCAb5peWZu8">busCard</a></li>    
  </ul>
 </li>
  <li><a href="#">languages</a>
   <ul class="sites">
    <li><a href="https://deals.pockettranslator.io/blog/1?affID=304&C1=107813&C2=e1abc3fe778f0541f559c936ba026dfb&C3=25035&C4=pass-zm&C5=&click_id=42b6dd2b722f43f1b3db2914443b08bf">translator</a></li>  
    <li><a href="https://www.youtube.com/watch?v=z6oDw-nXCD8">manadarin</a></li>  
    <li><a href="https://play.google.com/store/apps/details?id=com.duolingo&hl=en_US">duolingo</a></li>
    <li><a href="https://www.youtube.com/watch?v=tY9XoXMsYgg">japanese</a></li>  
    <li><a href="https://www.grammarly.com/">grammarly</a></li>
    <li><a href="http://placement.math.arizona.edu/support/solutions/articles/14000082861-review-for-courses-and-aleks-ppl-assessment-test-">aleks</a></li>
    <li><a href="https://www.youtube.com/watch?v=dHAbmoFHqgA">speaking</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3Qjr9nWh5cU">improveVce</a></li>  
  </ul>
 </li>
  <li><a href="#">work</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=-1N0L-FDWCs">inventory</a></li>
    <li><a href="https://triplebyte.com/blog/bayesian-inference-for-hiring-engineers?ref=fb_rem_jun18_cont_bayes1&fbclid=IwAR1MoaoQpPXh5HFWXpln2xSYz-36FeRe23OeSrQEDGRn1bjI9zREkFJ6tT8">bayesian</a></li>
    <li><a href="https://www.youtube.com/watch?v=XE7EnOLH1tw">buildABiz</a></li>  
    <li><a href="https://openbazaar.org/">openbazaar</a></li>
    <li><a href="http://thenonprofitnetwork.org/">nonProfitNet</a></li>  
    <li><a href="https://twitter.com/telegram">twitterTg</a></li>
    <li><a href="https://www.youtube.com/watch?v=1DvTwuByjo0">sysAd</a></li> 
    <li><a href="https://slack.com/">slackWork</a></li>  
    <li><a href="https://slack.com/">slack</a></li>
    <li><a href="https://www.youtube.com/user/tibees">tibees</a></li>    
    <li><a href="https://www.freelancer.com/">freeLancer</a></li>  
    <li><a href="https://www.toppaiddeveloper.com/free-report1?fbclid=IwAR2xUIUGwx2MT-Qz3HmJMM8a0922Az2AQbfswBI27qOR5gi-iaRlPy703z4">work</a></li>
  </ul>
 </li>
  <li><a href="#">moreWork</a>
   <ul class="sites">
    <li><a href="https://developer.amazon.com/alexa-skills-kit/courses/cake-walk?sc_category=paid&sc_channel=DA&sc_campaign=DA-GO%7CDisplay-P%7CDesktop%7CLD%7CProfessional_Developer%7CCakeWalk%7CUS%7CEnglish%7CImage%7CJune2019&sc_publisher=GO&sc_content=content&sc_detail=352595138345&sc_funnel=convert&sc_country=US&sc_keyword=&sc_place=www.youtube.com&sc_trackingcode=&sc_segment=InMarket_Targeting&sc_medium=paid+DA+DA-GO%7CDisplay-P%7CDesktop%7CLD%7CProfessional_Developer%7CCakeWalk%7CUS%7CEnglish%7CImage%7CJune2019+GO+content+352595138345+convert+US++www.youtube.com++InMarket_Targeting&gclid=EAIaIQobChMI-srRoavQ4gIVmSatBh1ZqgU1EAEYASAAEgKDQvD_BwE">alexa</a></li>
    <li><a href="https://www.upwork.com/ppc/landing/?hl=Hire%20Top%20Programming%20Pros
%20&ct=Programming%20Pros&title=programmer&gclid=CjwKCAjw5pPnBRBJEiwAULZKvhiD86ByZv7utpMN6Bd-_-QEYMLT0BgcQ1gV1oq_Dweud-iutHXtTxoCJ18QAvD_BwE">upwork</a></li>  
    <li><a href="https://talkroute.com/key-areas-to-outsource-home-business/">talkRoute</a></li>
    <li><a href="https://www.qubes-os.org/">qubesOs</a></li>
    <li><a href="http://kronosapiens.github.io/blog/2018/07/04/patricia-trees.html">patricia</a></li>
    <li><a href="https://www.augur.net/">augur</a></li>
    <li><a href="https://www.provenance.org/whitepaper">provenance</a></li>
    <li><a href="https://www.youtube.com/watch?v=JdfC-HMCYqw">3dPnt</a></li>  
  </ul>
 </li>
  <li><a href="#">dockerTools</a>
   <ul class="sites">
    <li><a href="https://pages.cloud.vmware.com/managing-kubernetes?utm_source=fb&utm_medium=pds&utm_campaign=fb-pds-cpk-a-120-noram-en_us---&utm_content&fbclid=IwAR2UXWCiH4x1p2WjTGyOH2bTpLZJLK6jVWNsU_tMzikEXbTxZl1d908lBGc">vmWare</a></li> 
    <li><a href="https://www.youtube.com/watch?v=AJiIsA7X-SA">devOpskubers</a></li>  
    <li><a href="https://www.youtube.com/watch?v=JHoy3lDZOfY">devOps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=u8dW8DrcSmo">dockerKubs</a></li> 
    <li><a href="https://www.youtube.com/watch?v=zJ6WbK9zFpI">docker</a></li>  
  </ul>
 </li>
  <li><a href="#">contracts</a>
   <ul class="sites">
    <li><a href="https://truffleframework.com/tutorials">truffle</a></li>  
  </ul>
 </li>
  <li><a href="#">bots</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=zElSfosZ48o">busEmail</a></li> 
    <li><a href="https://botacademy.com/workshop-registration-for-bots/?wid=eg0502&cookieUUID=be3cb4db-6b21-40d7-ada2-cf9b2f8d521d">botAcademy</a></li>  
    <li><a href="https://www.intercom.com/drlp/customizable-bots?utm_source=facebook&utm_medium=paid-social&utm_campaign=23843883273790436&utm_content=Facebook_Desktop_Feed&utm_ad_collection=23844295982160436&utm_ad=23844295982090436&offer=drcustombots&creative=artboard-v2&_bf=23844295982090436&utm_campaign_name=fa_evg_acq_trial_pros_&utm_ad_collection_name=gen-a_listcalal_bld_namer_en&utm_ad_name=drcustombots_buildabotinminutes_static_1x1_20Q3&fbclid=IwAR20S75MOlUaVS58RdRCi00n4Y2DiUu-YsXO1fX1sWfz3aoxI24H-DFDrww">easyBots</a></li>  
  </ul>
 </li>
  <li><a href="#">dataExtract</a>
   <ul class="sites">
    <li><a href="https://www.google.com/search?q=webscraping&oq=webscraping&aqs=chrome..69i57j0l5.2827j0j7&sourceid=chrome&ie=UTF-8">webScraping</a></li>
    <li><a href="https://www.google.com/search?q=focus+on+web+scraping+part+1&oq=focus+on+web+scraping+part+1&aqs=chrome..69i57.5224j0j7&sourceid=chrome&ie=UTF-8">moreScraping</a></li>
  </ul>
 </li>
  <li><a href="../mreWork/index.html">mreWork</a>
   <ul class="sites">
    <li><a href="../mreWork/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../work/index.html">&#160;&#160;&#60;--</a></li>
</ul>
