<ul id="bookmarks">
  <li><a href="#">eproms</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=K88pgWhEb1M&t=35s">ardEprom</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BA12Z7gQ4P0">eproms</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLqFzqzGMquZwJ-WwiEfWvj8CQXRevAb2d">fpgaPrj</a></li>
    <li><a href="https://help.ubuntu.com/community/XilinxISE">xilinx</a></li>
    <li><a href="https://www.youtube.com/watch?v=SrsCEbi5N7Y">dkdkgo</a></li>  
    <li><a href="https://red-pitaya-fpga-examples.readthedocs.io/en/latest/_downloads/StartprogrammingFPGAusingRedPitayaboard.pdf">fpga</a></li>
    <li><a href="https://www.youtube.com/watch?v=meO-b6Ib17Y">xilinx</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BA12Z7gQ4P0">eePromUse</a></li>  
  </ul>
 </li>
  <li><a href="#">logic</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=95kv5BF2Z9E">introLGts</a></li>  
    <li><a href="https://www.youtube.com/watch?v=UuPEu_0ap1w&list=PLJwCQtAhsso8K0knRZJ1qw1LkoZGWkOpm">digLogic</a></li>
    <li><a href="https://www.youtube.com/watch?v=2SpuBqvNjHI">progMath</a></li>
    <li><a href="https://www.youtube.com/watch?v=70PzhlfAUi4">logicH</a></li>
    <li><a href="https://www.youtube.com/watch?v=a3jr-Kbr4og">deMorgan</a></li>
    <li><a href="https://www.youtube.com/watch?v=_2By2ane2I4">howQwatch</a></li>
  </ul>
 </li>
  <li><a href="#">audio</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=EQ6RM3XMfKg">bose</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QovaMj9bkc0">microMags</a></li>  
    <li><a href="https://www.youtube.com/watch?v=01EFDUSovPI">bulb</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cz3DEP2LC_w">trsfSpk</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MckWgUEwUrw">audioAmp</a></li>
    <li><a href="https://www.youtube.com/watch?v=G-sLC7Lb9LY">hdphnes</a></li>
    <li><a href="https://www.youtube.com/watch?v=e7JM0D9Ohac">electr</a></li>
    <li><a href="https://www.youtube.com/watch?v=O_iu48VTRDE">elecMic</a></li>
  </ul>
 </li>
  <li><a href="#">radio</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_AI2Jixj5Bs">quickRadio</a></li>  
    <li><a href="https://www.youtube.com/watch?v=h_F3J4vyzNk">crudeFm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=onPW2OkN0Yo">useTvRemote</a></li> 
    <li><a href="https://www.youtube.com/watch?v=8XR9Uzy2RPM">crystalRdio</a></li>
    <li><a href="https://www.youtube.com/watch?v=0-PParSmwtE">crstalRadio</a></li>
    <li><a href="https://www.youtube.com/watch?v=ISbidethQyc">chrsdeRdio</a></li>  
  </ul>
 </li>
  <li><a href="#">uart</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=ZmZuKA-Rst0">uartShell</a></li>  
    <li><a href="https://www.youtube.com/watch?v=IyGwvGzrqp8">uartPrtcol</a></li>  
    <li><a href="https://www.youtube.com/watch?v=V6m2skVlsQI">uart</a></li>  
    <li><a href="https://www.engineersgarage.com/arm-projects/uart-programming-for-lpc2148?fbclid=IwAR0fY5BtTjpkBP7pKw5lb3Ina2tQl3ukV3lJVUVJWCJ2hSg8T6p-0CuUvfE">rs232</a></li>  
  </ul>
 </li>  
  <li><a href="#">ram</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=v5WDDZqhn2s">ramUpgrd</a></li>
    <li><a href="https://www.youtube.com/watch?v=rHP-OPXK2ig">ramUp1</a></li>    
  </ul>
 </li>  
 <li><a href="../circuits/index.html">&#160;&#160;&#60;--</a></li>
</ul>
