<ul id="bookmarks">
  <li><a href="#">kachina</a>
   <ul class="sites">
    <li><a href="https://www.google.com/search?q=double+sunset&oq=double+sunset&aqs=chrome..69i57j69i61j69i60j0l3.4036j0j4&sourceid=chrome&ie=UTF-8">doubleSun</a></li>
    <li><a href="http://binaryresearchinstitute.com/bri/">binResearch</a></li>
    <li><a href="https://www.youtube.com/watch?v=Vfh3hrj5PMo">blueKachina</a></li>  
    <li><a href="https://www.youtube.com/watch?v=u0n4QG8fvpw">hopiProphecy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oZWZj20kXKg">kachinaImage</a></li>  
  </ul>
 </li>
 <li><a href="#">birkeland</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=yIFR67sckK0">birkeland1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yIFR67sckK0">birkeland2</a></li>
    <li><a href="https://www.plasma-universe.com/Birkeland_current">birkeland</a></li>
  </ul>
 </li>
  <li><a href="#">egypt1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=KuUMe-43A3E">egypt</a></li>
    <li><a href="https://www.youtube.com/watch?v=5A4zpHHdqy4">moreEgypt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=bfuX0Pgw0UI">gizaTomb</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BVR5V-cmpbA">labyrinth</a></li> 
    <li><a href="https://www.youtube.com/watch?v=2fS9ixfQ_no">pyramids</a></li>
    <li><a href="https://www.youtube.com/watch?v=WGB_7n8V_y4">egyptRain</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QeJjyOMwHYE&t=21s">olderEgpt</a></li> 
  </ul>
 </li>
  <li><a href="#">egypt2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=bRcu-ysocX4">1177BC</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rcFWn3-i8F0">nile</a></li>
    <li><a href="https://www.youtube.com/watch?v=QNrPBwxiXlQ">tomb</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MXG18Z0QQHY">ancients</a></li>  
    <li><a href="http://onlinelibrary.wiley.com/doi/10.1029/2004GL022156/pdf">acoustLev</a></li>
    <li><a href="https://www.youtube.com/watch?v=KuUMe-43A3E">egpt8thbc</a></li>
    <li><a href="https://www.youtube.com/watch?v=bZQxtHJer60">bones</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QeJjyOMwHYE">diffEgpt</a></li> 
  </ul>
 </li>
  <li><a href="#">voynich</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=awGN5NApDy4">voynich</a></li>
    <li><a href="https://www.youtube.com/watch?v=fpZD_3D8_WQ">voynichHack</a></li>
    <li><a href="https://www.youtube.com/watch?v=4cRlqE3D3RQ">voynich</a></li>
  </ul>
 </li>
  <li><a href="#">historical</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=GbWMw249xY8">hiddenHis</a></li>
    <li><a href="https://www.youtube.com/watch?v=r6IrMjfbh6E">aborigines</a></li>
    <li><a href="https://www.youtube.com/watch?v=ozOp0iXduyY">laoTzu</a></li>
    <li><a href="https://www.youtube.com/watch?v=nke9geV7g98">socArsPlto</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1C0sFXU0SLo">beowulf</a></li> 
    <li><a href="https://www.youtube.com/watch?v=xF02VN2qVgc">befColumbus</a></li>
  </ul>
 </li>
  <li><a href="#">more</a>
   <ul class="sites">
    <li><a href="https://www-spof.gsfc.nasa.gov/Education/wcurrent.html">spriteCrnts</a></li>
    <li><a href="https://www.youtube.com/watch?v=mzpSGuAI4To">fingers</a></li>
    <li><a href="https://www.youtube.com/watch?v=nL8ugkTj1yw">na</a></li>  
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>







