<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">more</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=chPhlsHoEPo">curso</a></li>  
    <li><a href="https://www.youtube.com/watch?v=UZX5kH72Yx4">pyToExe</a></li>  
    <li><a href="https://www.physics.utoronto.ca/~phy326/python/index.htm">advPhysics</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1lh_SkY8cHk">mapScanner</a></li>  
    <li><a href="https://www.youtube.com/watch?v=8DvywoWv6fI">py11hrs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kLZuut1fYzQ">mainApps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ahJB7ZA5E7g">morePyth</a></li>  
    <li><a href="https://www.youtube.com/watch?v=8DvywoWv6fI">fullPy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YfO28Ihehbk">python</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PJlAnR3asGQ">python</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc">fullPy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=v_S64kldryc">indiaPy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-oQvMHpKkms">pyDjango</a></li>  
  </ul>
 </li>
  <li><a href="#">web</a>
   <ul class="sites">
    <li><a href="http://pypyjs.org/">pypy</a></li>
    <li><a href="http://pyjs.org/">bb</a></li>
    <li><a href="http://pyjs.org/examples/">exmples</a></li>
    <li><a href="https://trinket.io/python">trinket</a></li>
    <li><a href="http://www.skulpt.org">sculpt</a></li>
    <li><a href="https://www.transcrypt.org/">transcrypt</a></li>
    <li><a href="https://www.youtube.com/watch?v=D6esTdOLXh4&t=89s">django</a></li>
  </ul>
 </li>
  <li><a href="#">weather</a>
   <ul class="sites">
    <li><a href="http://www.tldp.org/LDP/LG/issue94/hughes.html">station</a></li>
    <li><a href="https://www.ncdc.noaa.gov/data-access/quick-links">ncdc</a></li>
    <li><a href="https://stackoverflow.com/questions/18828890/how-to-use-the-noaa-api-to-query-past-weather-data-for-a-given-set-of-coordinate">noaa</a></li>
    <li><a href="https://k3.cicsnc.org/jared/GHCNpy">GHCNpy</a></li>
    <li><a href="https://pypi.org/project/gwgen/">gwgen</a></li>
    <li><a href="https://arve-research.github.io/gwgen/">github</a></li>
    <li><a href="https://pypi.org/project/get-weather-data/">data</a></li>
    <li><a href="https://github.com/dylburger/noaa-ghcn-weather-data">ghcn</a></li>
  </ul>
 </li>
  <li><a href="#">materials</a>
   <ul class="sites">
    <li><a href="http://pymatgen.org/">matgen</a></li>
    <li><a href="https://github.com/materialsproject/pymatgen">project</a></li>
    <li><a href="https://materialsproject.org/open">org</a></li>
  </ul>
 </li>
  <li><a href="#">serial</a>
   <ul class="sites">
    <li><a href="http://pyserial.readthedocs.io/en/latest/shortintro.html">docs</a></li>
    <li><a href="https://stackoverflow.com/questions/676172/full-examples-of-using-pyserial-package">examples</a></li>
    <li><a href="https://www.google.com/search?client=ubuntu&hs=dKY&ei=JydBWvPeKaqR0gLlkZPoDw&q=python+hardware+port+interface&oq=python+hardware+port+interface&gs_l=psy-ab.3..33i22i29i30k1.5333.12221.0.12387.38.29.0.1.1.0.429.4068.0j14j3j2j1.20.0....0...1c.1.64.psy-ab..19.18.3560...0j35i39k1j0i67k1j0i20i264k1j0i20i263k1j0i10k1j0i22i30k1j33i160k1j33i21k1.0.uOuP0oTUlfE">google</a></li>
  </ul>
 </li>
  <li><a href="#">ia</a>
   <ul class="sites">
    <li><a href="https://www.datacamp.com/courses/deep-learning-in-python?utm_source=adwords_ppc&utm_campaignid=876810440&utm_adgroupid=55908449709&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=d&utm_adpostion=none&utm_creative=277394909745&utm_targetid=aud-463029047191&utm_loc_interest_ms=&utm_loc_physical_ms=9030231&gclid=EAIaIQobChMIrbWHmeSP3QIVUWp-Ch0F3gp2EAEYASAAEgLlYPD_BwE">deepL</a></li>
    <li><a href="https://www.youtube.com/watch?v=TILIcrrVABg">intllicde</a></li>    
    <li><a href="https://www.datacamp.com/courses/deep-learning-in-python?utm_source=fb_paid&utm_medium=cpc&utm_campaign=dc_registered_visitors">dataC</a></li>
  </ul>
 </li>
  <li><a href="#">automation</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=XWkLyn0Fct4">auto</a></li>
    <li><a href="https://www.youtube.com/watch?v=XWkLyn0Fct4">automate</a></li>
    <li><a href="https://www.youtube.com/watch?v=dZLyfbSQPXI">browser</a></li>
    <li><a href="https://www.youtube.com/watch?v=m1miwCJtxeM">noArduino</a></li>  
  </ul>
 </li>
  <li><a href="#">games</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=jO9BM5pa398">games</a></li>
    <li><a href="https://www.youtube.com/watch?v=K5F-aGDIYaM&list=PL6gx4Cwl9DGAjkwJocj7vlc_mFU-4wXJq">games2</a></li>
    <li><a href="https://www.youtube.com/watch?v=zfvxp7PgQ6c">pyTetris</a></li> 
    <li><a href="https://www.youtube.com/watch?v=XpYz-q1lxu8">pygame</a></li>  
    <li><a href="https://www.youtube.com/watch?v=C6jJg9Zan7w">pong</a></li>  
    <li><a href="https://www.physics.utoronto.ca/~phy326/python/driven_bouncing_balls.py">balls</a></li>    
  </ul>
 </li>
 <li><a href="python.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>

