<ul id="bookmarks">
  <li><a href="#">work1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=dU4rWLHAcoo">digProd</a></li> 
    <li><a href="https://www.youtube.com/watch?v=6VhuYWbPfk8">googleSearching</a></li>   
    <li><a href="https://www.youtube.com/watch?v=_kwqqtpprrE">linkedIn</a></li>
    <li><a href="https://www.youtube.com/watch?v=illAMNRHHSU">jobsLive</a></li>  
    <li><a href="https://www.youtube.com/watch?v=J4YzaxIa4d0">freelance</a></li>  
    <li><a href="https://www.youtube.com/watch?v=b1yTkY6ZNcw">classifieds</a></li>  
    <li><a href="https://www.youtube.com/watch?v=dU4rWLHAcoo">digitalProd</a></li> 
    <li><a href="https://learn.proofreadanywhere.com/watchgptp?webinar_ext=n1yUDgMC&cf_uvid=7bc0ae10c56050f455513f7ee8ac2351">proofreading</a></li>
     <li><a href="https://www.youtube.com/watch?v=SYltkd8pPLM">indeed</a></li>
    <li><a href="https://www.youtube.com/watch?v=z6oDw-nXCD8">manadarin</a></li>  
    <li><a href="https://play.google.com/store/apps/details?id=com.duolingo&hl=en_US">duolingo</a></li>
    <li><a href="https://www.youtube.com/watch?v=tY9XoXMsYgg">japanese</a></li>  
    <li><a href="https://www.grammarly.com/">grammarly</a></li>
  </ul>
 </li>
  <li><a href="#">work2</a>
   <ul class="sites">
    <li><a href="https://www.oberlo.com/?gclid=EAIaIQobChMIy43NvMzU3wIVexetBh2-xgqTEAEYASAAEgL52PD_BwE">dropShip</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-1N0L-FDWCs">inventory</a></li>
    <li><a href="https://www.youtube.com/watch?v=wpSf9ql0uRo">youTube</a></li>
    <li><a href="https://www.youtube.com/watch?v=HCAb5peWZu8">busCard</a></li>    
    <li><a href="https://triplebyte.com/blog/bayesian-inference-for-hiring-engineers?ref=fb_rem_jun18_cont_bayes1&fbclid=IwAR1MoaoQpPXh5HFWXpln2xSYz-36FeRe23OeSrQEDGRn1bjI9zREkFJ6tT8">bayesian</a></li>
    <li><a href="https://www.youtube.com/watch?v=XE7EnOLH1tw">buildABiz</a></li>  
    <li><a href="https://openbazaar.org/">openbazaar</a></li>
    <li><a href="https://www.youtube.com/watch?v=UGmlfQp18Vo">walmart</a></li>  
    <li><a href="http://thenonprofitnetwork.org/">nonProfitNetwork</a></li>  
    <li><a href="https://twitter.com/telegram">twitterTg</a></li>
    <li><a href="https://www.youtube.com/watch?v=ykOqvTHdMVw">shopify</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aYTL3W3G9JE">stayAtH</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1DvTwuByjo0">sysAd</a></li> 
  </ul>
 </li>
  <li><a href="#">work3</a>
   <ul class="sites">
    <li><a href="https://slack.com/">slackWork</a></li>  
    <li><a href="https://slack.com/">slack</a></li>
    <li><a href="https://www.youtube.com/watch?v=w0YxylKDMKw">webCmmrce</a></li>  
    <li><a href="https://www.youtube.com/watch?v=023Psne_-_4">jsEcomm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_UwAQ2wJFLM">webDemand</a></li>  
    <li><a href="https://www.youtube.com/user/tibees">tibees</a></li>    
    <li><a href="https://www.youtube.com/watch?v=N_-Cu9_2YAA">gitHubRegstry</a></li>  
    <li><a href="https://www.freelancer.com/">freeLancer</a></li>  
    <li><a href="https://www.youtube.com/watch?v=023Psne_-_4">jsEcomm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_UwAQ2wJFLM">webDemand</a></li>  
    <li><a href="https://www.toppaiddeveloper.com/free-report1?fbclid=IwAR2xUIUGwx2MT-Qz3HmJMM8a0922Az2AQbfswBI27qOR5gi-iaRlPy703z4">work</a></li>
  </ul>
 </li>
  <li><a href="#">work4</a>
   <ul class="sites">
    <li><a href="https://www.google.com/search?q=webscraping&oq=webscraping&aqs=chrome..69i57j0l5.2827j0j7&sourceid=chrome&ie=UTF-8">webScraping</a></li>
    <li><a href="https://www.google.com/search?q=focus+on+web+scraping+part+1&oq=focus+on+web+scraping+part+1&aqs=chrome..69i57.5224j0j7&sourceid=chrome&ie=UTF-8">webScraping</a></li>
    <li><a href="https://www.sitepoint.com/ipfs-swarm-decentralized-content-publication-storage/">sitePoint</a></li>
    <li><a href="https://botacademy.com/workshop-registration-for-bots/?wid=eg0502&cookieUUID=be3cb4db-6b21-40d7-ada2-cf9b2f8d521d">botAcademy</a></li>  
    <li><a href="https://developer.amazon.com/alexa-skills-kit/courses/cake-walk?sc_category=paid&sc_channel=DA&sc_campaign=DA-GO%7CDisplay-P%7CDesktop%7CLD%7CProfessional_Developer%7CCakeWalk%7CUS%7CEnglish%7CImage%7CJune2019&sc_publisher=GO&sc_content=content&sc_detail=352595138345&sc_funnel=convert&sc_country=US&sc_keyword=&sc_place=www.youtube.com&sc_trackingcode=&sc_segment=InMarket_Targeting&sc_medium=paid+DA+DA-GO%7CDisplay-P%7CDesktop%7CLD%7CProfessional_Developer%7CCakeWalk%7CUS%7CEnglish%7CImage%7CJune2019+GO+content+352595138345+convert+US++www.youtube.com++InMarket_Targeting&gclid=EAIaIQobChMI-srRoavQ4gIVmSatBh1ZqgU1EAEYASAAEgKDQvD_BwE">alexa</a></li>
    <li><a href="https://www.tan-doo.com/">tanDoo</a></li>
    <li><a href="https://www.paperspace.com/?utm_source=adwords&utm_medium=cpc&utm_campaign=youtube&gclid=Cj0KCQiA05zhBRCMARIsACKDWjcvB21-ROo0ypoIQu4JNEJytrvHw_QyQ4Va7cKmXcmrIJMJlPyS7hYaApX7EALw_wcB">paperspace</a></li> 
    <li><a href="https://www.upwork.com/ppc/landing/?hl=Hire%20Top%20Programming%20Pros
%20&ct=Programming%20Pros&title=programmer&gclid=CjwKCAjw5pPnBRBJEiwAULZKvhiD86ByZv7utpMN6Bd-_-QEYMLT0BgcQ1gV1oq_Dweud-iutHXtTxoCJ18QAvD_BwE">upwork</a></li>  
    <li><a href="https://talkroute.com/key-areas-to-outsource-home-business/">talkRoute</a></li>
    <li><a href="https://www.patreon.com/">patreon</a></li>
    <li><a href="https://archive.org/">freeArchve</a></li>  
    <li><a href="https://www.qubes-os.org/">qubesOs</a></li>
  </ul>
 </li>
  <li><a href="#">work5</a>
   <ul class="sites">
    <li><a href="https://pages.cloud.vmware.com/managing-kubernetes?utm_source=fb&utm_medium=pds&utm_campaign=fb-pds-cpk-a-120-noram-en_us---&utm_content&fbclid=IwAR2UXWCiH4x1p2WjTGyOH2bTpLZJLK6jVWNsU_tMzikEXbTxZl1d908lBGc">vmWare</a></li> 
    <li><a href="https://truffleframework.com/tutorials">truffle</a></li>  
    <li><a href="https://blockonomi.com/merkle-tree/">merkle</a></li>  
    <li><a href="http://kronosapiens.github.io/blog/2018/07/04/patricia-trees.html">patricia</a></li>
    <li><a href="https://www.augur.net/">augur</a></li>
    <li><a href="https://www.provenance.org/whitepaper">provenance</a></li>
  </ul>
 </li>
  <li><a href="#">silver&Gold</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=335sFSIVbPQ">silver1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WGWu0kcD_XU">silver2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5Cc1whuJV2o">silver3</a></li> 
    <li><a href="https://www.youtube.com/watch?v=3gRNQHLb6ck">silverNot</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Vx-6QnsouG0">silverCan</a></li>   
    <li><a href="https://www.youtube.com/watch?v=PHURY80MxU4">cpuGold</a></li>  
    <li><a href="https://www.youtube.com/watch?v=8l-XystIQr0">icGold</a></li>  
    <li><a href="https://www.youtube.com/watch?v=37Kn-kIsVu8">jwlryToBars</a></li>  
    <li><a href="https://www.youtube.com/watch?v=AGR_NQbaaPI">scrapGold</a></li> 
    <li><a href="https://www.youtube.com/watch?v=5MYomuvrry4">goldRecycle</a></li>  
  </ul>
 </li>
  <li><a href="crypto/index.html">crypto</a>
   <ul class="sites">
    <li><a href="crypto/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../work/index.html">&#160;&#160;&#60;--</a></li>
</ul>
