<ul id="bookmarks">
 <li><a href="#">hacking</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=K1bMSPje6pw">kaliPart1</a></li>
    <li><a href="https://www.youtube.com/watch?v=APJQ2ydKxXs">bugged</a></li> 
    <li><a href="https://www.youtube.com/watch?v=K1bMSPje6pw">kaliLinux1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=LxWkA1Uz2aA">hackRouters</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mA8pNpPvrr0">darkWeb</a></li>  
    <li><a href="https://www.youtube.com/watch?v=KXEe2kqiYIM">wifiSpy</a></li>  
    <li><a href="https://secure2.sophos.com/en-us/security-news-trends/whitepapers/gated-wp/stop-the-parasites-on-your-network.aspx?utm_source=facebook&utm_medium=cpc&utm_campaign=GPD-2019-AMER-NA-Facebook-Display-Network-Parasites-DG-31206&utm_content=parasites&cmp=31206&fbclid=IwAR10TepBE4-HJVaXZepyhRwuBtQMLqG1gkdP4UO8NUOqmnENd0YbIg3jjwI">netParasites</a></li>  
    <li><a href="https://www.youtube.com/watch?v=d7VwlyyTrgQ">techSpy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=VIJEUqgODO4">wifiTrack</a></li>  
    <li><a href="https://www.youtube.com/watch?v=KCewB_PuvDk">otherNet</a></li>  
  </ul>
 </li>
 <li><a href="../security/index.html">&#160;&#160;&#60;--</a></li>
</ul>
