<ul id="bookmarks">
  <li><a href="#">morePy</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=A3PRB1Wc0UA">pyFinance</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GB9ByFAIAH4">pyNumpy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1RE5tSPO2RI">pyAutoGui</a></li>
    <li><a href="https://www.youtube.com/watch?v=K_WbsFrPUCk">pySpchToTxt</a></li>    
    <li><a href="https://www.youtube.com/watch?v=-Rh4XW89VlQ">py3.8</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9HaIGMyAyug">pyBackend</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3mwFC4SHY-Y">pyFlask</a></li>  
    <li><a href="https://www.youtube.com/watch?v=wDIQ17T3sRk">py12hrs</a></li> 
    <li><a href="https://www.youtube.com/watch?v=tjEdQyZH6lA">numpyChges</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4F2m91eKmts">py11hrs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=FSdIoJdSnig">jupyterInCode</a></li>  
  </ul>
 </li>
 <li><a href="../morePy/index.html">&#160;&#160;&#60;--</a></li>
</ul>
