<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">enging</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=gcGbncU--Qk&list=PLZOZfX_TaWAERZkDoFNSklyPZq1TaNo-g">statics</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Y4xPg4hNqQA">kinematics</a></li> 
    <li><a href="https://www.youtube.com/watch?v=tG4m0xVvDz4">example</a></li>  
    <li><a href="https://www.youtube.com/watch?v=iY_ypychVNY">sMatrials</a></li>  
    <li><a href="https://www.youtube.com/watch?v=UJ3-Zm1wbIQ">Bernoli</a></li> 
    <li><a href="https://www.youtube.com/watch?v=UJ3-Zm1wbIQ">bernoulli</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XPUuF_dECVI">gyroscopes</a></li>
    <li><a href="https://www.youtube.com/watch?v=9_d8CQrCYUw">mechVib</a></li>  
    <li><a href="https://www.youtube.com/watch?v=LYNOGk3ZjFM">physics</a></li>      
   </ul>
  </li>
  <li><a href="emMath/index.html">emMath</a>
   <ul class="sites">
    <li><a href="emMath/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="dataAnalysis/index.html">dataAnalysis</a>
   <ul class="sites">
    <li><a href="dataAnalysis/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">mathSoftware</a>
   <ul class="sites">
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-s997-introduction-to-matlab-programming-fall-2011/">matlab</a></li>
    <li><a href="http://freemat.sourceforge.net/">freeMat</a></li>
    <li><a href="http://freemat.sourceforge.net/FreeMat-4.0.pdf">book</a></li>
    <li><a href="https://www.youtube.com/watch?v=32o0DnuRjfg">R</a></li>  
    <li><a href="https://www.gnu.org/software/octave/">octave</a></li>
    <li><a href="http://askubuntu.com/questions/299345/how-to-enable-webgl-in-chrome-on-ubuntu">webgl</a></li>
    <li><a href="https://www.youtube.com/watch?v=T_ekAD7U-wU">matlab</a></li>  
  </ul>
 </li>
  <li><a href="#">bolontiku</a>
   <ul class="sites">
    <li><a href=""></a></li>
    <li><a href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Mesoamerica/Journals">journals</a></li>
    <li><a href="http://www.wayeb.org/notes/wayeb_notes0022.pdf">notes1</a></li>
    <li><a href="http://www.wayeb.org/notes/wayeb_notes0030.pdf">notes2</a></li>
    <li><a href="http://abakmatematicamaya.blogspot.com/2010/12/los-nueve-senores-de-la-noche.html">notes3</a></li>
    <li><a href="http://www.pauahtun.org/Calendar/gglyph.html">notes4</a></li>
  </ul>
 </li>
  <li><a href="phi/index.html">phi</a>
   <ul class="sites">
    <li><a href="phi/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="nums/index.html">nums</a>
   <ul class="sites">
    <li><a href="nums/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">calculators</a>
   <ul class="sites">
    <li><a href="http://www.martindalecenter.com/Calculators4A.html">engineering</a></li>
    <li><a href="http://educypedia.karadimov.info/electronics/electroniccalculatorsfilter.htm">electronic</a></li>
    <li><a href="http://www.rfcafe.com/references/calculators.htm">radioFreq</a></li>
    <li><a href="https://www.youtube.com/watch?v=AG2QDwmj64A">swiftCalc</a></li>  
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=L3LMbpZIKhQ&list=PLB7540DEDD482705B">compMath</a></li> 
    <li><a href="https://www.youtube.com/watch?v=JRqkPE8ew40">mathCmpt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=sD0NjbwqlYw">rieman</a></li>  
    <li><a href="https://www.youtube.com/watch?v=gqohYwpih8U">bryMethd</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hY23hntm7nU">exclFrmulas</a></li> 
  </ul>
 </li>
 <li><a href="math/index.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>
 
