<ul id="bookmarks">
  <li><a href="#">moreFood</a>
   <ul class= "sites">
    <li><a href="https://www.youtube.com/watch?v=j5phH7pxt7Q">machines</a></li>  
    <li><a href="https://www.livekindly.com/">veganNews</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5RwIWGkMxrE">ruinedFood</a></li>  
    <li><a href="https://www.youtube.com/watch?v=l75ixsh-wjI">burgerRecipe</a></li>  
    <li><a href="https://freefromharm.org/tag/dairy-farmer?fbclid=IwAR3PqRA-pmg76BFqAfzlEDRXIF6HRvD1U0ycmjZQX2PoPcEc5M_pEkONu9c">freeFromHarm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=dEYVP64TjGQ">chickenTofu</a></li>  
    <li><a href="https://www.youtube.com/watch?v=G5JEkLM055g">vegSteaks</a></li>  
    <li><a href="https://www.youtube.com/watch?v=vjXZ5dqmu20">brownies</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3xiH4kiWP9o">chocBars</a></li>  
    <li><a href="https://www.youtube.com/playlist?list=PLfJbEA9Nfrjui3ACKapNHQQbVySFGjvDQ&fbclid=IwAR3Zyo_rX-9wE2QKD78GuaTIRjCMv_uY2bPdHV5-0qGz1k45_g44pWJiXSU  Stephanie
    <li><a href="https://www.listennotes.com/podcasts/living-outside-the/glyphosate-destroys-health-31zthYEWiQR/?fbclid=IwAR14VmHmo0ND1sIf2RcPD4IDl2xLdjr81OYyA0niAciDJJ97gI_TCKvOG-o">glyphosate</a></li>   
  </ul>
 </li>
  <li><a href="#">moreFood</a>
   <ul class= "sites">
    <li><a href="https://www.youtube.com/watch?v=4zXQufqSZC0">oatMilk</a></li>  
    <li><a href="https://www.youtube.com/watch?v=UmAUkwG9OuY">oatmeal</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Pwg61lWXWGg">veganWimgs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=w69noyJyRr8">zuchiniFries</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_szLA7NsOEM">zuchiniBread</a></li>  
    <li><a href="https://www.youtube.com/watch?v=l75ixsh-wjI">burgerRecipe</a></li>  
    <li><a href="https://www.rt.com/business/466203-ipcc-climate-change-land/">veganUN</a></li>  
    <li><a href="http://www.veganpeace.com/ingredients/ingredients.htm">ingredients</a></li>
    <li><a href="https://www.youtube.com/watch?v=sWQ0LDgsYf8">monsanto</a></li>  
  </ul>
 </li>
  <li><a href="#">moreFood</a>
   <ul class= "sites">
    <li><a href="https://www.youtube.com/watch?v=LwDYQxdc5_Q">moreTofu</a></li>  
    <li><a href="https://www.youtube.com/watch?v=w2whSx6Yqxk">tofuNoSoy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=M-NTZOE0A90">cornishHtr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=jYCQb2YNGt4">goldenMilk</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DAOhP_8OKeI">cinnRolls</a></li>  
    <li><a href="https://www.youtube.com/watch?v=qtwmBDej9OQ">buhdaBowl</a></li> 
    <li><a href="https://www.makeyourown.buzz/mango-butter/? gclid=Cj0KCQjwkIzlBRDzARIsABgXqV8R_qUX0lI3uRHQvMz8G_pvqgKtObeNN3h-3mKvnWwRoL9f0ap1LewaAo4KEALw_wcBgpla=1&gao=1&utm_campaign=shopping_us_WeepingWillowOilCo_sfc_osa&utm_medium=cpc&utm_source=google&utm_custom1=0&utm_content=15964306&gclid=Cj0KCQjwkIzlBRDzARIsABgXqV9M8aY5i23bkfwZU3ebqjXpJoA3VvZSdzTeymscCgzpvyoWOZL5zdkaAmI5EALw_wcB">mangoButter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Y-txjbuLX9k">dessert</a></li>  
  </ul>
 </li>
 <li><a href="../food/index.html">&#160;&#160;&#60;--</a></li>
</ul>