<ul id="bookmarks">
  <li><a href="#">tinnitus</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=yAytWz--mWU">tinnitus</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QqRWPcj3SZg">tinitusa</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ztSBhvt4v-E">tinnitus</a></li> 
    <li><a href="https://www.youtube.com/watch?v=lukuJtvgksM">tinnitus</a></li>   
  </ul>
 </li>
  <li><a href="#">carpo</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=B9a8u16hIhQ">carpalNoBrace</a></li>  
    <li><a href="https://www.youtube.com/watch?v=iHVtzOCGy0Y">crplSelfCorrect</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XfpwI0FOUbE">carpTunnelYga</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ZBvZlsY-Kdc">carpalRelief</a></li> 
  </ul>
 </li>
  <li><a href="#">arthritis</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=g-IbWzW-oJ0&fbclid=IwAR0_bqTNQq_YzUuC83tW-lmRjPbpgasYyNakMa25Rhz7t2PHFUiOfyQIGEg">arthritis</a></li>  
  </ul>
 </li>
  <li><a href="#">autism</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Bjvjf4MnFqc">autism</a></li>  
    <li><a href="https://www.youtube.com/watch?v=NACBHtFMllA">vaccines</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2CCcv963gK0">rndupCure</a></li>  
  </ul>
 </li>
  <li><a href="#">old</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=WLj3NbsgLaI">matureMakp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=o2RGtVw_Mn0">matureSkin</a></li>  
    <li><a href="https://www.youtube.com/watch?v=d-zFHILZJaI">denture</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tgMilJRCpuc">falseTeeth</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kFhG-ZzLNN4">seniorYoga</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-VS6jgTTYAQ">forInflexible</a></li>
    <li><a href="https://www.youtube.com/watch?v=lfT35Pvc00M">slowAging</a></li>  
    <li><a href="https://www.youtube.com/watch?v=lG8jzUDUzJM">nightRoutine</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Zzjo3l1GJh8">dementia</a></li>    
  </ul>
 </li>
  <li><a href="#">silica</a>
   <ul class="sites">
    <li><a href="https://www.swansonvitamins.com/eidon-ionic-minerals?DFA=1&UTM_Medium=PaidSearch&UTM_Source=GOOGLE&UTM_Campaign=SWAN_National_Gen_Search_NonBrnd_Phrase_National+Brand+Eidon+Ionic+Minerals&UTM_Content=ionic+minerals&SourceCode=INTLBVCNA&gclid=Cj0KCQiAr8bwBRD4ARIsAHa4YyIQRUP1Jqe4v17SJC1Cm37Un9eQRRnuxy2hpiSSZe-t4mABTvInWcIaAkpzEALw_wcB">supps</a></li>  
    <li><a href="https://www.iherb.com/pr/eidon-mineral-supplements-ionic-minerals-silica-liquid-concentrate-2-oz-60-ml/26014">liquidSlca</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Gt5gfKxpHZU&list=PLIN7q5L3VJA4IFD2p7GqWqYmRs1wCaown&index=3">ionicSilica</a></li>  
    <li><a href="https://www.youtube.com/watch?v=po8IuIXjCME">silica</a></li>  
    <li><a href="https://www.youtube.com/results?search_query=how+to+make+ionic+silica">ionicSilica</a></li>  
    <li><a href="https://www.youtube.com/watch?v=po8IuIXjCME">makeSilica</a></li>   
    <li><a href="https://www.youtube.com/watch?v=OYKXNFIOfn8">oatmeal</a></li>  
  </ul>
 </li>
  <li><a href="#">nutrition</a>
   <ul class="sites">
     <li><a href="https://www.alcohol.org/effects/the-shakes/">theShakes</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9SotrCwqfHo">nutrientDef</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9wooXUpSgRg">b12</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BvEizypoyO0">moreB12</a></li>  
    <li><a href="https://www.youtube.com/watch?v=liuheW2EGRY">iodineDefcy</a></li> 
    <li><a href="https://www.youtube.com/watch?v=nfAIe4BJ5dM">mgnsiumNeuro</a></li> 
    <li><a href="https://www.youtube.com/watch?v=uc815fQn8iY">vitaminD</a></li> 
  </ul>
 </li>
  <li><a href="#">bioElect</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=fDWEVXhaydc">stephanie</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YQbXUouSZTU">emfProt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5uaNpeYKO74">eTherapy</a></li> 
  </ul>
 </li>
  <li><a href="#">diabetes</a>
   <ul class="sites">
    <li><a href="https://www.inkanat.com/en/detalle.asp?prod=canary-seed-powder">canarySeed</a></li>
    <li><a href="https://www.youtube.com/watch?v=hpOP_HKeazU">diabetes</a></li>  
    <li><a href="https://www.inkanat.com/en/detalle.asp?prod=canary-seed-powder">cnrySeed</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kLpUt4pTYbc">diabeticLies</a></li>  
  </ul>
 </li>
  <li><a href="#">more</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=5HcoW-g-OgY">peptides</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hIVuuifr3NU">lowerBelly</a></li>  
    <li><a href="https://www.youtube.com/watch?v=x2DB_ABQMFg">psoasTrama</a></li>  
    <li><a href="https://www.youtube.com/watch?v=wKnTprq-hvc">psoriasis</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kAAkYBROKMY">poopSpot</a></li>
    <li><a href="https://www.youtube.com/watch?v=C_WDK-Sh9aw">urinate</a></li>  
  </ul>
 </li>
  <li><a href="../moreHealth/index.html">&#160;&#160;&#60;--</a></li>


