<ul id="bookmarks">
    <li><a href="../ai/index.html">ai</a>
   <ul class="sites">
    <li><a href="../ai/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
    <li><a href="../gradSchool/index.html">school</a>
   <ul class="sites">
    <li><a href="../gradSchool/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
    <li><a href="../webAudio/index.html">webAudio</a>
   <ul class="sites">
    <li><a href="../webAudio/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">games</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=DKrdLKetBZE">howWork</a></li>  
    <li><a href="https://www.youtube.com/watch?v=on9nwbZngyw">eval</a></li>  
    <li><a href="https://www.youtube.com/watch?v=a0qNO6_xPx0">ueVideo</a></li>
    <li><a href="https://www.google.com/search?q=ubuntu+unreal+engine+download&oq=ubuntu+unreal+engine+download&aqs=chrome..69i57j0.25288j0j1&sourceid=chrome&ie=UTF-8">ueDnLoad</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3O_rpTWdGps">gmePatts</a></li>

    <li><a href="https://www.youtube.com/user/ChessNetwork">chessvideo</a></li>  
    <li><a href="https://www.youtube.com/watch?v=O-fSSdo6es4">chessrules</a></li>  
    <li><a href="https://www.youtube.com/user/thechesswebsite">chessgames</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Xtd4dDKhsC8">aichess</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QHydkEARVKE">chess</a></li>
  </ul>
 </li>
  <li><a href="#">logic</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=95kv5BF2Z9E">introLGts</a></li>  
    <li><a href="https://www.youtube.com/watch?v=UuPEu_0ap1w&list=PLJwCQtAhsso8K0knRZJ1qw1LkoZGWkOpm">digLogic</a></li>
    <li><a href="https://www.youtube.com/watch?v=2SpuBqvNjHI">progMath</a></li>
    <li><a href="https://www.youtube.com/watch?v=70PzhlfAUi4">logicH</a></li>
    <li><a href="https://www.youtube.com/watch?v=a3jr-Kbr4og">deMorgan</a></li>
    <li><a href="https://www.youtube.com/watch?v=_2By2ane2I4">howQwatch</a></li>
    <li><a href="https://www.youtube.com/watch?v=4qH4unVtJkE">twosComplmnt</a></li>   
  </ul>
 </li>
  <li><a href="#">shellPrg</a>
   <ul class="sites">
    <li><a href="http://www.learnshell.org/">learnShell</a></li>
    <li><a href="https://www.youtube.com/watch?v=hwrnmQumtPw">shells</a></li>
    <li><a href="https://www.youtube.com/watch?v=oxuRxtrO2Ag">bash</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GtovwKDemnI">shellScrpting</a></li>   
  </ul>
 </li>
    <li><a href="../other/index.html">other</a>
   <ul class="sites">
    <li><a href="../other/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../code/index.html">&#160;&#160;&#60;--</a></li>
</ul>


