<ul id="bookmarks">
  <li><a href="#">eyesight</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=QQ3ki1dCcnw">eyesight</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xdc6pbPlsr0">eyesight1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=eAyN1wbqvdM">eyesight2</a></li>
    <li><a href="http://farsight.org/">farsight</a></li>
    <li><a href="https://www.youtube.com/watch?v=mrNiV2RYfZs">cataracts</a></li>    
   </ul>
  </li>
  <li><a href="#">bones</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=gklMVTK0-L4">5backExc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0OkB0xO_9kU">neckHump</a></li>  
    <li><a href="https://www.youtube.com/watch?v=A8baXHPjYeg">towelTrick</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ILZ04O4aX2w">tapSkull</a></li>
    <li><a href="https://www.youtube.com/watch?v=DVabBY-NXRg">sreBack</a></li>  
    <li><a href="https://www.youtube.com/watch?v=X5ReDuRMCjw">backPn</a></li>
    <li><a href="https://www.youtube.com/watch?v=DBiJ_An07nY">hunchBack</a></li>
    <li><a href="https://www.youtube.com/watch?v=SedzswEwpPw">neck</a></li>
    <li><a href="https://www.inspireuplift.com/products/expandable-pain-relief-neck-pillow-collar?">pillow</a></li>
    <li><a href="https://www.youtube.com/watch?v=O8zo5D0L9tM">spinal</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XwgmzhuTev8">spinalStenosis</a></li>
    <li><a href="https://www.youtube.com/watch?v=CvwDyCVMmXg">sprainedAnkle</a></li> 
    <li><a href="https://www.youtube.com/watch?v=NTzZB6wCzgs">slippedDisk</a></li>       
    <li><a href="https://www.youtube.com/watch?v=wgL7lxI_qSM">fixPosture</a></li>  
    <li><a href="https://www.youtube.com/watch?v=O8zo5D0L9tM">spnalDcmp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0w9BIJIox08">slfTrction</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0OkB0xO_9kU">neckHump</a></li>  
    <li><a href="https://www.youtube.com/watch?v=eiQjt0WSVHk">sciatica</a></li>
    <li><a href="https://www.youtube.com/watch?v=HpFCxqYwwJc">sciatica pain relief</a></li>   
    <li><a href="https://youtu.be/G5h0jkoBFbI">sciaticaYoga</a></li>  
    <li><a href="https://www.youtube.com/watch?v=fg-y8jYBnLg">drSciatic</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ntP8eQY74Cw">plvcRelese</a></li>  
    <li><a href="https://www.youtube.com/watch?v=wKA1dXn9b54">pelvis</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ub8afedu5GQ">neck and shoulder yoga</a></li> 
    <li><a href="https://www.youtube.com/watch?v=PRgu2wxE65c">posture</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QumlJTVhVCc">lowerBack</a></li>  
    <li><a href="https://www.youtube.com/watch?v=fDkw-Zi5MBg">sciatica</a></li>  
    <li><a href="https://www.youtube.com/watch?v=clfpWjqVP6U">slippedDisk</a></li>  
  </ul>
  </li>
  <li><a href="#">teeth</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=EEVkabwdifY">whiteTeeth</a></li>  
    <li><a href="https://www.youtube.com/watch?v=TweySdrWOo8">teeth</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3LJyPrsk5PI">plaque</a></li>
    <li><a href="https://www.youtube.com/watch?v=QOWF0KTNu2g">reversePlaque</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yVNHirKVXOQ">recedingGums</a></li>
    <li><a href="https://www.youtube.com/watch?v=vaBR6C63gs0">growTeeth</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kuefP2qkqPQ">foodsForTeeth</a></li>
    <li><a href="https://www.youtube.com/watch?v=2CP1Sy-H9xA">toothDecay</a></li>  
   </ul>
  </li>
  <li><a href="#">hair</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=bQl2VZmwcBg">crlyHr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ZmnZIpNMwoU&t=8s">herbalHair</a></li>  
    <li><a href="https://www.youtube.com/watch?v=VIbRFbapzGs">hairGrowth</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_GJDhjHoudM">hairRemedy</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZmnZIpNMwoU&t=89s">hairHerbs</a></li>
    <li><a href="https://www.youtube.com/watch?v=CfAsHuqBV5Y">whiteHr</a></li>
    <li><a href="https://www.youtube.com/watch?v=hO25mp8xgbE">thickHair</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xoWKmN1wBHM">haircare</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yibhP_wI7bw">thickerHair</a></li>  
    <li><a href="https://www.youtube.com/watch?v=vbQhYM-J-DI">hairVitamin</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2ZebHRm3r1g">hairRoots</a></li>  
   </ul>
  </li>
  <li><a href="#">lungs</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=a8e4lQ-98UU">lungDetx</a></li>  
    <li><a href="https://www.youtube.com/watch?v=AsweCpt32_s">lungs</a></li>
    <li><a href="https://www.youtube.com/watch?v=Uqz3v173MeI">lungDetox</a></li>
    <li><a href="https://www.youtube.com/watch?v=VCM9Wd9Uknk">turberculosis</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Q1gashLCM1I">treatment</a></li>
    <li><a href="https://www.youtube.com/watch?v=Dv5aqqJdAUM">bronchitis</a></li>    
   </ul>
  </li>
  <li><a href="#">bloodPrssre</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=QOWF0KTNu2g">plaque</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aIaQGjyf_j0">highBP</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3DH6vjuLUc0">bpJuice</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oTUJ44mUqqE">bpHerbs</a></li>
    <li><a href="https://www.youtube.com/watch?v=aIaQGjyf_j0">bpRemedy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oTUJ44mUqqE">cureBP</a></li>  
    <li><a href="https://www.youtube.com/watch?v=R6sRlHM-D-4">arteries</a></li>
    <li><a href="https://www.youtube.com/watch?v=GXMeXC7Wd80">strokes</a></li>
    <li><a href="https://www.youtube.com/watch?v=0LLSOtBgt7I">circltion</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XykVFMd7S-c">chlsterol</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2TAkxoariRg">herb</a></li>  
    <li><a href="https://www.verywellhealth.com/what-is-chelation-90006">chelation</a></li>

   </ul>
  </li>
  <li><a href="#">herbs</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=3VpQ-mykUgs">herbs</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Vw9_eqX0G58">bkinSoda</a></li>
    <li><a href="https://www.youtube.com/watch?v=tfdxgTj25rA">burnBayLeaf</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ZmnZIpNMwoU">herbalHair</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ISDnIEj1gRc">turmeric</a></li>
    <li><a href="https://www.youtube.com/watch?v=Pu7NO7tQMFI">gingerAnd</a></li>
    <li><a href="https://www.youtube.com/watch?v=Wq8uKhtYkl8">turmeric</a></li>
    <li><a href="https://www.youtube.com/watch?v=8vfy9CAbng4">dangersOf</a></li>
    <li><a href="https://www.youtube.com/watch?v=E3OrOuL56uI">sodaVsPowder</a></li>   
    <li><a href="https://www.youtube.com/watch?v=QZu76WzqYuU">nettles</a></li>  
    <li><a href="https://www.youtube.com/watch?v=8lyJr4styGM">nettleCure</a></li> 
    <li><a href="https://www.youtube.com/watch?v=ANZ60K3h2ow">nutNettle</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QZu76WzqYuU">nettleBenefits</a></li>  
    <li><a href="https://www.youtube.com/watch?v=NpPNswcrvi8">mullein</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7EIHwsL4tKQ">ciderSideEffcts</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XSMDymvlXMA">pigments</a></li>  
   </ul>
  </li>
  <li><a href="#">pineal</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=HRIqaTZRCmw">iodine</a></li>
    <li><a href="https://www.youtube.com/watch?v=_JKHb6NTxrA">iodine</a></li>
    <li><a href="https://www.youtube.com/watch?v=nwjFGOjlkbM">pinealGland</a></li>
    <li><a href="https://www.youtube.com/watch?v=6oqlqZWNvrQ">happyHormone</a></li>    
   </ul>
  </li>
  <li><a href="#">kidneys</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=hkmWAetzcbs">noStones</a></li>
    <li><a href="https://www.youtube.com/watch?v=BQeA9ZzSAXo">kidneys</a></li> 
    <li><a href="https://www.youtube.com/watch?v=dueO8J2f79k">bakingSoda</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ubldzu5OsyE">dangers</a></li>  
   </ul>
  </li>
  <li><a href="#">prostate</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=RXco11b9hRo">prostate</a></li>  
    <li><a href="https://www.youtube.com/watch?v=gA1vXQoxYzk">prostateE</a></li>
   </ul>
 </li>
  <li><a href="#">oils</a>  
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=bYsbLpDI6vc">coconutOil</a></li>
    <li><a href="https://www.youtube.com/watch?v=pwHFxXRl-Ig">oils</a></li>
    <li><a href="https://www.makeyourown.buzz/cocoa-butter-organic-refined/">cocoaButter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=bDoaPIKT_Xg">extract</a></li>  
    <li><a href="https://www.youtube.com/watch?v=r8-zxWKAVK8">essentlOils</a></li>  
   </ul>
  </li>
  <li><a href="#">skin</a>  
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=HSbU9ChUbCk">treatMilia</a></li> 
    <li><a href="https://www.youtube.com/watch?v=amaRb54I26k">faceLift</a></li>
    <li><a href="https://www.youtube.com/watch?v=QWj_s8_-9KU">alovera</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PhaqJs-VJlw">bananaMask</a></li>  
    <li><a href="https://www.youtube.com/watch?v=VLR5t_DURuM">puffyEyes</a></li>   
    <li><a href="https://www.youtube.com/watch?v=x-ABIXhhvRA">dermExprt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PjxBhl-0jhg">facialSkin</a></li>
    <li><a href="https://www.youtube.com/watch?v=h55Osby2Kn0">fullFace</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OzNcoENNsxQ">japanLong</a></li>    
    <li><a href="https://www.youtube.com/watch?v=CnjrTZhc1xM">korean skin</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-VdAY4UNTNw">openPores</a></li>  
   </ul>
  </li>
  <li><a href="../moreHealth2/index.html">more</a>
   <ul class="sites">
    <li><a href="../moreHealth2/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../health/index.html">&#160;&#160;&#60;--</a></li>




