<ul id="bookmarks">
   <li><a href="#">3dPrinter</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=cMNPOgRJxV4">3dPrinter1</a></li>
    <li><a href="https://www.youtube.com/watch?v=govCOa52SsA">3dPrinter2</a></li>
    <li><a href="https://www.youtube.com/watch?v=AcCnXQK75Jk">3dPrinter3</a></li>
    <li><a href="https://www.youtube.com/watch?v=x5X6Gp-XMEs">3dPrinter</a></li>      
    <li><a href="https://www.youtube.com/watch?v=HOryknQnOd4">cheapCntlr</a></li>
    <li><a href="https://www.youtube.com/watch?v=govCOa52SsA">mk3dPrinter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-uohU6yLq3w">cheap3dPrntrs</a></li>
    <li><a href="https://www.youtube.com/watch?v=albFKmWW4nA">big3dPnt</a></li> 
    <li><a href="https://www.youtube.com/watch?v=bekwCnl9BwY">huge3d</a></li> 
  </ul>
 </li>
   <li><a href="#">cnc</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=pPdk2-neduU">cnc1</a></li>
    <li><a href="https://www.youtube.com/watch?v=leTRMii0IUc">cnc2</a></li>
    <li><a href="https://www.youtube.com/watch?v=C_32Z52SxEg">cncLaser</a></li>  
    <li><a href="https://www.youtube.com/watch?v=jjdXpp77MdU">cncRouter</a></li> 
    <li><a href="https://www.youtube.com/watch?v=SamSyZtsA5E">cncLaser</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XKnEcPSUlLQ">miniCncLaser</a></li>  
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=1KyL1-0A0Gw">wTurbine</a></li>  
    <li><a href="https://www.youtube.com/watch?v=zFdyqTGx32A">ramPump</a></li>  
    <li><a href="https://www.youtube.com/watch?v=M13dWRL9qkc">thermosyphon</a></li>
    <li><a href="https://www.youtube.com/watch?v=4oRT7PoXSS0">how3phase</a></li>  
    <li><a href="https://www.youtube.com/watch?v=FUjZwMMoltQ">test3phase</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PSAtLNn8NwE">hydraulics</a></li>  
   <li><a href="https://www.youtube.com/watch?v=Ia1BQFTaG7c">bellSyphon</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DCUeo1WFAGA">diaphram</a></li>  
 </ul>
 </li>
 <li><a href="../moreEng/index.html">&#160;&#160;&#60;--</a></li>
</ul>

    <li><a href="https://www.youtube.com/watch?v=rvXEDRS1Neg">pipeLeak</a></li>  
