<ul id="bookmarks">
  <li><a href="#">infoTchnolgy</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=dCNlL5i1dgQ">top10Certs</a></li> 
    <li><a href="https://www.youtube.com/watch?v=rQI1GWgCZew">inDemandIt</a></li> 
    <li><a href="https://www.youtube.com/watch?v=xdqZ_Y9JNp0">awsCert</a></li> 
    <li><a href="https://www.youtube.com/watch?v=fqNswT0jNDE">freeDegs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=32thlMnUqaQ">freeClass</a></li> 
    <li><a href="https://www.youtube.com/watch?v=dgEejCFdEU0">mkeUdemy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YbPCtALcVdo">5devTls</a></li>  
    <li><a href="https://slack.com/">slack</a></li>
    <li><a href="https://www.youtube.com/watch?v=u7n9t1cBei8">dlWoFrwk</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2cbvZf1jIJM">wdPress</a></li> 
    <li><a href="https://learn.proofreadanywhere.com/watchgptp?webinar_ext=n1yUDgMC&cf_uvid=7bc0ae10c56050f455513f7ee8ac2351">proofreading</a></li>  
    <li><a href="https://www.youtube.com/watch?v=gQddtTdmG_8">wordVector</a></li>    
  </ul>
 </li>
  <li><a href="#">commute</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=t0ZplOXjme0">dollarSites</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mLqpO8SIk9E">nonPhoneJobs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ETUViyu1_8Q">beAChatAgent</a></li>  
    <li><a href="https://www.youtube.com/watch?v=b0oXFuaIZ2I">wkFromHme</a></li>  
    <li><a href="https://www.youtube.com/watch?v=KRSMH-mvVa0">dataEntry</a></li>   
    <li><a href="https://www.youtube.com/watch?v=YjkRSlTxsZM">basicAcctng</a></li>  
    <li><a href="https://www.youtube.com/watch?v=KJ1CGLwpN00">bstTlcommte</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OCoWM01FkCs">brokeAt50</a></li>  
    <li><a href="https://www.myodaonline.com/?fbclid=IwAR0SUY7E4dSyRMkASNzGOiul_YePpwNrYhPZ4anX1s0ce_Ggapiof3ftkKg">telecommte</a></li> 
    <li><a href="https://tucson.craigslist.org/dmg/d/tucson-moms-or-dads-remotely-work-from/7018094922.html">remoteWork</a></li>
    <li><a href="https://www.youtube.com/watch?v=b1XWaQojvUE">noPhoneWork</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aYTL3W3G9JE">stayAtH</a></li>  
  </ul>
 </li>
  <li><a href="#">commerce</a>
   <ul class="sites">
    <li><a href="https://youtu.be/jS-rD6HuxIk?t=1">market</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ykOqvTHdMVw">shopify</a></li>  
    <li><a href="https://www.youtube.com/watch?v=w0YxylKDMKw">webCmmrce</a></li>  
    <li><a href="https://www.youtube.com/watch?v=023Psne_-_4">jsEcomm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_UwAQ2wJFLM">webDemand</a></li>  
    <li><a href="https://www.youtube.com/watch?v=023Psne_-_4">jsEcomm</a></li> 
    <li><a href="https://www.youtube.com/watch?v=9EdhUfJy65o">onlineStore</a></li>   
    <li><a href="https://www.youtube.com/watch?v=uy8w9isa_k4">drpShpping</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3Lw6VrfV9A0">mkeEtsySale</a></li>
    <li><a href="https://www.youtube.com/watch?v=SAZAKPUQMw0">amazon</a></li>  
    <li><a href="https://www.micromentor.org/">busMentoring</a></li> 
    <li><a href="https://www.youtube.com/watch?v=hlr8Yvf8UTo">eBay</a></li>  
  </ul>
 </li>
  <li><a href="#">hustles</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/results?search_query=500+dollars+in+15+minutes">500in15min</a></li>  
    <li><a href="https://www.youtube.com/watch?v=b0oXFuaIZ2I">wkFromHme</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QVbbhpr4nAE">strtingSftCo</a></li> 
    <li><a href="https://www.youtube.com/watch?v=ykOqvTHdMVw">shoppify</a></li>   
    <li><a href="https://www.youtube.com/watch?v=KPjnEGhMCbQ">sideHustle</a></li> 
    <li><a href="https://www.youtube.com/watch?v=aD5Q5j_tbH4">jobsForOld</a></li>   
    <li><a href="https://www.youtube.com/watch?v=pK-sio9jZ8k">hustleIdeas</a></li>  
    <li><a href="https://www.youtube.com/watch?v=6VhuYWbPfk8">earnSearching</a></li>   
    <li><a href="https://www.youtube.com/watch?v=EAj0ZsYcHkQ">onLineWork</a></li>  
    <li><a href="https://www.oberlo.com/?gclid=EAIaIQobChMIy43NvMzU3wIVexetBh2-xgqTEAEYASAAEgL52PD_BwE">dropShip</a></li>  
    <li><a href="https://www.youtube.com/watch?v=UGmlfQp18Vo">walmart</a></li>  
  </ul>
 </li>
  <li><a href="#">coding</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=idU7GdlfP9Q">lambdaWorld</a></li>  
    <li><a href="https://www.youtube.com/watch?v=drJwMlD9Mjo">lambdaNoSver</a></li> 
    <li><a href="https://www.youtube.com/watch?v=lUUOMdnLBqY">jsToHire</a></li> 
    <li><a href="https://www.youtube.com/watch?v=THhe3Z7XSxg">searchEng</a></li>  
    <li><a href="https://www.youtube.com/watch?v=zhllkjYYUVE">bootstrap</a></li>  
    <li><a href="https://codesandbox.io/s/eloquent-cloud-vbtsz">sandBox</a></li>  
    <li><a href="https://www.youtube.com/watch?v=RERVqZmPHDs">3ImptntApps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ORxLNgmb0Wk">appCost</a></li>
    <li><a href="https://www.youtube.com/watch?v=QxiSuslEIyc">fastApp</a></li>    
  </ul>
 </li>
  <li><a href="#">git</a>
   <ul class="sites">
    <li><a href="https://search.maven.org/">repoSearch</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WbwIoQYP6no">git</a></li> 
    <li><a href="https://www.youtube.com/watch?v=fzI9FNjXQ0o">gitVault</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9MflUrykPaY">openProbs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4Nan6Zt6bzw">dropBox</a></li>  
    <li><a href="https://webaudio.github.io/web-audio-api/">github</a></li>
    <li><a href="https://www.youtube.com/watch?v=4Nan6Zt6bzw">dropBox</a></li>  
  </ul>
 </li>
  <li><a href="#">socialMedia</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_kwqqtpprrE">linkedIn</a></li>
    <li><a href="https://www.youtube.com/watch?v=SYltkd8pPLM">indeed</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZQuE0wfjzf0">youtubeAlts</a></li>  
    <li><a href="https://www.youtube.com/watch?v=wpSf9ql0uRo">youTube</a></li>
    <li><a href="https://www.patreon.com/">patreon</a></li>
    <li><a href="https://www.youtube.com/watch?v=Op-sKPePo2o">instagram</a></li>   
  </ul>
 </li>
  <li><a href="#">studio</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=BKDeOybpV08">censors</a></li>  
    <li><a href="https://www.youtube.com/watch?v=tnSnVlbKtMk">stdioTips</a></li>  
    <li><a href="https://www.youtube.com/watch?v=fJN4XjofVRM">uploadVids</a></li> 
    <li><a href="https://www.youtube.com/watch?v=v61-HoOeUqs">chnges</a></li>  
  </ul>
 </li>
  <li><a href="#">cloud</a>
   <ul class="sites">
    <li><a href="https://www.paperspace.com/?utm_source=adwords&utm_medium=cpc&utm_campaign=youtube&gclid=Cj0KCQiA05zhBRCMARIsACKDWjcvB21-ROo0ypoIQu4JNEJytrvHw_QyQ4Va7cKmXcmrIJMJlPyS7hYaApX7EALw_wcB">paperspace</a></li> 
    <li><a href="https://www.sitepoint.com/ipfs-swarm-decentralized-content-publication-storage/">sitePoint</a></li>
    <li><a href="https://archive.org/">freeArchve</a></li>  
  </ul>
 </li>
  <li><a href="#">freeStuff</a>
   <ul class="sites">
    <li><a href="https://drive.google.com/file/d/1Euy-eFgbsUroLNaxHF_QeeKcIdtlDPen/view">freeResources</a></li>  
    <li><a href="https://www.bypeople.com/mammoth-7500-icons-collection-ai-sketch-eps-file-formats-extended-commercial-use-license/">icons</a></li>
  </ul>
 </li>
  <li><a href="../lotsMore/index.html">lotsMore</a>
   <ul class="sites">
    <li><a href="../lotsMore/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../moreWork/index.html">&#160;&#160;&#60;--</a></li>
</ul>
