<ul id="bookmarks">
  <li><a href="#">moreStuff1</a>
   <ul class="sites">
    <li><a href="https://www.howtoforge.com/lazarus_ubuntu">frPascal</a></li>  
    <li><a href="https://askubuntu.com/questions/119700/how-do-i-update-install-perl">perl</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7n8t62anxIQ">lorawan</a></li>  
    <li><a href="http://archive.ics.uci.edu/ml/index.php">MLrepsty</a></li>  
    <li><a href="https://askubuntu.com/questions/119700/how-do-i-update-install-perl">perl</a></li>  
    <li><a href="http://www.codebind.com/linux-tutorials/install-scala-sbt-java-ubuntu-18-04-lts-linux/">scala</a></li>  
    <li><a href="https://www.youtube.com/watch?v=C1phgYAzIfg">phpForComm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=v9SQqYITWNc">devAndPrgr</a></li> 
    <li><a href="https://www.youtube.com/watch?v=fqNswT0jNDE">freeCSDeg</a></li>   
  </ul>
 </li>
  <li><a href="#">moreStuff2</a>
   <ul class="sites">
    <li><a href="http://codingteam.net/project/bluemindo/download">bMundo</a></li>
    <li><a href="https://www.youtube.com/watch?v=EZ3jBam2IEA">databD</a></li>  
    <li><a href="https://www.youtube.com/watch?v=6q06X78j8L4">tips</a></li>  
    <li><a href="https://www.youtube.com/watch?v=p33CVV29OG8&t=12s">unknown</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mHFAM0CXviE">gatsby</a></li>  
    <li><a href="https://golang.org/#">go</a></li>
    <li><a href="https://www.youtube.com/watch?v=a6j0LRSJSCQ">typeScpt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1BT4efG-ItA">frontEndTests</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mbyG85GZ0PI">learningProb</a></li>  
  </ul>
 </li>
  <li><a href="#">moreStuff3</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=gnyYpX2nc1g">accrdionMenu</a></li>  
    <li><a href="https://www.youtube.com/watch?v=KyUTuwz_b7Q">hashTables</a></li>  
    <li><a href="https://www.youtube.com/watch?v=SqrbIlUwR0U">goGolang</a></li> 
    <li><a href="https://www.youtube.com/watch?v=nefiiHOQvkk">goLangWeb</a></li>   
    <li><a href="https://www.youtube.com/watch?v=YS4e4q9oBaU">go</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4Q72kbwyEmk">sortAlg</a></li>  
    <li><a href="https://www.youtube.com/watch?v=eF9qWbuQLuw">compiler</a></li>  
    <li><a href="https://code.visualstudio.com/Download">ide</a></li>
    <li><a href="https://www.youtube.com/watch?v=zdE5HK_qz2c">5 languages</a></li>  
    <li><a href="https://www.youtube.com/watch?v=lYrZBK4NVZw&list=PL632BB8C3F7E776BA">introProg</a></li>  
  </ul>
 </li>
  <li><a href="#">moreStuff4</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=ZXgMY3-hlgs">designSpark</a></li>  
    <li><a href="https://code.visualstudio.com/docs/">vsCodeInstall</a></li>  
    <li><a href="https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc">linuxVsCode</a></li>  
    <li><a href="https://www.youtube.com/watch?v=vYquumk4nWw">dynamicProgs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ed8SzALpx1Q">graphQl</a></li>  
    <li><a href="http://www.musicalgorithms.org/3.2/">musicAlgs</a></li>
    <li><a href="https://www.youtube.com/watch?v=m6buIdQacoM">composition</a></li>
    <li><a href="https://code.google.com/archive/p/embeddedjavascript/">googleCode</a></li>  
  </ul>
 </li>
  <li><a href="#">algorithms</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=tJizCA9z48U">algorithms</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0JUN9aDxVmI">moreAlgs</a></li>  
    <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-046j-design-and-analysis-of-algorithms-spring-2015/">algs</a></li>  
    <li><a href="http://www.musicalgorithms.org/3.2/">musicAlgs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=SzJ46YA_RaA">CSmap</a></li>
    <li><a href="https://www.youtube.com/watch?v=fqNswT0jNDE">freeCSDegree</a></li> 
    <li><a href="https://www.youtube.com/watch?v=v9SQqYITWNc">devOrPgmmer</a></li> 
  </ul>
 </li>
  <li><a href="#">php</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=OK_JCtrrv-c">php</a></li>
    <li><a href="https://www.youtube.com/watch?v=O_WF50FQjBU">whyPhp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=C1phgYAzIfg">commerce</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Wjow--bYuJQ">whyNot</a></li>  
  </ul>
 </li>
  <li><a href="#">musicCode</a>
   <ul class="sites">
    <li><a href="http://www.musicalgorithms.org/3.2/">musicAlgs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0JUN9aDxVmI">algorithms</a></li>  
    <li><a href="https://www.youtube.com/watch?v=eis11j_iGMs">lambdas</a></li>  
    <li><a href="http://osxdaily.com/2014/03/12/send-sms-text-message-from-command-line/">messaging</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cO4UP2dX944">soundClass</a></li>
  </ul>
 </li>
 <li><a href="../more/index.html">&#160;&#160;&#60;--</a></li>
</ul>

 