<ul id="bookmarks">
  <li><a href="#">cmplexNums</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=6_u18uFEoN0">complexNums</a></li>  
    <li><a href="https://www.youtube.com/watch?v=n2y7n6jw5d0">laplace</a></li>  
  </ul>
 </li>
  <li><a href="#">moreLogs</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=1dUSNdZspQc">logUses</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XdZqk8BXPwg">decToBinary</a></li>    
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=WnglFnfjjFs">sprateFuncts</a></li>  
    <li><a href="https://www.youtube.com/watch?v=it9jv9F8jaA">partialFracts</a></li>    
    <li><a href="https://www.youtube.com/watch?v=sD0NjbwqlYw">rieman</a></li>  
    <li><a href="https://www.youtube.com/watch?v=gqohYwpih8U">bryMethd</a></li>  
    <li><a href="https://www.youtube.com/watch?v=lJ3CD9M3nEQ">modularMath</a></li>
    <li><a href="https://www.youtube.com/watch?v=T3TpdPmTLso">machLearnMath</a></li>  
    <li><a href="https://www.youtube.com/watch?v=RGh8n86EE48">pythgrsDrvd</a></li>  
  </ul>
 </li>
  <li><a href="#">moreOther</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=uaQeXi4E7gA">introTensors</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1r6893ga_So">btyCalcs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=NsZG9DCi-ZA">wldgFrmMcro</a></li>  
    <li><a href="https://www.youtube.com/watch?v=sT_2BozKRhs">vortexMath</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Kwyk_mteyNc">calc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Bku1p481z80">spssDataAnal</a></li>  
    <li><a href="https://www.youtube.com/watch?v=TvxmkZmBa-k">tensors</a></li>  
  </ul>
 </li>
 <li><a href="../moreMath/index.html">&#160;&#160;&#60;--</a></li>
</ul>

