<ul id="bookmarks">
  <li><a href="#">otherSys</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=LbpqkiaO7q4">newBuild</a></li>
    <li><a href="https://www.youtube.com/watch?v=_h30HBYxtws">fileSystems</a></li>    
    <li><a href="https://www.youtube.com/watch?v=1BT4efG-ItA">frontEndTests</a></li>
    <li><a href="https://www.youtube.com/watch?v=f1U4SAgy60c">damper</a></li>
    <li><a href="https://www.youtube.com/watch?v=TyHB4Z59zLE">projectors</a></li>  
    <li><a href="https://www.youtube.com/watch?v=73OVlUSP_yM">oven</a></li> 
    <li><a href="https://www.youtube.com/watch?v=YFuOBGgMN7c">freeTv</a></li> 
    <li><a href="https://www.solarwinds.com/free-tools/free-tftp-server?CMP=EMC-DCE-SWI-SW_NA_X_NP_X_FT_EN_TOPFT_MKO-TFTP-20191108B_C_OF1_TFTP-X&mkt_tok=eyJpIjoiWkdVMFkyVXhOekEwWldObSIsInQiOiJcL2MzVEdkZTgxa1RTTWRvUkdJZ0h1cmFScjVuKytCWXVOOGxcL0hsZlV4YjBnT2poeUcrUHlrNnllT0d3V0hKS1psajNxTjhKV2MrelwvVEo0SVFUYU4yRnExMFZVWVhLQzdcL2wyZHdJM0p1ajVEVGlITVJSV29nVUNXQVhPWHo2dWoifQ%3D%3D">freeFtpSver</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Snrh580U3tI">osForIt</a></li>  
    <li><a href="https://www.youtube.com/watch?v=rtQk0mns--w">chromeExtns</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aKjsy-b00QM">googleResme</a></li>  
  </ul>
 </li>
  <li><a href="#">moreSys</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Icc-077N9hg">facebkDelete</a></li>  
    <li><a href="https://www.facebook.com/instantgames/play/474443516378085/?source=canvas_divebar">facebkGames</a></li>  
    <li><a href="https://www.youtube.com/watch?v=x3YfYVVTYvw">macCommLine</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MBBWVgE0ewk">windowsComm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=SrsCEbi5N7Y">duckDuckGo</a></li>   
    <li><a href="https://www.youtube.com/watch?v=ZnWFYntS_Wo">cryptography</a></li>  
    <li><a href="https://www.youtube.com/watch?v=S-nHYzK-BVg">word</a></li>  
    <li><a href="https://www.youtube.com/watch?v=g1fKhdsBig8">gmail</a></li>  
    <li><a href="https://www.youtube.com/watch?v=VkDEUeqQUXY">intelOver</a></li>  
  </ul>
 </li>
  <li><a href="#">cad</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=3kXMb97qkK4">civilSftware</a></li>  
    <li><a href="https://www.youtube.com/watch?v=x1ykDpSzpKU">safeUbuntu</a></li>  
    <li><a href="https://forum.solidworks.com/thread/199167">cadForum</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZXgMY3-hlgs">freeCad</a></li>
    <li><a href="https://www.youtube.com/watch?v=zeu2iowMt4s">freSldwks</a></li>
    <li><a href="https://www.youtube.com/watch?v=meO-b6Ib17Y">xilInstl</a></li>
    <li><a href="https://www.youtube.com/watch?v=wBp0Rb-ZJak&t=48s">autoCAD1</a></li>
    <li><a href="https://www.youtube.com/watch?v=7cSSp8IW4vU">graphicD</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZXgMY3-hlgs">designSpark</a></li>   
    <li><a href="https://www.youtube.com/watch?v=-ndFLv_hEn4">cad 1</a></li>
    <li><a href="https://www.youtube.com/watch?v=Xtcaqc88DKE">cad 4</a></li>
    <li><a href="https://www.youtube.com/watch?v=CG_czsNdUfs">freeCADintro</a></li>  
  </ul>
 </li>
  <li><a href="#">usb</a>
   <ul class="sites">
    <li><a href="https://askubuntu.com/questions/321010/how-to-change-permissions-on-a-usb-stick">usbPrmissns</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QZe92Eyzgs0">usbRecovery</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ray5ObPsISY">usbWrite</a></li> 
    <li><a href="https://www.youtube.com/watch?v=KWUM6iwPKvA">usbCrrpt</a></li>   
  </ul>
 </li>
 <li><a href="../systems/index.html">&#160;&#160;&#60;--</a></li>
</ul>


