<ul id="bookmarks">
  <li><a href="#">phi1</a>
   <ul class="sites">
    <li><a href="http://www.goldennumber.net/what-is-phi/">phi</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Golden_ratio">goldenRatio</a></li>
    <li><a href="http://www.spirasolaris.ca/sbb4c.html">phiPlanets</a></li>
    <li><a href="http://www.maths.surrey.ac.uk/hosted-sites/R.Knott/">problems</a></li>
    <li><a href="https://www.youtube.com/watch?v=HQXthBV_--g">video</a></li>
    <li><a href="https://www.youtube.com/watch?v=sj8Sg8qnjOg">gdlnRatio</a></li>
    <li><a href="https://www.youtube.com/watch?v=4Rx35q-zJRk">winter</a></li>      
    <li><a href="https://www.youtube.com/watch?v=qhbuKbxJsk8">phiMath</a></li>  
    <li><a href="https://www.youtube.com/watch?v=zerKGc2GEiI">dWinter</a></li> 
    <li><a href="https://www.youtube.com/watch?v=IZBfcf638w0">moreWinter</a></li>    
    <li><a href="https://www.youtube.com/watch?v=IceYPhXj0cY">implosion</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aSg2Db3jF_4">mandlbrt</a></li>
    <li><a href="https://www.youtube.com/watch?v=VPHbgHVxLYY">mandel3rd</a></li>
    <li><a href="https://www.youtube.com/watch?v=NGMRB4O922I">python</a></li> 
  </ul>
 </li>  
  <li><a href="#">phi2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=IZBfcf638w0">dWinter</a></li>
    <li><a href="https://www.youtube.com/watch?v=OQ5jsbhAv_M">fibAlgs</a></li>
    <li><a href="https://www.youtube.com/watch?v=IGJeGOw8TzQ">fibMusic</a></li>  
    <li><a href="https://www.youtube.com/watch?v=6bkVu2xtypw">logoDesign</a></li>  
    <li><a href="https://www.youtube.com/watch?v=S530Vwa33G0">seaFracts</a></li> 
    <li><a href="https://www.youtube.com/watch?v=FY74AFQl2qQ">sonics</a></li>
    <li><a href="https://www.youtube.com/watch?v=VPHbgHVxLYY">mandle3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ZYRTOCp_nGc">mandalaBrot</a></li>  
    <li><a href="https://www.youtube.com/watch?v=8cgp2WNNKmQ">saphires</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PG_rzkgZIEM">shrooms</a></li> 
    <li><a href="https://www.youtube.com/watch?v=0jGaio87u3A">mandlebr</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZOqg5bPZ0HE">metatronCube</a></li>    
  </ul>
 </li>
  <li><a href="#">phi3</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=O5RdMvgk8b0">moreFractals</a></li>  
    <li><a href="https://www.youtube.com/watch?v=peYrSP8cke8">tetragammon</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0mgWE1q9uzQ">fractalOcean</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Yh8OY286HDc">fractalInfinity</a></li>  
    <li><a href="https://www.youtube.com/watch?v=u_P83LcI8Oc">infiniteOcean</a></li>  
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>


