<ul id="bookmarks">
  <li><a href="#">physics1</a>
   <ul class="sites">  
    <li><a href="https://www.youtube.com/watch?v=szGJnpNowqw">archive</a></li>   
    <li><a href="https://www.youtube.com/watch?v=6ymTZEeTjI8">fermat</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hgQS3ZBLStE">uOfW </a></li>   
    <li><a href="https://www.youtube.com/watch?v=ta09WXiUqcQ">oppheimr</a></li>    
    <li><a href="https://www.youtube.com/watch?v=AM7SnUlw-DU">berkely</a></li>      
    <li><a href="https://www.youtube.com/watch?v=hbmf0bB38h0">relativity</a></li>     
    <li><a href="https://www.youtube.com/watch?v=2eFvVzNF24g">particles</a></li>
    <li><a href="https://www.youtube.com/watch?v=2DIl3Hfh9tY">hologram</a></li>
    <li><a href="https://www.youtube.com/watch?v=mB0QnCWftGo">physicsCalc</a></li>    
    <li><a href="https://www.youtube.com/watch?v=25haxRuZQUk">string theory</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yOiABZM7wTU">weak force</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yArprk0q9eE">time particle</a></li>  
  </ul>
 </li>
  <li><a href="#">physics2</a>
   <ul class="sites">  
    <li><a href="https://www.youtube.com/watch?v=0Eeuqh9QfNI">tangles</a></li> 
    <li><a href="https://www.youtube.com/watch?v=9wsHgaXhKHw">reality</a></li>  
    <li><a href="https://www.youtube.com/watch?v=k6TWO-ESC6A">strings</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aN9tn1E3tDs">doubleSlit</a></li>  
    <li><a href="https://www.youtube.com/watch?v=R16OM1PKz7s">philExp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=q7v5NtV8v6I">alts</a></li>
    <li><a href="https://www.youtube.com/watch?v=ANyxWx48oVg&list=PLYK-34zATL16dU3tTjDgNQHhVZFxnjeua">keely</a></li>
    <li><a href="https://www.youtube.com/watch?v=4BuASSkpPFU">aether</a></li>  
  </ul>
 </li>
  <li><a href="#">classical</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=ApUFtLCrU90">cMech1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mYDrufxpW9E">cMech2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3apIZCpmdls">cMech3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ojEwHlyty4Q">cMech4</a></li>  
    <li><a href="https://www.youtube.com/watch?v=lW9GJ0aiaNc">cMech5</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4gSJ3MkJlic">physics</a></li> 
    <li><a href="https://www.youtube.com/watch?v=WLBZIV-cRNU">aaa</a></li> 
  </ul>
 </li>
  <li><a href="#">quantum</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=KKr91v7yLcM">qWave</a></li>
    <li><a href="https://www.youtube.com/watch?v=ISdBAf-ysI0">qPhysics</a></li>
    <li><a href="https://www.youtube.com/watch?v=q4ONRJ1kTdA">quantumS</a></li>
    <li><a href="https://www.youtube.com/watch?v=T2F0qF1QlYE">quad7min</a></li>
    <li><a href="https://www.youtube.com/watch?v=N-w1tkvdsQI">quantSpa</a></li>
    <li><a href="https://www.youtube.com/watch?v=gpEvv349Pyk">quantumLecture</a></li>  
    <li><a href="https://www.youtube.com/watch?v=eOCKNH0zaho">e=mcWrong</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hbmf0bB38h0">einsteinTheory</a></li>  
  </ul>
 </li>
  <li><a href="#">moreQuantum</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=jANZxzetPaQ&list=PLUl4u3cNGP60cspQn3N9dYRPiyVWDd80G">qMech</a></li>
    <li><a href="http://ocw.mit.edu/courses/mathematics/18-05-introduction-to-probability-and-statistics-spring-2014/">probability</a></li>  
    <li><a href="https://www.youtube.com/watch?v=p-MNSLsjjdo">qntmExp</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Dk2-lH9ewuA">blackHole</a></li> 
    <li><a href="https://www.youtube.com/watch?v=lvTqbM5Dq4Q">qntmHacks</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ruJgtjpSoPk">quantGrav</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2eFvVzNF24g">quantum</a></li>
    <li><a href="https://www.youtube.com/watch?v=OTMELHUAzSM">gravityProbs</a></li>  
  </ul>
 </li>
  <li><a href="#">schrod</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=QeUMFo8sODk">schrodEq</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QeUMFo8sODk">schrödinger</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BMIvWz-7GmU">schrodinger</a></li>
  </ul>
 </li>
  <li><a href="#">bells</a>
   <ul class="sites">  
    <li><a href="https://www.youtube.com/watch?annotation_id=annotation_3876855055&feature=iv&src_vid=7zfnvGXpy-g&v=z-s3q9wlLag">bell's</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7zfnvGXpy-g">bells</a></li>  
  </ul>
 </li>
  <li><a href="#">epr</a>
   <ul class="sites">  
    <li><a href="https://www.youtube.com/watch?v=5HJK5tQIT4A">eprPrdox</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0x9AgZASQ4k">eprAgain</a></li>  
  </ul>
 </li>
  <li><a href="../chemistry/index.html">chemistry</a>
   <ul class="sites">
    <li><a href="../chemistry/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../biology/index.html">biology</a>
   <ul class="sites">
    <li><a href="../biology/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">cern</a>
   <ul class="sites">    
    <li><a href="https://www.youtube.com/watch?v=P2GiHw9eagE">cernRisk</a></li>  
    <li><a href="https://www.youtube.com/watch?v=AdJn82JwhTM">cern</a></li>
  </ul>
 </li>
  <li><a href="#">quantumC</a>
   <ul class="sites">    
    <li><a href="https://www.youtube.com/watch?v=F_Riqjdh2oM">quantumC</a></li>  
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>


