<ul id="bookmarks">  
  <li><a href="#">plasma</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=jMgtWFqdPK0">elecCosm</a></li>  
    <li><a href="https://www.google.com/search?q=pdf+low-frequency+waves+and+irregularities+in+the+ionosphere&sa=N&tbm=isch&tbo=u&source=univ&ved=2ahUKEwjlnejLuN3fAhX_CTQIHdTmC1I4KBCwBHoECAYQAQ&biw=1093&bih=537">ionosphere</a></li>
    <li><a href="https://www.youtube.com/watch?v=topPjxfby50">bioelec</a></li>
  </ul>
 </li>
 <li><a href="#">physics</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=CAEoGWL0qs4">plsPhy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=zioU_Wscdsc">plsPhy2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=A9pUXEI128U&list=PL3j9-PBFbFD0Tkh02ILapJl46T0fOOO5g">hydroMag1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=l7obS9W1Egk">hydroMag2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=l0u8Vtf2GoQ">microwave</a></li>    
    <li><a href="https://www.youtube.com/watch?v=Q_wRxaZZw3Q">pmag1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=qIOgv7s_KJE">pmag2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-F6qXUqbnMk">pmag3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aPwyOef18ZQ">pmag4</a></li>  
    <li><a href="https://www.ucl.ac.uk/mssl/solar/summerschool13/lectures/MSSL-Arber.pdf">slides</a></li>  
    <li><a href="https://www.youtube.com/watch?v=wCrtk-pyP0I">grapes</a></li>  
  </ul>
 </li>
 <li><a href="#">devices</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=OL5dYtSIb5w">plsCoil</a></li>  
    <li><a href="https://www.youtube.com/watch?v=sw9vjukXjac">plsGenr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DYcuBvUZgB4">plsMGen</a></li>  
  </ul>
 </li>
 <li><a href="#">papers</a>
   <ul class="sites">
    <li><a href="https://wwwmpa.mpa-garching.mpg.de/~henk/mhd12.pdf">paper1</a></li>  
    <li><a href="http://home.zcu.cz/~kozakt/MPPL/literatura/Bittencourt%20-%20Fundamentals%20of%20Plasma%20Physics.pdf">paper2</a></li>
  </ul>
 </li>
 <li><a href="#">birkeland</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=yIFR67sckK0">birkeland1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yIFR67sckK0">birkeland2</a></li>
    <li><a href="https://www.plasma-universe.com/Birkeland_current">birkeland</a></li>
  </ul>
 </li>
 <li><a href="../plasma/index.html">&#160;&#160;&#60;--</a></li>
</ul>
