<ul id="bookmarks">
  <li><a href="#">preCalc</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=UumqgceaLX0">preCalc1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=i-O99sIddsc">preCalc2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=60_nRFyN4zs">preCalc3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=KfU4yq7tLrs">preCalc4</a></li>  
    <li><a href="https://www.youtube.com/watch?v=RG-9AZmyScM">preCalc5</a></li>  
    <li><a href="https://www.youtube.com/watch?v=O6a4forHr_0">preCalc6</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xFlCxpdWF6o">preCalc7</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ib9ndr0TBz0">preCalc8</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ec5YYVxyq44">preCalc9</a></li>
    <li><a href="https://www.youtube.com/watch?v=grD2eZgLqlE">logs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DUOUGbxv6pI">condenseLogs</a></li> 
    <li><a href="https://www.youtube.com/watch?v=_-x90wGBD8U">e</a></li>  
    <li><a href="https://www.youtube.com/watch?v=6WQnY3wGtY0">logAlgebra</a></li>    
  </ul>
 </li>
 <li><a href="../math/index.html">&#160;&#160;&#60;--</a></li>
</ul>
