<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">python1</a>
   <ul class="sites">
    <li><a href="https://www.python.org/">python.org</a></li>
    <li><a href="https://pythonprogramming.net/">python.net</a></li>
    <li><a href="https://code.tutsplus.com/articles/python-from-scratch-create-a-dynamic-website--net-22787">web</a></li>
    <li><a href="https://coolpythoncodes.com/python-turtle/">codes</a></li>
    <li><a href="https://www.dataquest.io/blog/numpy-tutorial-python/">numpy</a></li>
    <li><a href="https://www.analyticsvidhya.com/blog/2016/01/complete-tutorial-learn-data-science-python-scratch-2/">data</a></li>    
    <li><a href="https://machinelearningmastery.com/machine-learning-in-python-step-by-step/">learning</a></li>
    <li><a href="http://www.jython.org/faq1.html">jpython</a></li>    
    <li><a href="http://vpython.org/">vpython</a></li>
    <li><a href="https://www.youtube.com/watch?v=rfscVS0vtbw">fullC</a></li>  
    <li><a href="https://www.youtube.com/watch?v=G0rQ7AEl5LA">best10</a></li>  
  </ul>
 </li>
  <li><a href="#">python2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=b76SNj2Dej0">nineHrs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=iMBj_z0nwTQ">pythonGui</a></li>
    <li><a href="https://www.youtube.com/watch?v=ufOrfPQOKvU">pyEth3</a></li>
    <li><a href="https://www.youtube.com/watch?v=zDYL22QNiWk">pyenv</a></li> 
    <li><a href="https://www.youtube.com/watch?v=3Tcq_dBhIrQ">pytSort</a></li>
    <li><a href="https://www.youtube.com/watch?v=Z7qLt33BjLc">pySimltn</a></li>  
    <li><a href="https://www.youtube.com/watch?v=AG-128ON2W0">na</a></li>
    <li><a href="https://www.youtube.com/watch?v=F30jLIqGQpo">pythonMathObj</a></li>    
    <li><a href="https://www.youtube.com/watch?v=f79MRyMsjrQ">python</a></li>  
    <li><a href="https://iot.electronicsforu.com/videos/micropython-iot/?fbclid=IwAR1oDKa-ilLtuNi044QO4vJXaMhY4MN-DUDpWloZDuwpTjhuhG3Unw_xwvs microPython">na</a></li>
  </ul>
 </li>
  <li><a href="#">python3</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=c3FXQU3TyCU">pythonPepTalk</a></li>  
    <li><a href="https://www.youtube.com/watch?v=URBSvqib0xw">pyDoc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=iMBj_z0nwTQ&t=316s">pyGui</a></li>  
    <li><a href="https://www.youtube.com/watch?v=zRwy8gtgJ1A">pyFlask</a></li>  
    <li><a href="https://www.youtube.com/watch?v=f79MRyMsjrQ">pyForPrgs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=IQfG0faDrzE">pySpark</a></li>  
    <li><a href="https://www.youtube.com/watch?v=f79MRyMsjrQ">crashCourse</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XRJwIakB5Fg">learnByDoing</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ahJB7ZA5E7g">python for beginners</a></li>  
    <li><a href="https://www.youtube.com/watch?v=vaysJAMDaZw">fullPython</a></li>  
  </ul>
 </li>
  <li><a href="#">hacks</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=sH68IYKP_SI">h1</a></li>
    <li><a href="https://www.youtube.com/watch?v=rfyz-i9LU4s">h2</a></li>    
    <li><a href="https://www.youtube.com/watch?v=HiTihloGxn4">h3</a></li>
    <li><a href="https://www.youtube.com/watch?v=p797oWu-6VY">h4</a></li>
    <li><a href="https://www.youtube.com/watch?v=wyESGNF8eVY">h5</a></li>    
    <li><a href="https://www.youtube.com/watch?v=X1ixQ6mQIS0">h6</a></li>
    <li><a href="https://www.youtube.com/watch?v=CuABrYGALZw">h7</a></li>
    <li><a href="https://www.youtube.com/watch?v=E5mGivAQg90">h8</a></li>    
    <li><a href="https://www.youtube.com/watch?v=-wKG48LK9MM">h9</a></li>
    <li><a href="https://www.youtube.com/watch?v=neTgKSOwV6Q">h10</a></li>
    <li><a href="https://www.youtube.com/watch?v=ufOrfPQOKvU">h11</a></li>    
    <li><a href="https://www.youtube.com/watch?v=j3y1vKQiAlg">h12</a></li>
    <li><a href="https://www.youtube.com/watch?v=5sqye64-1-k">h13</a></li>
  </ul>
 </li>
  <li><a href="#">anaconda</a>
   <ul class="sites">
    <li><a href="https://repo.continuum.io/">installers</a></li>
    <li><a href="https://repo.continuum.io/pkgs/">packages</a></li>
    <li><a href="https://repo.continuum.io/pkgs/pro/linux-64/">extras</a></li>
    <li><a href="https://www.digitalocean.com/community/tutorials/how-to-install-the-anaconda-python-distribution-on-ubuntu-16-04">steps</a></li>
  </ul>
 </li>
  <li><a href="#">data1</a>
   <ul class="sites">
    <li><a href="https://pythonprogramming.net/data-analysis-python-pandas-tutorial-introduction/">pandas</a></li>
    <li><a href="https://www.youtube.com/watch?v=CLRc3Yp2J5g">video</a></li>
    <li><a href="https://www.agcross.com/2014/09/python-download-a-csv-upload-database/">csv</a></li>
    <li><a href="http://bigdata-madesimple.com/step-by-step-approach-to-perform-data-analysis-using-python/">bigData</a></li>
    <li><a href="https://www.datacamp.com/courses/intro-to-python-for-data-science?tap_a=5644-dce66f&tap_s=116411-750171">intro</a></li>
    <li><a href="https://www.youtube.com/watch?v=5b_157RtEbI">video</a></li>
    <li><a href="https://pypi.org/project/construct/">construct</a></li>
  </ul>
 </li>
  <li><a href="#">data2</a>
   <ul class="sites">
    <li><a href="https://orange.biolab.si/">pypi</a></li>
    <li><a href="https://people.xiph.org/~jm/demo/rnnoise/">noise</a></li>
    <li><a href="https://www.physics.utoronto.ca/~phy326/python/simple_pylab_data_plot.py">dataPlot</a></li>
    <li><a href="http://nbviewer.jupyter.org/gist/manujeevanprakash/138c66c44533391a5af1">jupyter</a></li>
    <li><a href="https://www.youtube.com/watch?v=5HWveDdrosk">bigData</a></li>  
    <li><a href="https://www.datacamp.com/courses/introduction-to-time-series-analysis-in-python?utm_source=adwords_ppc&utm_campaignid=876810440&utm_adgroupid=55908449709&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=d&utm_adpostion=none&utm_creative=277394909721&utm_targetid=aud-463029047191&utm_loc_interest_ms=&utm_loc_physical_ms=9030236&gclid=EAIaIQobChMI_N26mNS_3QIVRs5kCh1gkgK3EAEYASAAEgIUHPD_BwE">timeS</a></li>
    <li><a href="https://www.youtube.com/watch?v=q6Mc_sAPZ2Y">pyExcel</a></li>
  </ul>
 </li>
  <li><a href="#">sound</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=0ALKGR0I5MA">scipy</a></li>
    <li><a href="https://python-sounddevice.readthedocs.io/en/0.3.10/">playRec</a></li>
    <li><a href="https://stackoverflow.com/questions/20021457/playing-mp3-song-on-python">mp3s</a></li>
    <li><a href="https://project-awesome.org/faroit/awesome-python-scientific-audio">list</a></li>
    <li><a href="http://signalsprocessed.blogspot.com/2016/08/audio-resampling-in-python.html">sampling</a></li>
    <li><a href="http://python-sounddevice.readthedocs.io/en/0.3.10/">sDevice</a></li>
    <li><a href="https://www.swharden.com/wp/2016-07-19-realtime-audio-visualization-in-python/">visuals</a></li>
    <li><a href="https://courses.engr.illinois.edu/ece420/fa2017/lab2/lab/">filters</a></li>
  </ul>
 </li>
  <li><a href="#">ftp</a>
   <ul class="sites">
    <li><a href="http://effbot.org/librarybook/ftplib.htm">ftpLib</a></li>
    <li><a href="https://stackoverflow.com/questions/21194691/retrieve-file-s-from-ftp-using-python-connection">pyFtp</a></li>
  </ul>
 </li>
  <li><a href="morePy/index.html">morePython</a>
   <ul class="sites">
    <li><a href="morePy/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="code/index.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>



