<ul id="bookmarks">
  <li><a href="#">shortwave</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=TpbmAPo5Gak">beginner</a></li>  
    <li><a href="https://www.youtube.com/watch?v=eDAlpcrFyZE">bands</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PXqzQcXMAaA">onLine</a></li> 
    <li><a href="https://www.youtube.com/watch?v=wfrrEI7r8lk">demo</a></li>  
    <li><a href="https://www.youtube.com/watch?v=n92rw-2DrFE">makeOne</a></li> 
    <li><a href="https://www.youtube.com/watch?v=UTZQTzEqkEY">repair</a></li>  
  </ul>
 </li>  
 <li><a href="../em/index.html">&#160;&#160;&#60;--</a></li>
</ul>
