<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">serialControl</a>
   <ul class="sites">
    <li><a href="http://qmodbus.sourceforge.net/">qmodbus</a></li>  
    <li><a href="https://sourceforge.net/projects/qmodbus/files/latest/download">download</a></li>  
    <li><a href="https://libmodbus.org/">libmodbus</a></li>  
    <li><a href="https://stackoverflow.com/questions/25294373/simple-app-to-read-and-write-data-to-rockwell-plc-1756-a10-a">simpleApp</a></li>  
    <li><a href="https://www.npmjs.com/package/serialport">npmSerialPort</a></li>  
    <li><a href="https://sourceforge.net/directory/os:linux/?q=siemens+plc+linux">siemens</a></li>  
    <li><a href="https://elinux.org/Serial_port_programming">serialPort</a></li>
    <li><a href="https://www.engineersgarage.com/embedded/pic-microcontroller-projects/led-interface-circuit?fbclid=IwAR3jOUeohSVNOI62V18kePXWGvvx86-bVzvo-fYHyz6R1esxBILeRV1FY4w">pic</a></li> 
  </ul>
 </li>
  <li><a href="#">python</a>
   <ul class="sites">
    <li><a href="https://media.readthedocs.org/pdf/pyserial/latest/pyserial.pdf">pySerialDocs</a></li>  
    <li><a href="https://packages.ubuntu.com/source/trusty/pyserial">serialPackages</a></li>  
    <li><a href="https://www.raspberrypi.org/forums/viewtopic.php?t=5938">pySerialInstall</a></li>  
    <li><a href="https://ubuntuforums.org/showthread.php?t=1235241">pythonSerial</a></li>  
    <li><a href="https://pypi.org/project/pyserial/">pySerial3.4</a></li>  
    <li><a href="https://github.com/pyserial/pyserial/blob/master/documentation/pyserial.rst">github</a></li>  
    <li><a href="https://pyvisa.readthedocs.io/en/master/">pyvisa</a></li>
  </ul>
 </li>
  <li><a href="#">java</a>
   <ul class="sites">
    <li><a href="https://stackoverflow.com/questions/638553/how-do-i-get-java-to-use-the-serial-port-in-linux">serialPort</a></li>  
    <li><a href="http://www.scottsbots.com/articles/47.php">mdiaFramewrk</a></li>  
    <li><a href="http://fazecast.github.io/jSerialComm/">jSerialComm</a></li>  
    <li><a href="https://www.maximintegrated.com/en/products/digital/one-wire/software-tools/api-java-sdk.html">1wireJava</a></li>  
    <li><a href="https://blogs.oracle.com/jtc/java-serial-communications-revisited">javaSerial</a></li>
  </ul>
 </li>  
  <li><a href="#">snap</a>
   <ul class="sites">
    <li><a href="https://github.com/gijzelaerr/python-snap7">snap7</a></li>  
    <li><a href="https://media.readthedocs.org/pdf/python-snap7/latest/python-snap7.pdf">snap7Docs</a></li>
  </ul>
 </li>
  <li><a href="#">plc</a>
   <ul class="sites">
    <li><a href="http://www.plcsimulator.org/">simulator</a></li>  
    <li><a href="http://www.openplcproject.com/plcopen-editor">plcopen</a></li>
    <li><a href="https://www.youtube.com/watch?v=Q7kA7uv4dn4">introPlcs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Qf32qtHfowQ">plcLangs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Y5NgUc_dxlA">plcs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oAn__-vcvC4">plcIo</a></li>  
    <li><a href="https://help.ubuntu.com/community/XilinxISE">XilinxISE</a></li>
    <li><a href="https://www.youtube.com/watch?v=qeBAz_XXUWs">devices</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ic9crSVVF9Q">plc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Qf32qtHfowQ">PlcProgs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GaQPxOgqHPE">plcAumtion</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GaQPxOgqHPE">plcOffGrid</a></li>  
  </ul>
 </li>
  <li><a href="#">ponyprog</a>
   <ul class="sites">
    <li><a href="http://www.lancos.com/prog.html">ponyProg</a></li>  
    <li><a href="https://ubuntuforums.org/showthread.php?t=1121735">forum</a></li>  
  </ul>
 </li>
 <li><a href="engineering/index.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>

