<ul id="bookmarks">
  <li><a href="#">time</a>
   <ul class="sites">
    <li><a href="https://www.sfgate.com/news/article/Mass-extinction-comes-every-62-million-years-UC-2693228.php">62M</a></li>
    <li><a href="https://www.youtube.com/watch?v=WfbMzSZ_1UE">largeRodents</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oMy1q-fMr7E">100M</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0d7ADJuRKz0">300M</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YmBnOAhJJiU">gigCretacious</a></li>  
  </ul>
 </li>
  <li><a href="#">moreTime</a>
   <ul class="sites">
    <li><a href="https://commons.wikimedia.org/wiki/Category:Darwinius_life_restorations#/media/File:Darwinius_NT.jpg">darwinius</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Eocene">eocene</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/Category:Oligocene_volcanoes_volcanism#mediaviewerFile:Minette_Dyke_in_New_Mexico_USA_01.jpg">oligocene</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Sierra_Blanca_(New_Mexico)#/media/File:Lookout_Mountain_NM.jpg">volcanoes</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Aegyptopithecus#/media/File:Aegyptopithecus_NT.jpg">animal</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/Category:Oligocene_animals">animals</a></li>
    <li><a href="https://commons.wikimedia.org/w/index.php?title=Special:Search&limit=20&offset=60&profile=default&search=first+mammals&advancedSearch-current={%22namespaces%22:[6,12,14,100,106,0]}#/media/File:British_mammals_(6358190609).jpg">mammals</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/Category:Miocene_animals">miocene</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Proconsul#/media/File:Proconsul_NT.jpg">proconsul</a></li>
  </ul>
 </li>  
  <li><a href="#">moreTime</a>
   <ul class="sites">
    <li><a href="https://commons.wikimedia.org/wiki/Category:Dryopithecus#/media/File:Stamps_of_Uzbekistan,_2002-09.jpg">hominid</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/Orangutan#mediaviewer/File:Orangutan_bukit_lwanag_2006.jpg">orangutan</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Pongo#/media/File:Orang-utan_bukit_lawang_2006.jpg">pongo</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/Chimpanzee#mediaviewer/File:Bonobo.jpg">bonobo</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Pan_(genus)#/media/File:Schimpanse_Zoo_Leipzig.jpg">chimps</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Betelgeuse#/media/File:Position_Alpha_Ori.png">star</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Sahelanthropus#/media/File:Djourab,_Chad_;_Sahelanthropus_tchadensis_2001_discovery_map.png">hominid</a></li>
    <li><a href="https://species.wikimedia.org/wiki/File:A.afarensis.jpg">afarensis</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Homo_habilis#/media/File:HabilisZICA.png">habilis</a></li>
  </ul>
 </li>  
  <li><a href="#">moreTime</a>
   <ul class="sites">
    <li><a href="https://www.sfgate.com/news/article/Mass-extinction-comes-every-62-million-years-UC-2693228.php">62M</a></li>
    <li><a href="https://www.youtube.com/watch?v=WfbMzSZ_1UE">largeRodents</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oMy1q-fMr7E">100M</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0d7ADJuRKz0">300M</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YmBnOAhJJiU">gigCretacious</a></li> 
    <li><a href="https://www.youtube.com/watch?v=0vLSNk5nZQY">humanoid</a></li>  
  </ul>
 </li>
 <li><a href="../u7/index.html">&#160;&#160;&#60;--</a></li>
</ul>
