<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">aa</a>
   <ul class= "sites">
    <li><a href="https://commons.wikimedia.org/wiki/File:1775_LondonChronicle_Feb7.png">chronicle</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Flickr_-_USCapitol_-_Civil_Rights_Bill_Passes,_1866.jpg">rights</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:New_London_and_Westerly_trolley_in_Groton_circa_1915.jpg">trolley</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/New_York_Times#/media/File:EP_-_Detail_of_a_New_York_Times_Advertisement_-_1895.jpg">times</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Locomobile_1901_Steam_Car_on_London_to_Brighton_VCR_2009_1566960.jpg">steamCar</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Guglielmo_Marconi_1901_wireless_signal.jpg">wireless</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:First_taxis_on_the_streets_of_St._Petersburg_in_1908.jpg">taxis</a></li>
    <li><a href="http://en.wikipedia.org/wiki/File:HoratioJacksonNelson.jpeg">journey</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/Ww1#mediaviewer/File:Romagne-sous-Montfaucon_-_crosses.jpg">ww1</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/File:RCA_630-TS_Television.jpg">tv</a></li>
    <li><a href="https://commons.wikimedia.org/w/index.php?search=madame+curie&title=Special%3ASearch&go=Go#/media/    
File:Madame_curie_3334194920_e4014f35a4_o.jpg">curie</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Nagasakibomb.jpg?fastcci_from=18573&c1=18573&d1=15&s=200&a=fqv">bomb</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/File:Vietnamdem.jpg">peace</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/File:Nixon_edited_transcripts.jpg">nixon</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/File:Venus_topo_merc.jpg">venus</a></li>
  </ul>
 </li>
 <li><a href="u3/index.html">&#160;&#160;&#60;--</a></li>
</div>
</body>
</html>

