<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">aa</a>
   <ul class="sites">
    <li><a href="http://upload.wikimedia.org/wikipedia/commons/3/30/Age-of-Man-wiki.jpg">treeOfLife</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/e/ea/Biochem_evolution_timeline.jpg">biochem</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/5/5a/Average_prokaryote_cell-_en.svg">cell</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Paleozoic">paleozoic</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Paleozoic#/media/File:290_global.png">globe</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/5/5f/All_palaeotemps.svg">temps</a></li>
    <li><a href="https://commons.wikimedia.org/w/index.php?search=juramaia&title=Special%3ASearch&go=Go#/mediaFile:Juramaia_NT.png">juramaia</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Jurassic">jurassic</a></li>
  </ul>
 </li>
 <li><a href="u8/index.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>
