<ul id="bookmarks">
  <li><a href="#">time</a>
   <ul class="sites">
    <li><a href="http://commons.wikimedia.org/wiki/File:Homo_habilis.jpg">habilis</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Homo_habilis_models#/media/File:Homo_habilis-cropped.jpg">habilisCrpped</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/File:Homo_erectus.jpg">erectus</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/c/cb/Homo_erectus_new.JPG">moreErectus</a></li>
    <li><a href="http://commons.wikipedia.org/wiki/File:Nariokotome_Boy_Reconstruction.jpg">nariokotome</a></li>
    <li><a href="http://commons.wikipedia.org/wiki/File:Homo_erectus_pekinesis.png">pekinesis</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/c/ca/Introduction_to_Paleoanthropology.pdf">pdfIntro</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/File:Geomagnetic_polarity_late_Cenozoic.svg">polarity</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/File:java_Man.jpg">javaMan</a></li>
    <li><a href="https://commons.wikimedia.org/w/index.php?search=face+on+mars&title=Special%3ASearch&go=Go#/media/File:Face-on-mars.jpg">faceOnMars</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Gold_veins#mediaviewer/File:Gold_bearing_vein_Toi_Kinzan.jpg">gold</a></li>
    <li><a href="http://commons.wikimedia.org/wiki/File:Spreading_homo_sapiens-no.jpg">sapiens</a></li>
    <li><a href="https://commons.wikimedia.org/w/index.php?search=mars+mons&title=Special%3ASearch&go=Go#/media/File:Olympus_Mons_alt.jpg">mons</a></li>
  </ul>
 </li>
  <li><a href="#">moreTime</a>
   <ul class="sites">
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/f/f7/Code_of_Hammurabi_%281904%29.pdf">hammurabi</a></li>
    <li><a href="https://www.youtube.com/watch?v=HCAP6GlrOew">longHeads</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Rd7MrGy_tEg">gilgamesh</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kHwN0Bl4fqs">atlantis</a></li>  
  </ul>
 </li>
 <li><a href="../u6/index.html">&#160;&#160;&#60;--</a></li>
</ul>





