<ul id="bookmarks">
  <li><a href="#">time</a>
   <ul class="sites">
    <li><a href="http://upload.wikimedia.org/wikipedia/commons/3/30/Age-of-Man-wiki.jpg">treeOfLife</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/e/ea/Biochem_evolution_timeline.jpg">biochem</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/5/5a/Average_prokaryote_cell-_en.svg">cell</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Paleozoic">paleozoic</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Paleozoic#/media/File:290_global.png">globe</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/5/5f/All_palaeotemps.svg">temps</a></li>
    <li><a href="https://commons.wikimedia.org/w/index.php?search=juramaia&title=Special%3ASearch&go=Go#/mediaFile:Juramaia_NT.png">juramaia</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/Category:Jurassic">jurassic</a></li>
    <li><a href="https://www.youtube.com/watch?v=b34al8YmQSA">carbonAge</a></li>  
  </ul>
 </li>
  <li><a href="#">moreTime</a>
   <ul class="sites">
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/7/77/Geologic_Clock_with_events_and_periods.svg">earthClock</a></li>
    <li><a href="https://en.wikipedia.org/wiki/File:Tree_of_life_by_Haeckel.jpg">treeOfLife</a></li>
    <li><a href="http://cse.ssl.berkeley.edu/bmendez/ay10/2002/notes/geo_timeline.html">timeLine</a></li>
    <li><a href="https://www.youtube.com/watch?v=_UuDFkXxEnI">geoHist</a></li> 
    <li><a href="https://www.youtube.com/watch?v=qERdL8uHSgI">oxygeo</a></li>     
    <li><a href="https://www.youtube.com/watch?v=rBK5D4gA-e8">firstLife</a></li>  
    <li><a href="http://www.theguardian.com/science/2010/aug/17/sponge-fossils-animal-life">sponges</a></li>
    <li><a href="https://www.youtube.com/watch?v=9wqgRBpKuWg">fstAnimal</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xyhZcEY5PCQ">lfOrgin</a></li>  
    <li><a href="https://www.youtube.com/watch?v=32NG9aeZ7_c">mineralId</a></li>  
    <li><a href="https://www.youtube.com/watch?v=sNZErC7giZY">dinos</a></li>  
  </ul>
 </li>
 <li><a href="../u8/index.html">&#160;&#160;&#60;--</a></li>
</ul>

