<ul id="bookmarks">
  <li><a href="#">trig1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=jCIltIXfvFE">trig1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ULmZygOKQjI">trig2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=y5i34nqO1Sw">trig3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=hog822w-7OE">trig4</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oBTc8CZwK-0">trig5</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DUOUGbxv6pI">trig6</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_PuoeQj0c6M">trig7</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_oJhXXa37Xk">trig8</a></li>  
    <li><a href="https://www.youtube.com/watch?v=qTIsF61_BYg">trig9</a></li>  
    <li><a href="https://www.youtube.com/watch?v=m5m9GMXcbFY">trig10</a></li>  
  </ul>
 </li>
  <li><a href="#">trig2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=tPbEARadcmE">trig11</a></li>  
    <li><a href="https://www.youtube.com/watch?v=qTIsF61_BYg">trig12</a></li>  
    <li><a href="https://www.youtube.com/watch?v=5QyeZ7KwFKg">trig13</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1PX3FYF8vHg">trig14</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OeJRK1JGr-g">trig15</a></li>
    <li><a href="https://www.youtube.com/watch?v=jI81WXyFrL0">trigHnds</a></li>  
    <li><a href="https://www.youtube.com/watch?v=lRCWO_xAWTM">reciprocalTrig</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_oJhXXa37Xk">factorTrigEq</a></li>  
    <li><a href="https://www.youtube.com/watch?v=sGWyBP9Vn7I">addtrmsToTrig</a></li>
    <li><a href="https://www.youtube.com/watch?v=nthuNmIADDM">PythgreanTrig</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OeJRK1JGr-g">complexTrig</a></li>  
  </ul>
 </li>
  <li><a href="#">trig3</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=0im360oFPE4">coSecant</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Nk6fvcCatTA">graph</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Azg8ohIAR0o">cotangent</a></li>  
    <li><a href="https://www.youtube.com/watch?v=OgNH3xrhtdg">geometry</a></li>  
    <li><a href="https://www.youtube.com/watch?v=AH-Tle4c7HY">formula</a></li>  
    <li><a href="https://www.youtube.com/watch?v=HmrmRWFPHu4&list=PL0G-Nd0V5ZMolm6904Qt0IfAQFelcCx7h">trigFactor</a></li>  
  </ul>
 </li>
 <li><a href="../math/index.html">&#160;&#160;&#60;--</a></li>
</ul>
