<ul id="bookmarks">
  <li><a href="#">dailySolarData</a>
   <ul class="sites">
    <li><a href="ftp://ftp.ngdc.noaa.gov/STP/space-weather/solar-data/solar-indices/sunspot-numbers/american/lists/list_aavso-arssn_daily.txt">dailySpots</a></li>
    <li><a href="ftp://ftp.ngdc.noaa.gov/STP/space-weather/solar-data/solar-indices/sunspot-numbers/american/tables/">spotsIndex</a></li>
    <li><a href="https://www.youtube.com/watch?v=RoV97zCtJwk">solMinima</a></li>  
  </ul>
 </li>
  <li><a href="#">climate</a>
   <ul class="sites">
    <li><a href="http://www.wrcc.dri.edu/crn/">data</a></li>
    <li><a href="ftp://ftp.ngdc.noaa.gov/STP/SGD/sgdpdf/">fullIndex</a></li>
  </ul>
 </li>
  <li><a href="#">ephemerides</a>
   <ul class="sites">
    <li><a href="http://astropixels.com/ephemeris/ephemeris.html">events</a></li>
    <li><a href="http://www.stjarnhimlen.se/comp/tutorial.html">math</a></li>
  </ul>
 </li>
  <li><a href="#">mars</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=HZROh9zq0cY">video</a></li>    
    <li><a href="https://www.youtube.com/watch?v=XRCIzZHpFtY">getThere</a></li>  
    <li><a href="https://www.youtube.com/watch?v=D0VFPAZ50Yk">images</a></li>  
  </ul>
 </li>
  <li><a href="#">venus</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=yzqbN6z8ncc">venus4kRes</a></li>  
    <li><a href="https://www.researchgate.net/profile/Susan_Milbrath/publication/292146226_The_Many_Faces_of_Venus_in_Mesoamerica/links/56aa5d7308aed814bde6986e/The-Many-Faces-of-Venus-in-Mesoamerica.pdf?origin=publication_detail">venus</a></li>
    <li><a href="https://www.youtube.com/watch?v=YtLFeye4-18">strangeVens</a></li>  
    <li><a href="https://in-the-sky.org/article.php?term=venus">venusStats</a></li>  
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=qOVAbKKSH10">backward</a></li>
    <li><a href="https://www.youtube.com/watch?v=89CvQ4m9feA">stars2019</a></li>  
    <li><a href="https://www.youtube.com/watch?v=89CvQ4m9feA">astroEvents</a></li>  
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>








