<ul id="bookmarks">
  <li><a href="#">ephemerides</a>
   <ul class="sites">
    <li><a href="http://astronomynow.com/javascript/solar_system.html">allBodies</a></li>                
    <li><a href="http://www.astrotheme.com/transits_ephemerides_chart.php">astrology</a></li>          
    <li><a href="http://www.robertmartinayers.org/tools/coordinates.html">calculator</a></li>   
    <li><a href="https://www.youtube.com/watch?v=rthuhIgum6k">spaPlnets</a></li>  
    <li><a href="http://www.astropro.com/features/tables/geo/ju-sa/ju000sa.html">JSConj</a></li>
    <li><a href="https://www.youtube.com/watch?v=jd4PjZQ3H_o">junoCloseup</a></li>  
  </ul>
 </li>
  <li><a href="#">momentum</a>
   <ul class="sites">
    <li><a href="http://www.zipcon.net/~swhite/docs/astronomy/Angular_Momentum.html">angMomentum</a></li>
    <li><a href="https://repository.lib.fit.edu/bitstream/handle/11141/684/IRWIN-DISSERTATION.pdf?sequence=1&isAllowed=y">anglMomtum</a></li>
    <li><a href="https://files.pearsoned.de/ps/ext/9781292037318">exercises</a></li>
    <li><a href="http://gacc.nifc.gov/sacc/predictive/SOLAR_WEATHER-CLIMATE_STUDIES/Solar%20Rotation%20and%20Cycle%20Length%20Menoza%201999_June.pdf">sunCycles</a></li>
  </ul>
 </li>
  <li><a href="#">solarData</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=tBScyiYIhS4">solar11yr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QxGBoTLzrOk">minimum</a></li>
    <li><a href="ftp://ftp.ngdc.noaa.gov/STP/space-weather/solar-data/solar-indices/sunspot-numbers/american/tables/">noaa</a></li>
    <li><a href="http://ds.iris.edu/SeismiQuery/assembled.phtml">iris</a></li>
    <li><a href="http://www.newx-forecasts.com/">contest</a></li>
  </ul>
 </li>
  <li><a href="../calendars/index.html">calendars</a>
   <ul class="sites">
    <li><a href="../calendars/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../timeU3/index.html">timeline</a>
   <ul class="sites">
    <li><a href="../timeU3/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">ufos</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=hUr_TF9o7sY">oldUfoStuff</a></li> 
    <li><a href="https://www.youtube.com/watch?v=MPTZJw6-quo">more</a></li>
  </ul>
 </li>
  <li><a href="#">jupiter</a>
   <ul class="sites">
    <li><a href="https://youtu.be/-53DhhSCKSE">jupiter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=NmHOj8VQvNE">jupiter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GMKbBAUaKak">jupiter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=YfGHLCwp6m8">titanLks</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9L471ct7YDo">titan</a></li>  
    <li><a href="https://www.youtube.com/watch?v=MMpDaacrlso">ganimede</a></li>  
    <li><a href="https://pdfs.semanticscholar.org/e449/d4c07b786af6bebbf9457981a4bb1c02f9f3.pdf">habGanmede</a></li>  
    <li><a href="https://www.scribd.com/doc/203116947/Ibrahim-Yosip-Yo-Visite-Ganimedes-pdf">ganimedes</a></li>
  </ul>
 </li>
  <li><a href="#">outerPlanets</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=faKnto4Pb6c">outerPlts</a></li>  
    <li><a href="https://youtu.be/iWbqJ003XlM">saturn</a></li>  
    <li><a href="https://www.youtube.com/watch?v=JEDz6wDfMOA">plutoMnts</a></li>  
    <li><a href="https://www.youtube.com/watch?v=_aRAoM1i0D4">uranus</a></li>  
    <li><a href="https://www.youtube.com/watch?v=m4NXbFOiOGk">moreUranus</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Du5hekU95mY">voyager</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xZIB8vauWSI">voyageur</a></li>
  </ul>
 </li>
  <li><a href="#">astroMath</a>
   <ul class="sites">
    <li><a href="https://aa.quae.nl/en/reken/hemelpositie.html">astronomyMath</a></li>  
    <li><a href="http://www2.arnes.si/~gljsentvid10/tutorial_.html#14">astronomyMath2</a></li>  
    <li><a href="https://www.findyourfate.com/astrology/year2019/2019-planetretrogrades.html"></a></li>
    <li><a href="https://www.youtube.com/watch?v=-UpNcC01k5s">planetOrbit</a></li>  
    <li><a href="https://arxiv.org/pdf/0903.5009.pdf">orbitalResonance</a></li>  
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_YW0wjYdUPw">1958Crystals</a></li>
    <li><a href="https://www.youtube.com/watch?v=OI_HFnNTfyU">levitation75</a></li>  
    <li><a href="https://www.youtube.com/watch?v=BWXNzOtRUe4">velkvsky</a></li>    
    <li><a href="https://www.youtube.com/watch?v=4HPtIXlno3w">plnTrque</a></li>
    <li><a href="https://www.youtube.com/watch?v=VQEH0-6x7q8">ancientTree</a></li>  
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
  </ul>
 </li>
</ul>
u3
    <li><a href="https://www.youtube.com/watch?v=jS6DaoaL578">unusualTitan</a></li>  
    <li><a href="https://www.youtube.com/watch?v=CyRyIFV2RyI">redSpot</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4c8eSr7x7AA">saturn11yrs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=gfhiLIktIzA">hubbleResults</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3M1etFO4nQ0">mysOfTitan</a></li> 
    <li><a href="https://www.youtube.com/watch?v=jvx1R9Ac1oY">jpterComets</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Clg7rQB6H2U">p900Zoom</a></li>  
    <li><a href="https://www.youtube.com/watch?v=13eztn3RxQw">ceres</a></li>  

