<ul id="bookmarks">
  <li><a href="#">sirius</a>
   <ul class="sites">
    <li><a href="http://www.viewzone.com/sirius.html">cherryPick</a></li>
    <li><a href="http://gautschy.ch/~rita/archast/sirius/siriuseng.htm">ancientNums</a></li>
    <li><a href="http://www.ronaldbirdsall.com/gizeh/index.htm">digs</a></li>
    <li><a href="http://www.alcyone.de/SIT/mainstars/SIT000499.htm">starData</a></li>
    <li><a href="https://www.youtube.com/watch?v=KkL2nwAmegI">twinSuns</a></li>  
    <li><a href="http://articles.adsabs.harvard.edu/cgi-bin/nph-iarticle_query?2000JHA....31..149S&amp;data_type=PDF_HIGH&amp;whole_paper=YES&amp;type=PRINTER&amp;filetype=.pdf">circleNums</a></li>
    <li><a href="http://www.recons.org/">recons</a></li>
  </ul>
 </li>
  <li><a href="#">data</a>
   <ul class="sites">
    <li><a href="ftp://ftp.ncdc.noaa.gov/pub/data/paleo/contributions_by_author/moberg2005/nhtemp-moberg2005.txt">treeRings</a></li>
    <li><a href="http://ds.iris.edu/SeismiQuery/assembled.phtml">iris</a></li>
    <li><a href="http://articles.adsabs.harvard.edu/">nasa</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Holocene_Sea_Level.png">seaLevel-8k</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Post-Glacial_Sea_Level.png">sLevel-24k</a></li>
    <li><a href="http://climate.envsci.rutgers.edu/IVI2/">eruptions</a></li>
    <li><a href="https://www.youtube.com/watch?v=ldLBoErAhz4">lstWarm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kiIPBnZCmVk">warmngData</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kiIPBnZCmVk">grandSolarMin</a></li>  
    <li><a href="https://www.youtube.com/watch?v=B1KYvz7FFrE">globalWarm</a></li>  
    <li><a href="https://www.youtube.com/watch?v=57M2iTUeDU8">megaFlood</a></li>
  </ul>
 </li>
  <li><a href="#">papers</a>
   <ul class="sites">
    <li><a href="http://robertkernodle.hubpages.com/hub/The-Cosmology-Climate-Connection-How-Extraterrestrial-Forces-Influence-The-Weather">climates</a></li>
    <li><a href="http://ephemeris.com/history/mesopotamia.html">mythology</a></li>
    <li><a href="http://c3headlines.typepad.com">debates</a></li>
  </ul>
 </li>
  <li><a href="../timeU4/index.html">timeline</a>
   <ul class="sites">
    <li><a href="../timeU4/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../calendars1/index.html">calendars</a>
   <ul class="sites">
    <li><a href="../calendars1/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../egypt/index.html">egypt</a>
   <ul class="sites">
    <li><a href="../egypt/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="../maya/index.html">maya</a>
   <ul class="sites">
    <li><a href="../maya/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
   <li><a href="#">almagest</a>
   <ul class="sites">
    <li><a href="https://www.google.com/search?ei=EUuPW6TfGdHR_wT3qKuwBg&q=free+pdf+almagest+download&oq=free+pdf+almagest+download&gs_l=psy-ab.3..33i160.17630.22688..23375...0.0..0.193.2167.0j18......0....1..gws-wiz.......0i71j0i7i30j0i8i7i30j0i7i5i30j33i22i29i30.ZBJy44vqUBw">text</a></li>
    <li><a href="https://www.staff.science.uu.nl/~gent0113/astro/almagestephemeris.htm">calculator</a></li>
    <li><a href="http://www.astro.com/swisseph/swepha_e.htm">9000yrs</a></li>
    <li><a href="https://www.youtube.com/results?search_query=Ptolemy%27s+Almagest+-+Ptolemy%2C+Claudius+%26+Toomer%2C+G._5114">ptolemy</a></li>
    <li><a href="https://www.google.com/search?q=Ptolemy%27s%2520+Almagest%2520-%2520+Ptolemy,%2520+Claudius%2520%26%2520+Toomer,%2520G._5114.pdf&spell=1&sa=X&ved=0ahUKEwiu9pWe8NjdAhVTKH0KHUqBA74QBQgqKAA&biw=905&bih=439&dpr=1.5">almagest</a></li>
  </ul>
 </li>
  <li><a href="#">hopi</a>
   <ul class="sites">
    <li><a href="https://www.google.com/search?q=double+sunset&oq=double+sunset&aqs=chrome..69i57j69i61j69i60j0l3.4036j0j4&sourceid=chrome&ie=UTF-8">doubleSun</a></li>
    <li><a href="http://binaryresearchinstitute.com/bri/">binResearch</a></li>
    <li><a href="https://www.youtube.com/watch?v=Vfh3hrj5PMo">blueKachina</a></li>  
    <li><a href="https://www.youtube.com/watch?v=u0n4QG8fvpw">hopiProphecy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oZWZj20kXKg">kachinaImage</a></li>  
  </ul>
 </li>
   <li><a href="#">images</a>
   <ul class="sites">
    <li><a href="http://www.astro.gsu.edu/RECONS/TOP25.jpg">top25</a></li>
    <li><a href="https://www.youtube.com/watch?v=8ESpLYWb9SQ">alphaCntry</a></li>   
    <li><a href="https://www.google.com/search?q=ice+core+cores+images&biw=546&bih=263&tbm=isch&tbo=u&source=univ&sa=X&ved=0CDIQ7AlqFQoTCKzPiJK1jcYCFZGOkgodWmMDSg#imgrc=hsXw49i4-6RUOM%253A%3BxZ-0a1LGKbMLgM%3Bhttp%253A%252F%252Fc3headlines.typepad.com%252F.a%252F6a010536b58035970c013482e6a00e970c-pi%3Bhttp%253A%252F%252Fwww.c3headlines.com%252Fice-core-data%252Fpage%252F3%252F%3B1179%3B858">iceCores</a></li>
  </ul>
 </li>
  <li><a href="../moreU4/index.html">more</a>
   <ul class="sites">
    <li><a href="../moreU4/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>


