<ul id="bookmarks">
  <li><a href="#">ice cores</a>
   <ul class="sites">
    <li><a href="https://www.google.com/search?q=wikimedia+commons+ice+core+data&biw=1093&bih=526&tbm=isch&tbo=u&source=univ&sa=X&ved=0CCgQ7AlqFQoTCOHZ7ZvVi8YCFUt-kgodWcQIXw&dpr=2.5">coreGraphs</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Vostok_Station#/media/File:Vostok_420ky_4curves_insolation.jpg">420kGraph</a></li>
    <li><a href="http://cdiac.ornl.gov/trends/co2/ice_core_co2.html">C02data</a></li>
    <li><a href="http://research.bpcrc.osu.edu/Icecore/">osu.edu</a></li>
    <li><a href="http://www.c3headlines.com/ice-core-data/page/3/">papers</a></li>
    <li><a href="ftp://ftp.ncdc.noaa.gov/pub/data/paleo/icecore/">index</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Milankovitch_cycles">milankovich</a></li>
    <li><a href="http://sputniknews.com/art_living/20150712/1024511089.html">miniIceAge</a></li>
    <li><a href="https://www.youtube.com/watch?v=7-DZK1iv8H4">500,000 yrs</a></li>
    <li><a href="https://www.youtube.com/watch?v=0XYWpraTgaY">100k</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yXUzXbB9yJ0">10k</a></li>
  </ul>
 </li>
  <li><a href="#">ursa major</a>
   <ul class="sites">
    <li><a href="http://joy.chara.gsu.edu/RECONS/TOP100.posted.htm">recons</a></li>
    <li><a href="http://www.solstation.com/stars2/zeta-ret.htm">zeta</a></li>
    <li><a href="http://medlibrary.org/medwiki/Ursa_Major_Moving_Group">lecture</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:250lys.png">astroMap</a></li>
    <li><a href="http://arxiv.org/abs/0808.3414">properMotion</a></li>
    <li><a href="https://www.youtube.com/watch?v=Wh3xH4uK2r8">waterGalaxy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=X9COAp_QhwA">newPlanet</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XANC1JurpH8">xoPlanets</a></li>   
  </ul>
 </li>
 <li><a href="../historical/index.html">timeline</a>
   <ul class="sites">
    <li><a href="../historical/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
   <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="http://gcmd.nasa.gov/KeywordSearch/Metadata.do?Portal=GCMD&KeywordPath=%5BParameters%3ACategory%3D%27EARTH+SCIENCE%27%2CTopic%3D%27SUN-EARTH+INTERACTIONS%27%2CTerm%3D%27SOLAR+ACTIVITY%27%2CVariable%3D%27SUNSPOTS%27%5D&OrigMetadataNode=GCMD&EntryId=NOAA_NCDC_PALEO_2005-015&MetadataView=Brief&MetadataType=0&lbnode=gcmd3b">nasaData</a></li>
    <li><a href="http://math.umn.edu/~mcgehee/Seminars/ClimateChange/presentations/2013-2Fall/20131029HandOuts.pdf">seminar</a></li>
    <li><a href="https://lup.lub.lu.se/search/publication/130401">velocities</a></li>
    <li><a href="http://www.starclock.org/">egyptClock</a></li>
    <li><a href="http://www.starclock.org/bookdls/Proof.pdf">clockNums</a></li>
    <li><a href="http://www.slideshare.net/s_tacs/venus-transit-2012-details-by-santosh-takale?related=1">vTransit</a></li>
    <li><a href="https://www.youtube.com/watch?v=yvjcpiIYg7Y">u5Techngy</a></li>  
  </ul>
 </li>
 <li><a href="../index.html">&#160;&#160;&#60;--</a></li>
</ul>

