<ul id="bookmarks">
  <li><a href="#">geoMagnetics</a>
   <ul class="sites">
    <li><a href="http://www.docs-engine.com/pdf/2/geomag.html">Geomag</a></l>
    <li><a href="http://www.reeve.com/Documents/SAM/GeomagnetismTutorial.pdf">tutorial</a></l>    
    <li><a href="http://www.soest.hawaii.edu/GG/FACULTY/ITO/GG450/Lowrey_Geomagnetism.pdf">Lowrey</a></l>
    <li><a href="ftp://ftp.ngdc.noaa.gov/wdc/geomagnetism/docs/publications/1966/Wilson_1966_723.pdf">Wilson</a></l>   
    <li><a href="http://stackoverflow.com/questions/15380632/in-ios-what-is-the-difference-between-the-magnetic-field-values-from-the-core-l">mCalibration</a></li>
    <li><a href="http://www.androidauthority.com/metal-sniffer-app-review-94472/">mApp</a></li>
   </ul>
  </li>
 <li><a href="#">mResonance</a>
  <ul class="sites">
    <li><a href="https://en.wikipedia.org/wiki/Larmor_precession">precession</a></l>
    <li><a href="https://en.wikipedia.org/wiki/Proton_magnetometer">measurement</a></l>   
    <li><a href="https://en.wikipedia.org/wiki/Cyclotron_resonance">cyclotronR</a></l>    
    <li><a href="https://en.wikipedia.org/wiki/SQUID">SQUID</a></l>    
    <li><a href="https://itunes.apple.com/us/app/insensitive/id385275424?mt=8">nmr</a></l>
    <li><a href="https://itunes.apple.com/us/app/spindrops/id891357240?mt=8">moreApps</a></l>
   </ul>
  </li>
  <li><a href="../plasma/index.html">plasmaPhys</a>
   <ul class="sites">
    <li><a href="../plasma/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
  <li><a href="#">archives</a>
   <ul class="sites">
    <li><a href="http://www.scholarpedia.org/article/Scholarpedia:Topics">scholarpedia</a></li>
    <li><a href="http://arxiv.org/">cornell</a></li>
    <li><a href="http://www.currentscience.ac.in/Volumes/107/04/0596.pdf">seismicULF</a></li>
  </ul>
 </li>
  <li><a href="#">earthQuakes</a>
   <ul class="sites">
    <li><a href="http://arxiv.org/pdf/1308.3681.pdf">seismicVLF</a></li>
    <li><a href="http://phoenix-geophysics.com/applications/earthquake_research/taov15n3p329.pdf">seismicGMF</a></li>
    <li><a href="http://www.hindawi.com/journals/ijge/2012/406278/">geophysics</a></li>
  </ul>
 </li>
  <li><a href="#">data</a>
   <ul class="sites">
    <li><a href="http://geomag.usgs.gov/products/downloads.php">usgsData</a></li>
    <li><a href="http://spidr.ngdc.noaa.gov/spidr/friend.do?hlink=http://spidr.ngdc.noaa.gov/spidrvo/">spidrData</a></li>
    <li><a href="http://www.trifield.com/content/magnetism/?gclid=CN_9zOmtysYCFRdsfgodRR4Fng">meters</a></li>
  </ul>
 </li>
  <li><a href="#">ULFpapers</a>
   <ul class="sites">
    <li><a href="http://magbase.rssi.ru/REFMAN/SPPHTEXT/ulf.html">results</a></li>
    <li><a href="https://www.revolvy.com/page/International%252DAssociation%252Dof%252DGeomagnetism%252Dand%252DAeronomy?stype=topics&cmd=list">dubrov</a></li>
    <li><a href="https://www.google.com/search?q=dubrov+the+geomagnetic+field+and+life+pdf&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi9yuG637zfAhXCqVQKHdgDC_w4FBD8BQgPKAI&biw=1093&bih=537#imgrc=_">dubrovSearch</a></li>
    <li><a href="https://www.plasma-universe.com/Alfv%C3%A9n_wave">alfven</a></li>   
    <li><a href="https://nvlpubs.nist.gov/nistpubs/jres/69D/jresv69Dn8p1107_A1b.pdf">troitskaya</a></li>   
    <li><a href="http://www.readcube.com/articles/10.12737%2Fstp-33201709  anniversary">valeria</a></li>
  </ul>
 </li>
 <li><a href="../em/index.html">&#160;&#160;&#60;--</a></li>
</ul>
