
<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">observatories</a>
   <ul class="sites">
    <li><a href="https://keplerscience.arc.nasa.gov/">kepler</a></li>  
    <li><a href="<li><a href="hubblesite.org">hubble</a></li> 
    <li><a href="https://www.nasa.gov/content/goddard/hubble-s-messier-catalog">hubble</a></li>  
    <li><a href="http://www.keckobservatory.org/about/observing/">keck</a></li>  
    <li><a href="https://www.salt.ac.za/">salt</a></li>  
    <li><a href="http://www.gemini.edu/">gemini</a></li>
    <li><a href="https://www.youtube.com/watch?v=aZPkFJqeetE">cheapScope</a></li>  
  </ul>
 </li>
 <li><a href="em.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>
