<ul id="bookmarks">
  <li><a href="#">scalars</a>
   <ul class="sites">
    <li><a href="https://youtu.be/cpoBZeOCcZo?t=9">longitudinalEM</a></li>
    <li><a href="http://ericpdollard.com/">Eric</a></li>
    <li><a href="https://youtu.be/6BnCUBKgnnc?t=1788">again</a></li>
    <li><a href="https://youtu.be/yk4CJLjNwfQ?t=3">TeslaCoil</a></li>
    <li><a href="https://www.youtube.com/watch?v=YZ7I9XgaW3A">teslas'S</a></li>  
    <li><a href="http://www.padrak.com/vesperman/102_Electrical_Energy_Innovations_7.25.14.pdf">padrak</a></li>
    <li><a href="http://signallake.com/innovation/GeneralizedClassicalElectrodynamics.pdf">scalarFields</a></li>
    <li><a href="http://www.tuks.nl/pdf/Reference_Material/deltaavalon/L.M.D.%20waves%20in%20a%20Tesla%20Coil%20revised.pdf">longdPDF</a></li>
    <li><a href="http://www.k-meyl.de/go/Primaerliteratur/Scalar-Waves.pdf">scalars</a></li>
    <li><a href="https://www.zpenergy.com/downloads/Orig_maxwell_equations.pdf">notation</a></li>
    <li><a href="http://www.novam-research.com/resources/What-are-Scalar-Waves_Horst-Eckardt_Jan-2012.pdf">scalars</a></li>
    <li><a href="https://www.google.com/search?q=WAV02+-+The+Scalar+Wave+Equation-R3KHaRWzpFM.webm&oq=WAV02+-+The+Scalar+Wave+Equation-R3KHaRWzpFM.webm&aqs=chrome..69i57.13400j0j9&client=ubuntu&sourceid=chrome&ie=UTF-8">search</a></li>
  </ul>
 </li>
  <li><a href="#">tesla1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_IWqPV9p0pk">teslaSc</a></li>
    <li><a href="https://www.youtube.com/watch?v=qpZL9WCvuTI">tsla1.5hr</a></li>
    <li><a href="https://www.youtube.com/watch?v=KetorChqjCU">teslaPreds</a></li>  
    <li><a href="https://www.youtube.com/watch?v=177vg1pEGbo">tesla</a></li>  
    <li><a href="https://www.youtube.com/watch?v=3zjnX41K1pE">miniTesla</a></li>  
    <li><a href="https://www.youtube.com/watch?v=50hV_8RsnQk">teslaUfo</a></li>  
    <li><a href="https://www.youtube.com/watch?v=mrnul6ixX90">teslaInv</a></li>  
    <li><a href="https://www.youtube.com/watch?v=qpZL9WCvuTI">teslaDoc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7ATzLkr9JXk">mreTesla</a></li>
    <li><a href="https://www.youtube.com/watch?v=GdhTVwSygqo">teslaCoil</a></li>
    <li><a href="https://www.youtube.com/watch?v=YZ7I9XgaW3A">undrstood</a></li>    
  </ul>
 </li>
  <li><a href="#">tesla2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=HK3JOlY0V8Y">teslaApps</a></li>
    <li><a href="https://www.youtube.com/watch?v=YZ7I9XgaW3A">tesla</a></li>  
    <li><a href="https://www.youtube.com/watch?v=HK3JOlY0V8Y">tesla5000</a></li>  
    <li><a href="https://www.youtube.com/watch?v=7ATzLkr9JXk">teslaRevived</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Mg7FI8cAuQs">tesla369</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ow1hxClR5J8">radioBasics</a></li>  
    <li><a href="http://www.vlf.it/cumiana/livedata.html">vlfLive</a></li>
    <li><a href="https://www.youtube.com/watch?v=pgLzhAEWxJg">unipl1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=aKr8ub5ZXls">unipl2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=XW9I_5E0HuM">levitr</a></li> 
    <li><a href="https://www.youtube.com/watch?v=vzY06MRzwPE">zeroPoint</a></li>  
  </ul>
 </li>
 <li><a href="../em/index.html">&#160;&#160;&#60;--</a></li>
</ul>
