<!DOCTYPE html><html lang="en" ><head><meta charset="utf-8" /><title> menu | Bookmarks </title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
<ul id="bookmarks">
  <li><a href="#">wifi1</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Jc3zBaBwWok">wifiSoftwre</a></li>
    <li><a href="https://www.youtube.com/watch?v=wwC-52qh9q8">wifiPasswrd</a></li>
    <li><a href="https://www.youtube.com/watch?v=KD93iVaLan0">freeOnAny</a></li>
    <li><a href="https://www.youtube.com/watch?v=SXml5F55SRY">simAntenna</a></li>
    <li><a href="https://www.youtube.com/watch?v=7n8t62anxIQ">loPowerWifi</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WR4W1-MhRhc">freedomPop</a></li> 
    <li><a href="https://www.youtube.com/watch?v=8q80mV7-SHw">freeInt</a></li>
    <li><a href="https://www.youtube.com/watch?v=Nk-nj_BwoBE">wifiGn</a></li>
    <li><a href="https://www.youtube.com/watch?v=F_JNV6dBubw">wifiChip</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ufMNDMlHpC0">fasterWifi</a></li> 
  </ul>
 </li>
  <li><a href="#">wifi2</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=6YtEmqM2-ns">sgnlBstr</a></li>
    <li><a href="https://www.youtube.com/watch?v=-L1eI4vECo4">hmeNets</a></li>
    <li><a href="https://www.youtube.com/watch?v=AYYOSMIBgYk">internet</a></li>
    <li><a href="https://www.youtube.com/watch?v=m0RPLOFtk1Y">chpNtrnt</a></li>
    <li><a href="https://www.youtube.com/watch?v=cNfCFuh1ukg">wifi tips</a></li>
    <li><a href="https://www.youtube.com/watch?v=g3LT_b6K0Mc">seeWifi</a></li>
    <li><a href="https://www.youtube.com/watch?v=KD93iVaLan0">freeIntnet</a></li>
    <li><a href="https://www.youtube.com/watch?v=s1mA5zCWmwY">freeI</a></li>    
    <li><a href="https://www.youtube.com/watch?v=DfPgDxsD5p4">wifiBooster</a></li>
    <li><a href="https://www.youtube.com/watch?v=vaR3owF8G1k">freeInternet</a></li>  
  </ul>
 </li>
  <li><a href="#">newWifi</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=X3YmbctfKRI">for</a></li>  
    <li><a href="https://www.youtube.com/watch?v=J_bf_KE5llQ">difference</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2DG3pMcNNlw">msnbc</a></li>  
    <li><a href="https://www.youtube.com/watch?v=GEx_d0SjvS0">ieee</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xkJk3iHA91g">howWorks</a></li> 
    <li><a href="https://www.youtube.com/watch?v=0U2tRcsQvKo">bigChanges</a></li> 
  </ul>
 </li>
  <li><a href="#">against</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=LhECDSuXRDs">warn</a></li>  
    <li><a href="https://www.youtube.com/watch?v=oY5SReQ2Kqc">warn</a></li>  
    <li><a href="https://www.youtube.com/watch?v=-yOwzTXUTuA">warn2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Ua1QzJi6Cwc">warn3</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Qmg_a316qb0">warn4</a></li>
    <li><a href="https://www.youtube.com/watch?v=5hfZxsGcWB4">future</a></li>
    <li><a href="https://www.youtube.com/watch?v=j-UEuOYOED4">senatorAgnst</a></li>  
  </ul>
 </li>
  <li><a href="#">moreAgainst</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=kG8WaCJ0jH4">danger</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ICA19oKPi5I">wifiDanger</a></li>
    <li><a href="https://www.youtube.com/watch?v=K6ntOVK-8no">cellBiologists</a></li>
    <li><a href="https://www.youtube.com/watch?v=xkJk3iHA91g">phone</a></li>  
    <li><a href="https://www.youtube.com/watch?v=NUa_XbgZgq8">cityCouncil</a></li>   
    <li><a href="https://www.youtube.com/watch?v=sYmgkklXTSA">marino</a></li>   
    <li><a href="https://www.youtube.com/watch?v=2DG3pMcNNlw">moreDanger</a></li> 
  </ul>
 </li> 
  <li><a href="#">alternatives</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_ahqNeH4NFw">ethernet</a></li> 
    <li><a href="https://www.youtube.com/watch?v=MzYBNMS6dzw">moreEthernet</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ds2tMXBWdFQ">IsraelNo</a></li>
    <li><a href="https://www.youtube.com/watch?v=rmU_oHaPFIs">sittingOut</a></li>
    <li><a href="https://www.youtube.com/watch?v=oMQ2pXqdhrE">pemfTherapy</a></li>  
  </ul>
 </li>
  <li><a href="#">measurement</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=MQ_t39kAdi8">emfMeter</a></li> 
    <li><a href="https://www.youtube.com/watch?v=ICA19oKPi5I">wifiMeasured</a></li>  
    <li><a href="https://www.youtube.com/watch?v=cmS5pVEZHzg">emfBlocked</a></li>  
  </ul>
 </li>
 <li><a href="electronics.html">&#160;&#160;&#60;--</a></li>
</ul>
</div>
</body>
</html>
 