<ul id="bookmarks">
  <li><a href="#">coding</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=x6GYD5WPda4">freeLnce</a></li>  
    <li><a href="https://www.upwork.com/">upwork</a></li>
    <li><a href="https://www.freelancer.com/">freelncr</a></li>
    <li><a href="https://www.toptal.com/">toptal</a></li>
    <li><a href="https://www.patreon.com/">patreon</a></li>
    <li><a href="https://www.wework.com/">wework</a></li>
    <li><a href="https://www.youtube.com/watch?v=Wjow--bYuJQ">progJob</a></li>
    <li><a href="https://www.youtube.com/watch?v=UFmqH_hOdpk">freeLnce</a></li>  
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=YbPCtALcVdo">5devTls</a></li>  
    <li><a href="https://slack.com/">slack</a></li>
    <li><a href="https://www.youtube.com/watch?v=u7n9t1cBei8">dlWoFrwk</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2cbvZf1jIJM">wdPress</a></li>  
    <li><a href="https://www.youtube.com/watch?v=h__Za7_htVw">googleWork</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2eLe7uz-7CM">a+Cert</a></li>  
    <li><a href="https://youtu.be/jS-rD6HuxIk?t=1">market</a></li>  
    <li><a href="https://www.youtube.com/watch?v=UwrkfHadeQQ">sellHdwr</a></li>  
    <li><a href="https://www.youtube.com/watch?v=dgEejCFdEU0">mkeUdemy</a></li>  
    <li><a href="https://www.youtube.com/watch?v=9bbS-trc8ys">startUp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=illAMNRHHSU">jobsLive</a></li>  
  </ul>
 </li>
  <li><a href="#">git</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=ZDR433b0HJY">git</a></li>  
    <li><a href="https://www.youtube.com/watch?v=xuB1Id2Wxak">git&hub</a></li>  
    <li><a href="http://w3c.github.io/developers/tools/">gitHubW3c</a></li>
    <li><a href="http://www.gitpro.org/">gitpro</a></li> 
    <li><a href="https://www.youtube.com/watch?v=_kXxSca0AgA">testAps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=SWYqp7iY_Tc">github</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0fKg7e37bQE">gitMac</a></li>
    <li><a href="https://www.youtube.com/watch?v=4VY0kHqIqyU">github</a></li>  
  </ul>
 </li>
  <li><a href="#">vue</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=Fa4cRMaTDUI">vue</a></li>  
    <li><a href="https://www.youtube.com/watch?v=z6hQqgvGI4Y">vue1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=78tNYZUS-ps">vue2</a></li>  
  </ul>
 </li>
  <li><a href="#">jenkins</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=R0gyFokexks">jenkins</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Lxd6JMMxuwo">jenkins1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4PTYVIaBT1Q">scheduling</a></li>  
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
 </li>
  <li><a href="#">scala</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_qRYOayG9SM">scala</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DzFt0YkZo8M">scala1</a></li>  
  </ul>
 </li>
  <li><a href="#">other</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=SYltkd8pPLM">indeed</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Op-sKPePo2o">instagram</a></li>   
    <li><a href="https://www.youtube.com/watch?v=fqNswT0jNDE">freeDegs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=32thlMnUqaQ">freeClass</a></li>
    <li><a href="https://www.youtube.com/watch?v=bq_4QKpInYY">googleWork</a></li>  
    <li><a href="https://www.youtube.com/watch?v=b5INK8IWfLE">googleMaps</a></li>  
  </ul>
 </li>
  <li><a href="../moreWork/index.html">moreWork</a>
   <ul class="sites">
    <li><a href="../moreWork/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../code/index.html">&#160;&#160;&#60;--</a></li>
</ul>


    <li><a href="https://www.youtube.com/watch?v=xdqZ_Y9JNp0">awsCert</a></li>  
    <li><a href="https://www.youtube.com/watch?v=AJiIsA7X-SA">kubernetesForDevOps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=JHoy3lDZOfY">devOps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WbwIoQYP6no">git</a></li>  
    <li><a href="https://www.youtube.com/watch?v=ZQuE0wfjzf0">youtubeAlts</a></li>  
    <li><a href="https://drive.google.com/file/d/1Euy-eFgbsUroLNaxHF_QeeKcIdtlDPen/view">freeResources</a></li>  
work

    <li><a href="https://www.youtube.com/watch?v=zElSfosZ48o">business e-mail</a></li>  
    <li><a href="https://www.bypeople.com/mammoth-7500-icons-collection-ai-sketch-eps-file-formats-extended-commercial-use-license/">icons</a></li>
    <li><a href="https://www.youtube.com/watch?v=9EdhUfJy65o">makeOnlineStore</a></li>  
    <li><a href="https://www.youtube.com/watch?v=EAj0ZsYcHkQ">onLineWork</a></li>  

