<ul id="bookmarks">
  <li><a href="#">coding</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=x6GYD5WPda4">freeLnce</a></li>  
    <li><a href="https://www.upwork.com/">upwork</a></li>
    <li><a href="https://www.freelancer.com/">freelncr</a></li>
    <li><a href="https://www.toptal.com/">toptal</a></li>
    <li><a href="https://www.patreon.com/">patreon</a></li>
    <li><a href="https://www.wework.com/">wework</a></li>
    <li><a href="https://www.youtube.com/watch?v=Wjow--bYuJQ">progJob</a></li>
    <li><a href="https://www.youtube.com/watch?v=UFmqH_hOdpk">freeLnce</a></li>  
  </ul>
 </li>
  <li><a href="#">gigs</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=UwrkfHadeQQ">sellHdwr</a></li> 
    <li><a href="https://www.youtube.com/watch?v=18skg9IHB18">devGigs</a></li>  
    <li><a href="https://www.youtube.com/watch?v=QJDR1_I1aYU">idSellers</a></li> 
    <li><a href="https://www.youtube.com/watch?v=9bbS-trc8ys">startUp</a></li>  
    <li><a href="https://www.youtube.com/watch?v=illAMNRHHSU">jobsLive</a></li> 
    <li><a href="https://www.tan-doo.com/">tanDoo</a></li> 
  </ul>
 </li>
<li><a href="#">jenkins</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=R0gyFokexks">jenkins</a></li>  
    <li><a href="https://www.youtube.com/watch?v=Lxd6JMMxuwo">jenkins1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=4PTYVIaBT1Q">scheduling</a></li>  
  </ul>
 </li>
  <li><a href="#">scala</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=_qRYOayG9SM">scala</a></li>  
    <li><a href="https://www.youtube.com/watch?v=DzFt0YkZo8M">scala1</a></li>  
  </ul>
 </li>
  <li><a href="#">google</a>
   <ul class="sites">
    <li><a href="https://www.youtube.com/watch?v=bq_4QKpInYY">googleWork</a></li>  
    <li><a href="https://www.youtube.com/watch?v=b5INK8IWfLE">googleMaps</a></li>  
    <li><a href="https://www.youtube.com/watch?v=h__Za7_htVw">googleWork</a></li>  
  </ul>
 </li>
  <li><a href="../moreWork/index.html">moreWork</a>
   <ul class="sites">
    <li><a href="../moreWork/index.html">&#160;&#160;--&gt;</a></li>
  </ul>
 </li>
 <li><a href="../code/index.html">&#160;&#160;&#60;--</a></li>
</ul>



