  <ul id="bookmarks">
  <li><a href="#">chatDsn</a>
   <ul class="sites">
    <li><a href="https://www.linkedin.com/learning/building-chatbots-using-google-dialogflow/chatbot-creation-with-google-dialogflow?autoplay=true">dialogflow</a></li>
    <li><a href="https://www.linkedin.com/learning/customer-service-using-ai-and-machine-learning/what-are-artificial-intelligence-ai-and-machine-learning-ml?autoSkip=true&autoplay=true&resume=false">aiForCs</a></li>
    <li><a href="https://www.coursera.org/learn/aws-fundamentals-building-serverless-applications">awsLmda</a></li>
    <li><a href="https://www.discudemy.com/machine-learning/artificial-intelligence-markup-language">aiMarkup</a></li>
    <li><a href="https://www.discudemy.com/mining-cryptocurrencies-using-cpu-for-fun-and-profit">crypto</a></li>
    <li><a href="https://www.discudemy.com/go/search-engine-optimization-complete-specialization-course">seo</a></li>
    <li><a href="https://www.discudemy.com/machine-learning/applied-deep-learning-build-a-chatbot-theory-application">deepChat</a></li>
    <li><a href="https://helpsquad.com/livechatservice/?utm_source=google&utm_medium=cpc&utm_adgroup=&utm_keyword=live%20chat%20agent%20training&utm_device=c&matchtype=e&location=9030237&utm_campaign=&gclid=Cj0KCQjw6J-SBhCrARIsAH0yMZgztKmFH6wileontBa4pZe2kyQSIrh7sNfeq7z4PpzWsg04KDJ3tWEaArMeEALw_wcB">hlpSquad</a></li>
    <li><a href="https://blog.hubspot.com/service/free-live-chat-software">freeBot</a></li>
    <li><a href="https://www.hubspot.com/products/crm/live-chat?utm_content=&utm_source=google&utm_medium=paid&utm_term=crm_free%20live%20chat%20support_EN&utm_campaign=CRM_Portals_EN_NAM_NAM_LiveChat-NonBrand-Free_e_c_campaignid13428379862_agid118427759010_google&utm_id=526236461709&gclid=Cj0KCQjw6J-SBhCrARIsAH0yMZgoNAR5QW5L5t246xN38c2zP9_pmrjUiNBeiqnVzyDmsHq7qQXPalkaAv50EALw_wcB">hubSpot</a></li>
    <li><a href="https://www.linkedin.com/learning/build-your-first-chatbot-with-sap-conversational-ai/create-voice-controlled-interactions-with-sap?autoplay=true">sapAi</a></li>
    <li><a href="https://www.linkedin.com/learning/building-intelligent-chatbots-on-aws/creating-chatbots?autoplay=true">awsBots</a></li>
 </ul>
</li>
  <li><a href="#">tools1</a>
   <ul class="sites">
    <li><a href="https://www.discudemy.com/machine-learning/applied-deep-learning-build-a-chatbot-theory-application">awsBots</a></li>
    <li><a href="https://www.sap.com/germany/products/business-technology-platform/trial.html#individual-users">awsBots</a></li>
    <li><a href="https://www.linkedin.com/learning/build-your-first-chatbot-with-sap-conversational-ai/create-voice-controlled-interactions-with-sap?autoplay=true">awsBots</a></li>
    <li><a href="https://scribus.net">pubs</a></l>  
    <li><a href="https://strawberrymusicplayer.org/">player</a></l>
    <li><a href="https://www.onlyoffice.com/">office</a></l>
    <li><a href="https://www.darktable.org/">negs</a></l>
    <li><a href="https://www.digikam.org/">digicam</a></l>
    <li><a href="https://standardnotes.com/">stNotes</a></l>
    <li><a href="https://simplenote.com/">simplenote</a></l>
    <li><a href="https://joplinapp.org/">joplin</a></l>
 </ul>
</li>
  <li><a href="#">tools2</a>
   <ul class="sites">
    <li><a href="https://www.blackmagicdesign.com/products/fusion/">3d</a></l>
    <li><a href="https://sourceforge.net/projects/natron/">composits</a></l>  
    <li><a href="https://www.blender.org/">blender</a></l>
    <li><a href="https://kdenlive.org/en/">kdenlive</a></l>
    <li><a href="https://www.designer.io/en/?psd-campaign=1693840974&psd-adgroup=66081713215&psd-kw=gravit%20designer&campaignid=1693840974&adgroupid=66081713215&adid=554355878061">gravit</a></l>  
    <li><a href="https://pencil.evolus.vn/">pencil</a></l>
    <li><a href="https://inkscape.org/">inkscape</a></l>
    <li><a href="https://krita.org/en/">krita</a></l>
    <li><a href="https://www.youtube.com/watch?v=57DNUsf4A-0">photoGimp</a></l>  
    <li><a href="https://www.freecadweb.org/">freeCad</a></l>
    <li><a href="https://ardour.org/">muscEditr</a></l>  
 </ul>
</li>
  <li><a href="#">tools3</a>
   <ul class="sites">
    <li><a href="https://insurity.com">insurity</a></l>
    <li><a href="https://startech.com">startech</a></l>
    <li><a href="https://www.wework.com/">wework</a></li>
    <li><a href="https://try.digitalocean.com/businesses/?utm_source=facebook&utm_medium=paid_social&utm_campaign=Zammo_US_Desktop_BusinessLP_Paid_Social_LAL_PricePerf">fiftyCred</a></li> 
    <li><a href="https://www.techjockey.com/blog/?s=call+centre&form_fill_url=https%3A%2F%2Fwww.techjockey.com%2Fblog%2F">virtualPhone</a></li>
    <li><a href="https://talktopoint.com/us-free-virtual-phone-number/">talkToPoint</a></li>  
    <li><a href="bitrix24.com/free-call-center-software/">bitrix24</a></li>
    <li><a href="https://liveagent.com/free-call-center-software.php">liveAgent</a></li>
    <li><a href="wikiwalls.com/us-free-virtual-phone-number/">wikiwalls</a></li>
    <li><a href="https://www.youmail.com/">youMail</a></li> 
  </ul>
 </li>
  <li><a href="#">tools4</a>
   <ul class="sites">
    <li><a href="https://lmms.io/">lmms</a></l>
    <li><a href="https://www.audacityteam.org/">audacity</a></l>
    <li><a href="https://handbrake.fr/">transc</a></l>  
    <li><a href="https://mpv.io/">mPlayer</a></l>  
    <li><a href="https://telegram.org/">telegram</a></l>
    <li><a href="https://signal.org/en/">signal</a></l>
    <li><a href="https://www.thunderbird.net/en-US/">thunderbird</a></l>
    <li><a href="https://newtonhq.com/#app">newtonhq</a></l>
    <li><a href="https://getmailspring.com/">mailSpring</a></l>
  </ul>
 </li>
  <li><a href="#">gigs</a>
   <ul class="sites">
    <li><a href="https://affiliate-program.amazon.com">affiliate</a></li>
    <li><a href="https://progressive.com">progressive</a></l>
    <li><a href="https://magoosh.com">magoosh</a></l>
    <li><a href="https://www.liveworld.com/careers/?job=1#jobs">liveworld</a></l>
    <li><a href="https://onlinewritingjobs.com">writing</a></l>
    <li><a href="https://writeraccess.com">writer</a></l>
    <li><a href="https://peopleperhour.com">perhour</a></l>
    <li><a href="https://glassdoor.com">glassdoor</a></l>
    <li><a href="https://percepta.com">percepta</a></l>
  </ul>
 </li>
  <li><a href="#">mentors</a>
   <ul class="sites">
    <li><a href="https://www.dreamhomebasedwork.com">mentor</a></l>
    <li><a href="https://www.micromentor.org/">microMentor</a></li> 
    <li><a href="https://www.youtube.com/watch?v=b5INK8IWfLE">bigmarkTV</a></l>
  </ul>
 </li>
  <li><a href="#">freelancing</a>
   <ul class="sites">
    <li><a href="https://www.upwork.com/">upwork</a></li>
    <li><a href="https://www.freelancer.com/">freelancer</a></li>
    <li><a href="https://www.toptal.com/">toptal</a></li>
    <li><a href="https://www.patreon.com/">patreon</a></li>
    <li><a href="https://www.wwork.com/">wwork</a></li>
    <li><a href="https://www.fiverr.com/">fiverr</a></li>
    <li><a href="https://selly.io/">sellOnline</a></li> 
  </ul>
 </li>
  <li><a href="#">dropshipping</a>
   <ul class="sites">
    <li><a href="https://www.oberlo.com/?gclid=EAIaIQobChMIy43NvMzU3wIVexetBh2-xgqTEAEYASAAEgL52PD_BwE">Oberlo</a></li> 
    <li><a href="https://sell.amazon.com/learn/what-is-dropshipping">Amazon</a></li>
    <li><a href="https://dropshiplifestyle.com">videos</a></li>
  </ul>
 </li>
  <li><a href="#">chat</a>
   <ul class="sites">
    <li><a href="https://thechatspot.html">theChatSpot</a></li>
    <li><a href="1888typeitupcom">typeItUp</a></li>
    <li><a href="ratatype.com">ratatype</a></li>
    <li><a href="typing.com">typing</a></li>
  </ul>
 </li>
  <li><a href="#">cloud</a>
   <ul class="sites">
    <li><a href="https://www.paperspace.com/?utm_source=adwords&utm_medium=cpc&utm_campaign=youtube&gclid=Cj0KCQiA05zhBRCMARIsACKDWjcvB21-ROo0ypoIQu4JNEJytrvHw_QyQ4Va7cKmXcmrIJMJlPyS7hYaApX7EALw_wcB">paperspace</a></li> 
    <li><a href="https://www.sitepoint.com/ipfs-swarm-decentralized-content-publication-storage/">sitePoint</a></li>
  </ul>
 </li>
  <li><a href="#">freeStuff </a>
   <ul class="sites">
    <li><a href="https://drive.google.com/file/d/1Euy-eFgbsUroLNaxHF_QeeKcIdtlDPen/view">freeResources</a></li>  
    <li><a href="https://www.bypeople.com/mammoth-7500-icons-collection-ai-sketch-eps-file-formats-extended-commercial-use-license/">icons</a></li>
<li><a href="https://archive.org/">freeArchve</a></li> 
<li><a https://www.bypeople.com/mammoth-7500-icons-collection-ai-sketch-eps-file-formats-extended-commercial-use-license/
https://drive.google.com/file/d/1Euy-eFgbsUroLNaxHF_QeeKcIdtlDPen/view">freebies</a></li>
 </ul>
</li>


